<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<!-- navigation BOF -->
<div class="block block-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Categories'); ?></span></strong>
    </div>
    <div class="block-content">
        <ul id="categories-nav" class="nav-accordion nav-categories">
            <?php echo $this->renderCategoriesMenuHtml(TRUE, TRUE, 0, 'level-top', '', TRUE); ?>
        </ul>
        <script type="text/javascript">
            $typo(document).ready(function() {
                $typo("#categories-nav").TypoAccordion({
                    accordion:true,
                    speed: 400,
                    closedSign: 'collapse icon_plus',
                    openedSign: 'expand icon_minus-06',
                    mouseType: 0,
                    easing: 'easeInOutQuad'
                });
				$typo(".expand").empty();
            });
        </script>
    </div>
</div>
<!-- navigation EOF -->