<!-- navigation mobile -->

<div class="typo-nav overlay overlay-contentscale">
    <button type="button" class="overlay-close"><span aria-hidden="true" class="icon_close"></span></button>
    <nav class="navbar">
        <ul id="typo-accordion" class="nav-accordion nav-mobile-accordion">
            <li class="home"><a href="<?php echo $this->getBaseUrl(); ?>"><span class="fa fa-home"></span></a></li>
            <?php echo $this->renderCategoriesMenuHtml(TRUE, FALSE, 0, 'level-top'); ?>
            <?php
            if(Mage::getStoreConfig('typologancee/menu/enable_custom')){
                $urlkey = Mage::getStoreConfig('typologancee/menu/url_key');
                $arrayUrlKey = explode(";", $urlkey);
                foreach($arrayUrlKey as $url){
                    $condition = explode(':', $url);
                    $page = Mage::getModel('cms/page')->load($condition[0], 'identifier');
                    if(isset($condition[1])) $class = 'mobi-item-'.$condition[1];
                    if($page->getIsActive()) {
                ?> 
                    <li class="level0 level-top parent custom-block-mobile <?php if($routeName == 'cms' && $identifier == $page->getIdentifier()) {echo " active";}?> <?php echo $class;?>">
                        <a href="<?php echo Mage::helper('cms/page')->getPageUrl($condition[0]);?>" class="level-top">
                            <span><?php echo $page->getTitle();?></span>
                        </a> 
                    </li> 
                <?php 
                    }
                }
            }
            ?>
        </ul>
    </nav>
    <script type="text/javascript">
        $typo(document).ready(function() {
            $typo("#typo-accordion").TypoAccordion({
                accordion:true,
                speed: 400,
                closedSign: 'collapse icon_plus',
                openedSign: 'expand icon_minus-06',
                mouseType: 0,
                easing: 'easeInOutQuad'
            });
            $typo(".expand").empty();
        });

        (function($){
            $(window).load(function(){
                $(".navbar").mCustomScrollbar({
                    theme:"light-2",
                    scrollButtons:{
                      enable:false
                    }
                });
            });
        })(jQuery);
    </script>
</div>
