<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<!-- navigation BOF -->
<?php
$theme = $this->helper('typologancee');
$_menu = $this->renderCategoriesMenuHtml(FALSE, FALSE, 0, 'level-top', 'sub-wrapper', False );
$routeName = Mage::app()->getRequest()->getRouteName();
$identifier = Mage::getSingleton('cms/page')->getIdentifier();
?> 
<?php if($_menu): ?>
<div class="typo-navigation hidden-xs">
    <div class="typo-main-menu">
        <ul id="typonav" class="megamenu">
            <?php if(Mage::getStoreConfig('typologancee/menu/home')){?>
            <li class="level0 home level-top <?php if($theme->getIsHomePage()) {echo " active";}?> m-dropdown parent">
                <a href="<?php echo $this->getBaseUrl(); ?>" class="level-top"><span><?php echo $this->__('Home'); ?></span></a>
            </li> 
            <?php }?>
				
            <?php
            echo $_menu;
            if(Mage::getStoreConfig('typologancee/menu/enable_custom')){
                $getidentifier = Mage::getStoreConfig('typologancee/menu/static_identifier');
                $arrayidentifier = explode(";", $getidentifier);
                foreach($arrayidentifier as $mcustom){
                    $static_block = explode(':', $mcustom);
                    $custom_menu = Mage::getModel('cms/block')->load($static_block[0]);
                    if($static_block[1]) $class = 'menu-item-'.$static_block[1];
                    if($custom_menu->getIsActive()) {
                        echo '
                        <li class="level0 level-top parent custom-block '.$class.'">
                            <a href="#" class="level-top">
                                <span>'.$custom_menu->getTitle().'</span>
                            </a>
                            <div class="sub-wrapper">'.$this->stripTags($this->getLayout()->createBlock('cms/block')->setBlockId($static_block[0])->toHtml()).'</div>
                        </li>';
                    }
                } 
                $urlkey = Mage::getStoreConfig('typologancee/menu/url_key');
                $arrayUrlKey = explode(";", $urlkey);
                foreach($arrayUrlKey as $url){
                    $condition = explode(':', $url);
                    $page = Mage::getModel('cms/page')->load($condition[0], 'identifier');
                    if(isset($condition[1])) $class = 'menu-item-'.$condition[1];
                    if($page->getIsActive()) {
                ?> 
                    <li class="level0 level-top parent custom-page <?php if($routeName == 'cms' && $identifier == $page->getIdentifier()) {echo " active";}?> <?php echo $class;?>">
                        <a href="<?php echo Mage::helper('cms/page')->getPageUrl($condition[0]);?>" class="level-top">
                            <span><?php echo $page->getTitle();?></span>
                        </a> 
                    </li> 
                <?php 
                    }
                }
            }
            ?>
			
        </ul>
    </div>
</div>
<?php endif ?>