<?php if ($this->getLayout()->getBlock('root')->getTemplate() == 'page/1column.phtml') : ?>
<div class="sidebar-one-column sidebar">
    <div class="btn-close-filter">
        <i aria-hidden="true" class="icon_close"></i>
    </div>
    <?php echo $this->getChildHtml('catalog.leftnav'); ?>
    <script>
        jQuery(document).ready(function($) {
            $(document).on('click', function(event) {
                if (!$(event.target).closest('.btn-open-filter, .sidebar-one-column').length) {
                    $('.sidebar-one-column').removeClass('showing');
                }
            });
            $(document).on('click', '.btn-open-filter', function(event) {
                event.preventDefault();
                if (!$('.sidebar-one-column.showing').length) {
                    $('.sidebar-one-column').addClass('showing');
                };
            });
            $(document).on('click', '.btn-close-filter', function(event) {
                event.preventDefault();
                $('.sidebar-one-column').removeClass('showing');
            });
        });
    </script>
</div>
<?php endif; ?>