<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
    $bar = Mage::helper('typostoresfilter')->getConfig('typostoresfilter/general/bar');
    $barColor = '#'.Mage::helper('typostoresfilter')->getConfig('typostoresfilter/general/bar_color');
?>

<div class="price-range">
    <div id="<?php echo $this->getHash()?>" class="price-slider"></div>
</div>
<div class="layer-price">
    <span class="title"><?php echo $this->__('Range'); ?> :</span> <?php echo $this->getCurrencySymbol()?><span id="layer-price-min"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<?php echo $this->getCurrencySymbol()?><span id="layer-price-max"></span>
</div>
<script type="text/javascript">
    window.typostoresFilter.initPriceFilter(<?php echo $this->getConfig()?>);
    $typo('.price-slider').slider();
</script>