<?php
$theme = $this->helper('typologancee');
$newsLetter = $theme->getCfg('sidebar_blocks_home/home_newsletter');
$title1 = $this->stripTags($theme->getCfg('sidebar_blocks_home/title_newsletter'));
$title2 = $this->stripTags($theme->getCfg('sidebar_blocks_home/title_small_newsletter'));
?>
<?php if($newsLetter):?>
<div class="subscribe clearfix">
    <h2 class="title"><span><?php echo $this->__($title1) ?></span></h2>
    <div class="text"><?php echo $this->__($title2) ?></div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="block-content">
            <div class="input-box">
                <input name="email" type="text" id="newsletter" value="<?php echo $this->__('youremail@domain.com') ?>" onclick="this.value=='<?php echo $this->__('youremail@domain.com') ?>'?this.value='':''" onblur="this.value==''?this.value='<?php echo $this->__('youremail@domain.com') ?>':''"  class="input-text required-entry validate-email" />
                <button class="hover-effect07" type="submit" title="<?php echo $this->__('Subscribe') ?>"><span><?php echo $this->__('Subscribe') ?></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
</div>
<?php endif;?>
