<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$theme = $this->helper('typologancee');
$helpImg = $this->helper('typologancee/image');
$imgWidth = $theme->getCfg('category/image_width') ? $theme->getCfg('category/image_width') : 540;
$imgHeight = $theme->getCfg('category/image_height') ? $theme->getCfg('category/image_height') : 600;
if($theme->getCfg('category/aspect_ratio')){
    $imgHeight = 0;
}
$cfaltimage = $theme->getCfg('category/alt_image');
$hoveraltClass = ($cfaltimage == 1) ? 'front-img' : '';
$_helper            = $this->helper('catalog/output');
/* @var $this TypoStores_Widget_Block_Widget_Collection */
$productCollection  = $this->getData('collection');
$count              = $productCollection ? $productCollection->count() : 0;
$carousel           = $this->getData('carousel');
$row                = $this->getData('row');
$pricePrefixId      = $this->getData('price-prefix');
$column             = $carousel == 1 && $row == 1 ? $count : ($carousel == 1 && $row > 1 ? $row : $this->getData('column'));
$lazy               = $carousel == 1 ? 'owl-lazy' : 'lazy';
/* @var $helper Mage_Catalog_Helper_Image */
$helper             = Mage::helper('catalog/image');

$btn_rating = $theme->getCfg('category_grid/display_rating');
$btn_cart = $theme->getCfg('category_grid/display_addtocart');
$btn_wishlist = $theme->getCfg('category_grid/display_addtowishlist');
$btn_compare = $theme->getCfg('category_grid/display_addtocompare');

$column_count       = $this->getData('column_count');
$column_count_1600  = $this->getData('column_count_1600');
$column_count_1200  = $this->getData('column_count_1200');
$column_count_992   = $this->getData('column_count_992');
$column_count_768   = $this->getData('column_count_768');

if ($column_count_1600) {
    $grid_block = $this->helper('typowidget')->gridBlockWidget($column_count, $column_count_1600, $column_count_1200, $column_count_992, $column_count_768);
}
?>
<?php if (!$count): ?>
    <p class="note-msg">
        <?php echo $this->__('There are no products matching the selection.') ?>
    </p>
<?php else: ?>
    <?php $i=0; foreach ($productCollection as $_product): ?>
        <?php if ($carousel == 1 && $row > 1 && $i == 0): ?>
            <div class="owl-carousel owl-theme">
        <?php endif ?>
        <?php if ($i == 0 || ($row > 1 && $i % $row == 0)): ?>
        <div class="category-products collection-position01">
        <ul class="products-grid <?php if ($carousel == 0) echo 'row' ?> <?php echo $carousel && $row == 1 ? 'owl-carousel owl-theme' : '' ?>">
    <?php endif ?>
        <?php $i++ ?>
        <li class="item <?php if ($carousel == 0) echo $grid_block; ?>">
            <div class="item-inner">
                <div class="product-item">
                    <div class="product-img-grid">
                        <div class="product-show">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                <?php echo $this->helper('typologancee')->getLabel($_product);  ?>
                                <span class="front margin-image">
                                    <img class="img-responsive <?php echo $lazy ?> <?php echo $hoveraltClass;?>" data-src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" src="<?php echo $this->getSkinUrl('images/blank.png', $theme->checkSSL()) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" width="<?php echo $imgWidth ?>" height="<?php echo $imgHeight ?>" />
                                </span>
                                <?php if ($theme->getCfg('category/alt_image')): ?>
                                <span class="product-img-additional back margin-image">
                                    <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>
                                </span>
                                <?php endif; ?>
                                <div class="product-date" data-date="<?php echo Mage::helper('typowidget')->getDate($_product) ?>"></div>
                            </a>
                            <div class="product-show-box">
                                <div class="main-quickview">
                                    <button type="button"  data-placement="top" title="<?php echo $this->__('Quick view') ?>" class="btn show-quickview" data-id="<?php echo $_product->getId(); ?>"><span><i aria-hidden="true" class="arrow_expand"></i><?php //echo $this->__('Quick view') ?></span></button>
                                    <a class="product-quickview" rel="nofollow" href="<?php echo $this->getUrl('ajaxcart/index/options/product_id/' . $_product->getId(), $theme->checkSSL()); ?>" data-id='quickview-<?php echo $_product->getId()?>' style='display:none'><?php echo $this->__('Quick view') ?></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-actions-inner">
                        <h3 class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </h3>
                        <div class="table">
                            <?php echo $this->getPriceHtml($_product, true, '-'.$pricePrefixId) ?>
                            <?php if($_product->getRatingSummary() && $btn_rating): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="typo-actions clearfix">
                        <div class="addtocart">
                            <?php if($_product->isSaleable()): ?>
                                <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ) { ?>
                                    <button type="button" title="<?php echo $this->__('Add To Cart') ?>" data-placement="top" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>', this)">
                                        <span>
                                            <span><?php echo $this->__('Add To Cart') ?></span>
                                        </span>
                                    </button>
                                <?php } else { ?>
                                    <button type="button" title="<?php echo $this->__('Add To Cart') ?>" data-placement="top" class="button btn-cart show-options" data-id="<?php echo $_product->getId(); ?>"
                                        <?php if (!Mage::getStoreConfig('ajaxcart/ajaxcart_config/enable_ajaxcart')) { ?>
                                            onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>', this)"
                                        <?php }?> data-submit='<?php echo $this->getAddToCartUrl($_product) ?>'>
                                    <span>
                                        <span><?php echo $this->__('Add To Cart') ?></span>
                                    </span>
                                    </button>
                                    <?php if (Mage::getStoreConfig('ajaxcart/ajaxcart_config/enable_ajaxcart')) : ?>
                                    <a style="display: none;" rel="nofollow" href='<?php echo $this->getUrl('ajaxcart/index/options', array_merge($theme->checkSSL(), array('product_id'=>$_product->getId())));?>' class='options-cart' data-id='options-cart-<?php echo $_product->getId()?>'><?php echo $this->__('Option cart')?></a>
                                    <?php endif; ?>
                                <?php }  ?>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                        </div>
                        <?php if($btn_wishlist || $btn_compare) : ?>
                            <div class="addtolist">
                                <div class="add-to-links">
                                    <?php if ($this->helper('wishlist')->isAllow() && $btn_wishlist) : ?>
                                        <div class="wishlist">
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add To Wishlist') ?>" data-toggle="tooltip" data-placement="top" class="link-wishlist">
                                                <i aria-hidden="true" class="icon_heart_alt"></i>
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                    <?php $_compareUrl=$this->getAddToCompareUrl($_product);
                                    if($_compareUrl && $btn_compare): ?>
                                        <div class="compare">
                                            <a rel="nofollow" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add To Compare') ?>" data-toggle="tooltip" data-placement="top" class="link-compare">
                                                <i aria-hidden="true" class="icon_piechart"></i>
                                            </a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </li>
        <?php if ($i == $count || $i == 0 || ($row > 1 && $i % $row == 0)): ?>
        </ul>
        </div>
    <?php endif ?>
        <?php if ($carousel == 1 && $row > 1 && $i == $count): ?>
            </div>
        <?php endif ?>
    <?php endforeach ?>
<?php endif ?>
