<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$theme = $this->helper('typologancee');
$helpImg = $this->helper('typologancee/image');
$imgWidth = $theme->getCfg('category/image_width') ? $theme->getCfg('category/image_width') : 540;
$imgHeight = $theme->getCfg('category/image_height') ? $theme->getCfg('category/image_height') : 600;
if($theme->getCfg('category/aspect_ratio')){
    $imgHeight = 0;
}
$_helper            = $this->helper('catalog/output');
/* @var $this TypoStores_Widget_Block_Widget_Collection */
$productCollection  = $this->getData('collection');
$count              = $productCollection ? $productCollection->count() : 0;
$carousel           = $this->getData('carousel');
$row                = $this->getData('row');
$pricePrefixId      = $this->getData('price-prefix');
$column             = $carousel == 1 && $row == 1 ? $count : ($carousel == 1 && $row > 1 ? $row : $this->getData('column'));
$lazy               = $carousel == 1 ? 'owl-lazy' : 'lazy';
/* @var $helper Mage_Catalog_Helper_Image */
$helper             = Mage::helper('catalog/image');
?>
<?php if (!$count): ?>
    <p class="note-msg">
        <?php echo $this->__('There are no products matching the selection.') ?>
    </p>
<?php else: ?>
    <?php $i=0; foreach ($productCollection as $_product): ?>
        <?php if ($carousel == 1 && $row > 1 && $i == 0): ?>
            <div class="owl-carousel owl-theme">
        <?php endif ?>
        <?php if ( $i == 0 || ($row > 1 && $i % $row == 0)): ?>
        <div class="product-sidebar-inner">
        <ul class="product-sidebar <?php echo $carousel && $row == 1 ? ' owl-carousel owl-theme' : 'no-owl' ?>">
        <?php endif ?>
        <?php $i++ ?>
        <li class="item">
            <div class="media">
                <div class="media-left">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img class="<?php echo $lazy ?>"
                            data-src="<?php echo $helpImg->getImg($_product, 77, round(77*$imgHeight/$imgWidth), 'small_image'); ?>"
                            src="<?php echo $this->getSkinUrl('images/blank.png', $theme->checkSSL()) ?>"
                            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" 
                            width="77"
                            height="<?php echo round(77*$imgHeight/$imgWidth); ?>"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </h4>
                    <div class="table-price">
                        <?php echo $this->getPriceHtml($_product, true, '-'.$pricePrefixId) ?>
                        <?php //echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    </div>
                </div>
            </div>
        </li>
        <?php if ($i == $count || $i == 0 || ($row > 1 && $i % $row == 0)): ?>
        </ul>
        </div>
        <?php endif ?>
        <?php if ($carousel == 1 && $row > 1 && $i == $count): ?>
            </div>
        <?php endif ?>
    <?php endforeach ?>
<?php endif ?>
