<?php
/**
 * @var TypoStores_TypoLogancee_Helper_Data $theme
 * @var Aod_Ymm_Block_Form_Small $this
 */
$theme = $this->helper('typologancee');
$hasVehicle = $this->hasSelectedVehicle();
?>
<form action="<?php echo $this->getSearchFormUrl() ?>" method="GET" id="ymm-search">
    <input type="hidden" name="<?php echo $this->helper->getYearKey() ?>" value="">
    <input type="hidden" name="<?php echo $this->helper->getMakeKey() ?>" value="">
    <input type="hidden" name="<?php echo $this->helper->getModelKey() ?>" value="">

    <div class="fields">
        <div class="field field--2-10">
            <h3 class="ymm-wrap__label">
            <?php if($hasVehicle): ?>
                <small><?php echo $this->__('Your selected vehicle:') ?></small>
            <?php elseif (!$theme->getIsHomePage()) :?>
                <span><?php echo $this->__('Select your vehicle:') ?></span>
            <?php else: ?>
                <span><?php echo $this->__('Get Started') ?></span>
                <small><?php echo $this->__('Select your vehicle:') ?></small>
            <?php endif ?>
            </h3>
        </div>
        <?php if($hasVehicle) : ?>
            <div class="field field--7-10">
                <div class="ymm-selected-vehicle">
                    <h3 class="ymm-selected-vehicle__selected">
                        <span class="ymm-selected-vehicle__year"><?php echo $this->getVehicleYear() ?></span>
                        <span class="ymm-selected-vehicle__make"><?php echo $this->getVehicleMake() ?></span>
                        <span class="ymm-selected-vehicle__model"><?php echo $this->getVehicleModel() ?></span>
                    </h3>
                    <a href="<?php echo $this->getUrl('ymm/search/remove', ['_query' => ['redirect' => $this->getCurrentUrl() ]]) ?>" class="ymm-remove-vehicle" title="Remove this car">
                        <span class="ymm-remove-vehicle__icon">&times;</span>
                        <span class="ymm-remove-vehicle__text"><?php echo $this->__('Remove') ?></span>
                    </a>
                </div>
            </div>
        <?php endif; ?>
        <div class="field field--7-10"<?php echo $hasVehicle ? ' style="display:none"' : ''?>>
            <div class="fields">
                <div class="field field--1-3 field--year">
                    <div id="select-year" class="ymm-dropdown" data-dropdown="<?php echo $this->helper->getYearKey() ?>" data-dropdown-label="<?php echo $this->__('Select Year') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options">
                        <?php foreach($this->getYears() as $year) :?>
                            <div class="ymm-dropdown__option"><?php echo $year ?></div>
                        <?php endforeach ?>
                        </div>
                    </div>
                </div>
                <div class="field field--1-3 field--make">
                    <div id="select-make" class="ymm-dropdown ymm-dropdown--disabled" data-dropdown="<?php echo $this->helper->getMakeKey() ?>" data-dropdown-label="<?php echo $this->__('Select Make') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options"></div>
                    </div>
                </div>
                <div class="field field--1-3 field--model">
                    <div id="select-model" class="ymm-dropdown ymm-dropdown--disabled" data-dropdown="<?php echo $this->helper->getModelKey() ?>" data-dropdown-label="<?php echo $this->__('Select Model') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field field--1-10"<?php echo $hasVehicle ? ' style="display:none"' : ''?>>
            <button id="ymm-go" class="ymm-button ymm-button--disabled">
                <span class="ymm-button__text">Go</span>
                <span class="ymm-button__icon"></span>
            </button>
        </div>
    </div>
</form>