<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$enable = Mage::getStoreConfig('ajaxcart/ajaxcart_config/enable_ajaxcart');
?>
<?php
$_cartQty = $this->getSummaryCount();
if ($_cartQty != 0) {
    $_totalQty = $_cartQty;
} else {
    $_totalQty = 0;
}
$_items = $this->getRecentItems($_cartQty);
?>
<div class="typo-cart">
    <div class="typo-icon-ajaxcart">
        <a class="typo-cart-label" href="<?php echo $this->getUrl('checkout/cart', Mage::helper('typologancee')->checkSSL()) ?>">
            <span class="icon-cart"><i class="icon-handbag icons"></i></span>
            <span class="print">
               <span class="items"><span class="qty-cart"><?php echo $_totalQty ?></span> <span><?php echo $this->__('item(s)') ?></span></span>
                <span>-</span> <span><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>
            </span>
            <span class="icon-dropdown"><i class="fa fa-angle-down"></i></span>
        </a>
    </div>
    <div class="ajaxcart">
        <div class="ajax-over" id="ajaxcart-scrollbar">
            <div class="typo-ajax-container">
                <?php
                if (count($_items)):
                    ?>
                    <ul class="clearfix">
                        <?php foreach ($_items as $_item): ?>
                            <?php echo $this->getItemHtml($_item) ?>
                        <?php endforeach; ?>
                    </ul>
                    <p class="subtotal">
                        <?php if ($this->canApplyMsrp()): ?>
                            <span
                                class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                        <?php else: ?>
                            <span
                                class="title"><?php echo $this->__('Sub Total') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                            <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                                <br/>(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                            <?php endif; ?>
                        <?php endif; ?>
                    </p>
                    <div class="typo-ajax-checkout clearfix">
                        <a href="<?php echo $this->getUrl('checkout/cart', Mage::helper('typologancee')->checkSSL()) ?>" class="button view-cart">
                            <span><?php echo $this->__('View cart') ?></span>
                        </a>
                        <a class="button view-checkout" href="<?php echo $this->getCheckoutUrl() ?>"><span><?php echo $this->__('Checkout') ?></span></a>
                    </div>
                <?php else: ?>
                    <p class="no-items-in-cart"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var datatext = {};
    datatext.load = '<i class="icon_loading fa-spin"></i>';
    Translator.add('View cart','<?php echo $this->__('View cart')?>');
    Translator.add('The quantity not zero!','<?php echo $this->__('The quantity not zero!')?>');
    (function($){
        $(window).load(function(){
            $("#ajaxcart-scrollbar").mCustomScrollbar({
                theme:"dark-2",
                scrollButtons:{
                  enable:true
                }
            });
        });
    })(jQuery);
</script>
