
.top-direct {
  background: url(../images/category-main.jpg);
  height: rem-calc(220);

  .catalog-category-view &,
  .catalog-product-view &,
  .tag-product-list &,{
    background: url(../images/category-main.jpg);
    height: rem-calc(220);
  }

  & &-inner {
    h1, .title {
      color: $tertiary-color;
    }
  }
}

span.title {
  color: $tertiary-color !important;
}
