a.button{
  padding:rem-calc(0 40);
  color: white;
  text-transform: uppercase;
  display: inline-block;
  background: #d83e0c; /* Old browsers */
  background: -moz-linear-gradient(top,  #d83e0c 2%, #b50a0a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d83e0c 2%,#b50a0a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d83e0c 2%,#b50a0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83e0c', endColorstr='#b50a0a',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
}