.spal-section-container {
  background-image: url('/media/wysiwyg/spal-fans.jpg');
  background-size: cover;
  height: rem-calc(900);
}

.spal-content {
  display: block;
  position: relative;
  top: 10%;
  padding: 0 30px;
  color: #fff;
  line-height: 1.4;
  max-width: 45%;
  min-width: rem-calc(400);
  left: 0;
  h3 {
    text-transform: uppercase;
    font-size: rem-calc(30);
    font-weight: bolder;
  }
  p {
    padding-top: rem-calc(20);
    line-height: 2
  }
  a.button {
    margin-top: rem-calc(10);
  }
  img {
    margin-top: rem-calc(40);
    display: block
  }
}

.block-title {
  display: none;
}

.page-title h2 {
  font-weight: 100 !important;
  text-align: center;
  span {
    font-weight: bold;
    color: #999 !important;
  }
}

body.cms-index-index.cms-home .widget-collection-style1 {
  border: none;
}
