$primary-color : #1e72ae;
$secondary-color: #222222;

$tertiary-color: #f8b323;
$light-gray    : #dcdcdc;
$dark-gray     : #444444;
$black         : #151515;
$white         : #ffffff;
$alert-color   : #da2400;

$font-family-sans-serif: 'Arimo','Open Sans',Arial,Helvetica,sans-serif;

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin prefix($declarations, $prefixes: webkit moz) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}

//Creates an animation using shorthand and prefixed properties
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  @include prefix((animation: $animations));
}

// Creates a keyframe to use with animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin borderbox {
  *, *:before, *:after {
    @include prefix((box-sizing: border-box));
  }
}

$breakpoints : (
        small   : 0,
        medium  : 768px,
        large   : 979px,
        xlarge  : 1200px,
        xxlarge : 1440px,
);

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function -to-rem($value, $base: null) {
  @if type-of($value) != 'number' {
    @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  @if unit($value) != 'rem' {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}

@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  @if $base == null {
    $base: 16px;
  }

  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  @if $count == 1 {
    @return -to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, -to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}

@function -bp-to-em($value) {
  @if unit($value) == 'px' or unitless($value) {
    $value: rem-calc($value, $base: 16px)
  }
  @return strip-unit($value) * 1em;
}

@function -map-next($map, $key) {

  $values: map-values($map);
  $i: 1;
  $found: false;
  @each $val in map-keys($map) {
    @if $found == false {
      @if ($key == $val) {
        $found: true;
      }
      $i: $i + 1;
    }
  }

  @if $i > length($map) {
    @return null;
  }
  @else {
    @return nth($values, $i);
  }
}

@function breakpoint($val: small) {
  $bp: nth($val, 1);
  $bp-max: 0;
  $dir: if(length($val) > 1, nth($val, 2), up);
  $str: '';
  $named: false;

  @if $bp == 'landscape' or $bp == 'portrait' {
    @return '(orientation: #{$bp})';
  }
  @else if $bp == 'retina' {
    @return '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
  }

  @if type-of($bp) == 'string' {
    @if map-has-key($breakpoints, $bp) {
      @if $dir == 'only' or $dir == 'down' {
        $bp-max: -map-next($breakpoints, $bp);
      }

      $bp: map-get($breakpoints, $bp);
      $named: true;
    }
    @else {
      $bp: 0;
      @warn 'breakpoint(): "#{$val}" is not defined in your $breakpoints setting.';
    }
  }

  $bp: -bp-to-em($bp);
  @if $bp-max {
    $bp-max: -bp-to-em($bp-max) - (1/16);
  }

  @if $bp > 0em or $dir == 'only' or $dir == 'down' {
    @if $dir == 'only' {
      @if $named == true {
        @if $bp > 0em {
          $str: $str + '(min-width: #{$bp})';
          @if $bp-max != null {
            $str: $str + ' and ';
          }
        }

        @if $bp-max != null {
          $str: $str + '(max-width: #{$bp-max})';
        }
      }
      @else {
        @warn 'breakpoint(): Only named media queries can have an `only` range.';
      }
    }
    @else if $dir == 'down' {
      $max: if($named, $bp-max, $bp);
      @if $named or $bp > 0em {
        @if $max != null {
          $str: $str + '(max-width: #{$max})';
        }
      }
    }
    @else if $bp > 0em {
      $str: $str + '(min-width: #{$bp})';
    }
  }

  @return $str;
}

@mixin breakpoint($value) {
  $str : breakpoint($value);
  @if $str == '' {
    @content;
  }
  @else {
    @media screen and #{$str} {
      @content;
    }
  }
}

//body {
//  &:before {
//    display: block;
//    position: fixed;
//    padding: rem-calc(3 5);
//    background: red;
//    color: white;
//    font-size: rem-calc(16);
//    z-index: 10000;
//
//    @each $key, $value in $breakpoints {
//      @include breakpoint($key only) {
//        content: "#{$key}";
//      }
//    }
//  }
//}