.social-share {
  ul.social-listing {
    .fa {
      .fa-facebook {

        color: #3b5998 !important;
      }
    }
  }
}
.product-image-gallery, .product-show, .thumb-item{
  border:1px solid #d9d9d9;
}
.price{
  color:$primary-color;
}