.advanced-search-summary {
  @include clearfix;

  ul {
    width: 50%;
    float: left;
    margin-bottom: .5em;
  }

  li {
    display: block;
    font-size: 13px;

    strong {
      font-family: Montserrat, arial, serif;
      font-weight: 200;
      text-transform: uppercase;
      padding-right: .5em;
      display: inline-block;
    }

    span {
      color: #666666;
    }
  }
}

p.advanced-search-amount,
.advanced-search-summary p {
  font-size: 12px;
  color: #666666;

  a {
    border-bottom: 1px dotted #cccccc;
  }

  &:before {
    content: " ";
    clear: both;
    display: table;
  }
}

.ymm-wrap {
  padding: 10px 0;
  background: #222222;
  color: #ffffff;
  position: relative;
  z-index: 2;

  &__label {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: right;

    small {
      display: block;
      font-size: 75%;
    }
  }

  .field {
    float: left;
    width: 100%;

    @for $i from 1 through 12 {
      @for $n from 1 through $i {
        @if($n != $i) {
          &--#{$n}-#{$i} {
            width: percentage($n/$i);
          }
        }
      }
    }

    &--year,
    &--make,
    &--model {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .ymm-button {
    font-size: 16px;
    padding: .5em 1em;
    cursor: pointer;
    background: #f8b323;
    color: rgba($white, 0.85);
    border: none;
    text-transform: uppercase;
    font-family: Montserrat, arial, serif;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    position: relative;

    &:hover {
      color: #fff;

      .ymm-button__icon:after,
      .ymm-button__icon:before {
        background: #fff;
      }
    }

    &__icon {
      height: 10px;
      width: 10px;

      position: absolute;
      right: 16px;
      top: 16px;
      opacity: 1;

      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      transition: all 300ms ease;

      &:after,
      &:before {
        content: " ";
        background: rgba($white, 0.85); ;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &:after {
        height: 3px;
        width: 100%;
      }

      &:before {
        height: 100%;
        width: 3px;
      }
    }

    &--disabled {
      background: rgba($white, 0.1);
      cursor: not-allowed;

      .ymm-button__icon {
        opacity: 0;
        right: 60px;
      }

      &,
      &:hover {
        color: rgba($white, 0.2);
      }
    }
  }
}

.ymm-dropdown {
  position: relative;
  width: 100%;

  &__options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    background: #2f2f2f;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($black, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($white, 0.1);
    }
  }

  &__option {
    font-size: 16px;
    padding: .5em 1em;
    background: #2f2f2f;
    cursor: pointer;
    color: #888;
    transition: all 200ms ease;
    position: relative;

    &:hover{
      background: #3f3f3f;
      color: rgba($white, 0.65);
    }

    &--selected {
      color: #f8b323;
      font-weight: bold;
    }

    &--label {
      padding-right: 40px;

      &:after {
        content: " ";
        height: 90%;
        width: 1px;
        background: #3f3f3f;
        position: absolute;
        top: 50%;
        right: 41px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &__caret {
    height: 10px;
    width: 10px;

    position: absolute;
    right: 13px;
    top: 8px;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    &:after,
    &:before {
      content: " ";
      background: #555;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &:after {
      height: 3px;
      width: 100%;
    }

    &:before {
      height: 100%;
      width: 3px;
    }
  }

  &__loading {
    display: none;
    @include keyframes(fade-in-out-loop) {
      from { opacity: .2 }
      to { opacity: 1 }
    }

    span {
      width: 5px;
      height: 5px;
      display: inline-block;
      background: #ccc;
      border-radius: 50%;
      margin-bottom: 2px;
      @include animation(fade-in-out-loop 500ms linear alternate infinite);

      &:nth-child(2) { animation-delay: 150ms }
      &:nth-child(3) { animation-delay: 300ms }

      & + span {
        margin-left: 2px;
      }
    }
  }

  &--loading {
    .ymm-dropdown {
      &__selected {
        display: none;
      }

      &__loading {
        display: block;
      }
    }
  }

  &--disabled {
    .ymm-dropdown {
      &__option {
        color: #444444;
        background: #2f2f2f;
        cursor: auto;
      }

      &__caret:before,
      &__caret:after {
        background: #444444;
      }
    }
  }

  &--active {
    .ymm-dropdown {
      &__options {
        max-height: 200px;
        overflow: auto;
      }

      &__caret {
        right: 3px;
        top: 23px;

        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transform-origin: 0 0;
        transform-origin:  0 0;
      }
    }
  }
}

.ymm-selected-vehicle {
  @include clearfix;

  &__selected {
    padding: .15em 1em 0 0;
    float: left;
    margin: 0;
    display: inline-block;
    font-size: 18px;
    color: rgba($white, 0.85);
  }
}

.ymm-remove-vehicle {
  display: block;
  float: left;
  background: rgba($white, 0.1);
  padding: .5em 1em .5em 2.5em;
  color: rgba($white, 0.5);
  position: relative;
  text-align: center;
  font-size: 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  &,
  &__icon {
    line-height: 1;
  }

  &:hover {
    background: #da2400;
    color: $white;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: bold;
  }
}