<script type="text/javascript" src="<?php echo $this->getSkinUrl('typostores/onestepcheckout/mage/opcheckout.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('typostores/onestepcheckout/opcheckout_override_mage.js') ?>"></script>
<?php
$isAllowComment = Mage::getStoreConfig('typostores_onestepcheckout/general/allowcomment');
$isNewsletter = Mage::getStoreConfig('typostores_onestepcheckout/general/allowsubscribe');
if ($isNewsletter){
    if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $subscriber = Mage::getModel('newsletter/subscriber')->loadByEmail(
            Mage::getSingleton('customer/session')->getCustomer()->getEmail());
        if($subscriber && $subscriber->getId())
        {
            $isNewsletter = false;
        }

    }
}
$discountpos = Mage::getStoreConfig('typostores_onestepcheckout/layout/discountpos');
$commentpos = Mage::getStoreConfig('typostores_onestepcheckout/layout/commentpos');

?>
<script id="loader-template" type="text/x-handlebars-template">
    <div class="osc-loader" id="osc-loader">
        <div class="osc-loader-background"></div>
        <div class="loading-mask" data-role="loader">
            <div class="loader">
                <img alt="{{imgAlt}}" src="{{icon}}">
            </div>
        </div>
    </div>
</script>
<script>
    var loaderJson = {
        imgAlt: '<?php echo $this->__("Please wait...");?>',
        icon: '<?php echo $this->getSkinUrl('typostores/onestepcheckout/images/ajax-loader_3.gif');?>',
        loaderText: '<?php echo $this->__("Please wait...");?>'
    };
</script>
<div class="lt-checkoutpage" id="checkoutSteps">
    <?php echo $this->getChildHtml("loginform");?>

    <form id="checkout_form" name="checkout_form">
        <div class="grid">
            <?php if ($pageTitle = Mage::getStoreConfig('typostores_onestepcheckout/content/pagetitle')):?>
                <h2 class="page-title"><?php echo $this->__($pageTitle);?></h2>
            <?php endif;?>
            <?php if ($pageDescription = Mage::getStoreConfig('typostores_onestepcheckout/content/pagedescription')):?>
                <p class="page-description"><?php echo $this->__($pageDescription);?></p>
            <?php endif;?>
            <?php if (!Mage::helper('customer')->isLoggedIn()) : ?>
                <p class="login-onestep text-center"><?php echo $this->__("Already registered? Please");?>
                    <a class="login_link"href="javascript:void(0);" id="loginFrmDlgO"> <?php echo $this->__("Login");?> </a>
                </p>
            <?php endif; ?>
            <div class="row-onestep no-padding padding-mobile">
                <div class="four columns">
                    <h3 class="ptitle">
                        <?php if ($billingHeader = Mage::getStoreConfig('typostores_onestepcheckout/content/billing_header')):?>
                            <?php echo $this->__($billingHeader);?>
                        <?php else:?>
                            1. <?php echo $this->__("Billing Information"); ?>
                        <?php endif;?>

                    </h3>
                    <?php echo $this->getChildHtml('billing'); ?>
                    <div id="shipping-area" style="display: none;">
                        <h3 class="ptitle">
                            <?php if ($shippingHeader = Mage::getStoreConfig('typostores_onestepcheckout/content/shipping_address_header')):?>
                                <?php echo $this->__($shippingHeader);?>
                            <?php else:?>
                                <?php echo $this->__("Shipping Information");?>
                            <?php endif;?>

                        </h3>
                        <?php
                        echo $this->getChildHtml('shipping'); ?>
                    </div>
                </div>
                <div class="four columns">
                    <div class="row-onestep">
                        <?php if(!$this->getQuote()->isVirtual()):?>
                        <h3 class="ptitle">
                            <?php if ($shippingMethodHeader = Mage::getStoreConfig('typostores_onestepcheckout/content/shipping_method_header')):?>
                                <?php echo $this->__($shippingMethodHeader);?>
                            <?php else:?>
                                2. <?php echo $this->__("Shipping Method"); ?>
                            <?php endif;?>
                        </h3>
                        <div id="shipping_partial">
                            <?php echo $this->getChildHtml('shipping_method'); ?>
                        </div>
                        <?php endif; ?>
                        <h3 class="ptitle">
                            <?php if ($paymentMethodHeader = Mage::getStoreConfig('typostores_onestepcheckout/content/payment_method_header')):?>
                                <?php echo $this->__($paymentMethodHeader);?>
                            <?php else:?>
                                3. <?php echo $this->__("Payment Method");?>
                            <?php endif;?>

                        </h3>
                        <div id="payment_partial">
                            <?php echo $this->getChildHtml('payment'); ?>
                        </div>

                    </div>

                    <div class="row-onestep">
                        <?php if( Mage::getStoreConfig('typostores_onestepcheckout/general/allowshowgiftmessage') ):?>
                            <div id="gift_patial">
                            <?php if (!$this->getQuote()->isVirtual()): ?>
                                <?php echo $this->helper('giftmessage/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
                            <?php endif; ?>
                            </div>
                        <?php endif;?>

                        <?php if( $discountpos == 'below_payment' && Mage::getStoreConfig('typostores_onestepcheckout/general/allowshowcoupon') ):?>
                            <div id="coupon_patial">
                                <h3 class="ptitle"><?php echo $this->__("Discount Codes");?></h3>

                                <?php echo $this->getChildHtml('coupon'); ?>
                            </div>
                        <?php endif;?>

                        <?php if( $isAllowComment && $commentpos == 'below_payment' ):?>
                            <div id="comment-patial">
                                <h3 class="ptitle"><?php echo $this->__("Comment");?></h3>
                                <ul class="form-list">
                                    <li class="fields">
                                        <div class="input-box">
                                            <textarea name="order_comment" placeholder="<?php echo $this->__("Type comment here");?>" class="input-text"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        <?php endif;?>

                    </div>
                </div>
                <div class="four columns" >

                    <?php if (false) :?>
                    <h3 class="ptitle">
                       <?php echo $this->__("Additional Information"); ?>
                    </h3>
                    <?php endif;?>

                    <h3 class="ptitle">
                        <?php if ($reviewOrderHeader = Mage::getStoreConfig('typostores_onestepcheckout/content/review_header')):?>
                            <?php echo $this->__($reviewOrderHeader);?>
                        <?php else:?>
                            4. <?php echo $this->__("Review Order"); ?>
                        <?php endif;?>

                    </h3>
                    <div id="review_partial">
                        <?php echo $this->getData("reviewHtml"); ?>
                        <?php echo $this->getChildHtml('review'); ?>
                    </div>
                    <?php if( $discountpos == 'below_review' && Mage::getStoreConfig('typostores_onestepcheckout/general/allowshowcoupon') ):?>
                        <div id="coupon_patial">
                            <h3 class="ptitle" ><?php echo $this->__("Discount Codes");?></h3>

                            <?php echo $this->getChildHtml('coupon'); ?>
                        </div>
                    <?php endif;?>

                    <?php if( $isAllowComment && $commentpos == 'below_review' ):?>
                        <div id="comment-patial">
                            <h3 class="ptitle"><?php echo $this->__("Comment");?></h3>
                            <ul class="form-list">
                                <li class="fields">
                                    <div class="input-box">
                                        <textarea name="order_comment" placeholder="<?php echo $this->__("Type comment here");?>" class="input-text"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <?php endif;?>

                    <?php /* if ($isNewsletter):?>
                        <div class="input-box">
                            <p class="newsletter">
                            
                                <input type="checkbox" id="newsletter-signup" name="newsletter" value="1"
                                       title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>"
                                       class="checkbox"
                                    <?php
                                    echo Mage::getStoreConfig('typostores_onestepcheckout/general/autochecksubscriber') ? 'checked="checked"' : '';
                                    ?>
                                    />
                                <label for="newsletter-signup">
                                    <?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>
                                </label>
                            </p>
                        </div>
                    <?php endif;*/?>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </form>


</div>
