<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Finder
 */
?>
<?php
/* Amasty_Finder_Block_Product_View_List $this*/

$finderProducts = $this->getOptionsList();
$dropdowns = $this->getDropdowns();
?>
<?php if (count($finderProducts) > 0) : ?>
    <table class="data-table" id="amfinder-product-options">
        <?php foreach ($dropdowns as $dropdown): ?>
            <th class="label"><?php echo $this->escapeHtml($dropdown) ?></th>
        <?php endforeach; ?>

        <?php foreach ($finderProducts as $product): ?>
            <tr>
                <?php foreach (array_reverse($product) as $value): ?>
                    <td class="data"><?php echo $this->escapeHtml($value) ?></td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    </table>
    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
<?php else: ?>
    <?php echo "<span class='label'>" . $this->__('No active finders or options.') . "</span>"; ?>
<?php endif; ?>

