/*==========================
    mobile menu
==========================*/

.typo-container {
  position: relative;
}
.typo-wrapper {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.typo-nav ul.nav-accordion {
  min-width: 290px;
  display: inline-block;
}
.typo-nav ul.nav-accordion li {
  text-align: left;
}
.typo-nav ul.nav-accordion li.active + li {
  /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
}
.typo-nav li.level0 i.fa-angle-down {
  display: none;
}
.typo-nav .home a {
  padding: 11px 0 !important;
  height: auto;
  text-align: center;
}
.typo-nav .home a span {
  font-size: 30px;
}
.typo-nav ul.nav-accordion > li > a {
  border-bottom: 1px solid rgba(100, 255, 255, 0.2);
}
.typo-nav ul.nav-accordion li a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 42px 10px 15px;
  line-height: 20px;
  height: auto;
  border-bottom: 1px solid rgba(100, 255, 255, 0.2);
}
.typo-nav ul.nav-accordion li span.expand, .typo-nav ul.nav-accordion li span.collapse {
  color: #fff;
  /*border-left: 1px solid rgba(255, 255, 255, 0.2);*/
  font-size: 14px;
}
.typo-nav ul.nav-accordion li.last a {
  border-bottom: 1px solid rgba(100, 255, 255, 0.2);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}
.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  outline: none;
  z-index: 100;
  background-color: transparent;
  font-size: 25px;
  line-height: 1;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: auto;
}
.typo-wrapper.overlay-open {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  float: left;
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background: #000;
  margin-top: -1px;
  width: 30px;
  margin-left: -15px;
}
.cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
}
.cmn-toggle-switch span::before {
  top: 8px;
}
.cmn-toggle-switch span::after {
  bottom: 8px;
}
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.vheader-layout-2 .menu-bar-btn {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 999;
}
.vheader-layout-2 .cmn-toggle-switch span,
.vheader-layout-2 .cmn-toggle-switch span::before,
.vheader-layout-2 .cmn-toggle-switch span::after{
  background-color: #fff;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0s 0.3s;
  -o-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.cmn-toggle-switch__htx span::before, .cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  -o-transition-property: top, -o-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, -o-transform;
  transition-property: bottom, transform;
}
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before, .cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
/* accordion - please don't modify this*/

ul.nav-accordion {
  line-height: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
ul.nav-accordion ul.level0 > li > a {
  padding-left: 30px;
}
ul.nav-accordion ul.level1 > li > a {
  padding-left: 45px;
}
ul.nav-accordion ul.level2 > li > a {
  padding-left: 60px;
}
ul.nav-accordion ul.level3 > li > a {
  padding-left: 75px;
}
ul.nav-accordion ul.level4 > li > a {
  padding-left: 85px;
}
ul.nav-accordion ul.level5 > li > a {
  padding-left: 95px;
}
ul.nav-accordion ul.level6 > li > a {
  padding-left: 100px;
}
.sidebar ul.nav-accordion ul.level0 li a:before {
  left: 10px;
}
.sidebar ul.nav-accordion ul.level1 li a:before {
  left: 20px;
}
.sidebar ul.nav-accordion ul.level2 li a:before {
  left: 30px;
}
.sidebar ul.nav-accordion ul.level3 li a:before {
  left: 40px;
}
.sidebar ul.nav-accordion ul.level4 li a:before {
  left: 50px;
}
.sidebar ul.nav-accordion ul.level5 li a:before {
  left: 55px;
}
.sidebar ul.nav-accordion ul.level6 li a:before {
  left: 60px;
}
ul.nav-accordion li {
  background: none;
  position: relative;
  line-height: 20px;
}
ul.nav-accordion > li > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
ul.nav-accordion li a {
  display: block;
  margin: 0;
  height: 42px;
  padding: 11px 42px 11px 0;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -o-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}
ul.nav-accordion li a:hover {
  color: #bbb;
}
ul.nav-accordion ul {
  display: none;
  margin: 0;
  padding: 0;
}
ul.nav-accordion ul li {
  clear: both;
  margin: 0;
  padding: 0;
}
ul.nav-accordion ul li a {
  font-size: 100%;
  outline: none;
  padding-left: 15px;
}
ul#typo-accordion li span.collapse {
  top: 0;
}
ul#typo-accordion li span.expand {
  top: 0;
}
ul.nav-accordion ul ul li a {
  padding-left: 30px;
}
ul.nav-accordion ul ul ul li a {
  padding-left: 40px;
}
ul.nav-accordion li span.expand {
  background-color: transparent;
  cursor: pointer;
  display: block;
  line-height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 42px;
  height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
}
ul.nav-accordion li span.text {
  display: none;
}
ul.nav-accordion li span.collapse {
  visibility: visible;
  background-color: transparent;
  cursor: pointer;
  display: block;
  line-height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 42px;
  height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
}
ul.detail-parent {
  margin: 0;
  padding: 0 0 0 17px;
}
ul.nav-accordion li.level0 > a > span > .cat-label {
  position: static;
  display: inline-block;
  vertical-align: top;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
  display: none;
}
/* RTL */

.rtl ul.nav-accordion {
  padding-left: 0;
  padding-right: 0;
}
.rtl ul#typo-accordion li span.collapse, .rtl ul#typo-accordion li span.expand {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 0;
  text-align: center;
}
.rtl .typo-menu-active .collapsed-icon {
  /*margin-left: 0;
  margin-right: 15px;*/
}
.rtl .navbar-inverse .navbar-toggle:hover .icon-bar, .rtl .navbar-inverse .navbar-toggle:focus .icon-bar {
  background: #fff;
}
.rtl .typo-nav ul.nav-accordion li {
  text-align: right;
}
.rtl .typo-nav ul.nav-accordion li a {
  padding: 10px 15px 10px 42px;
}
.rtl ul.nav-accordion ul.level0 > li > a {
  padding-right: 30px;
}
.rtl ul.nav-accordion ul.level1 > li > a {
  padding-right: 45px;
}
.rtl ul.nav-accordion ul.level2 > li > a {
  padding-right: 60px;
}
.rtl ul.nav-accordion ul.level3 > li > a {
  padding-right: 75px;
}
.rtl ul.nav-accordion ul.level4 > li > a {
  padding-right: 85px;
}
.rtl ul.nav-accordion ul.level5 > li > a {
  padding-right: 95px;
}
.rtl ul.nav-accordion ul.level6 > li > a {
  padding-right: 100px;
}

.rtl .sidebar ul.nav-accordion ul.level0 li a:before {
  right: 10px;
}
.rtl .sidebar ul.nav-accordion ul.level1 li a:before {
  right: 20px;
}
.rtl .sidebar ul.nav-accordion ul.level2 li a:before {
  right: 30px;
}
.rtl .sidebar ul.nav-accordion ul.level3 li a:before {
  right: 40px;
}
.rtl .sidebar ul.nav-accordion ul.level4 li a:before {
  right: 50px;
}
.rtl .sidebar ul.nav-accordion ul.level5 li a:before {
  right: 55px;
}
.rtl .sidebar ul.nav-accordion ul.level6 li a:before {
  right: 60px;
}