.home2-block-phone-email {
    float: left;
    width: 80%;
    background: #000;
    color: #fff;
    padding: 0 10px;
}

.custom_login {
    width: 20%;
    float: left;
    text-align: right;
    padding: 0 10px;
    background: #000;
}

.custom_login a {
    color: #fff;
}
