/*
Hover Effect
================================*/
.hover-effect01 {
  position: relative;
  z-index: 1;
}
.hover-effect01:before {
  background-color: rgba(255, 255, 255, 0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
  z-index: -1;
}
.hover-effect01:after {
  background-color: rgba(255, 255, 255, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
  z-index: -1;
}
.hover-effect01:hover:after,
.hover-effect01:hover:before {
  height: 100%;
  width: 100%;
}
.hover-effect01-black {
  position: relative;
}
.hover-effect01-black:before {
  background-color: rgba(0, 0, 0, 0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
  z-index: -1;
}
.hover-effect01-black:after {
  background-color: rgba(0, 0, 0, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
  z-index: -1;
}
.hover-effect01-black:hover:after,
.hover-effect01-black:hover:before {
  height: 100%;
  width: 100%;
}
.hover-effect02 {
  position: relative;
}
.hover-effect02:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: transparent;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
}
.hover-effect02:hover:before {
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.6) inset;
}
.hover-effect03 {
  position: relative;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.hover-effect03:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  visibility: hidden;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0.5) rotateY(180deg);
  -moz-transform: scale(0.5) rotateY(180deg);
  -ms-transform: scale(0.5) rotateY(180deg);
  -o-transform: scale(0.5) rotateY(180deg);
  transform: scale(0.5) rotateY(180deg);
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: 99;
  background: url(../images/plus.png) no-repeat center center #ffffff;
}
.hover-effect03:hover {
  opacity: 0.35;
  visibility: visible;
  -webkit-transform: scale(1) rotateY(0deg);
  -moz-transform: scale(1) rotateY(0deg);
  -ms-transform: scale(1) rotateY(0deg);
  -o-transform: scale(1) rotateY(0deg);
  transform: scale(1) rotateY(0deg);
}
.hover-effect04 {
  position: relative;
  overflow: hidden;
}
.hover-effect04:after {
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.hover-effect04:hover:after {
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transform: translate(-100%);
}
.hover-effect05 {
  position: relative;
}
.hover-effect05:before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: 2px solid transparent;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  opacity: 0;
}
.hover-effect05:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  opacity: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.hover-effect05:hover:before {
  opacity: 1;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.hover-effect05:hover:after {
  opacity: 1;
}
.hover-effect06 {
  position: relative;
}
.hover-effect06:before,
.hover-effect06:after {
  background-color: #000;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}
.hover-effect06:hover:before,
.hover-effect06:hover:after {
  transition: all 0.4s ease-out 0s;
  opacity: 0.3;
}
.hover-effect07 {
  overflow: hidden;
  position: relative;
}
.hover-effect07 > span {
  z-index: 10;
}
.hover-effect07:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .5;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}
.hover-effect07:hover:after {
  left: 120%;
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}
/*
End Hover Effect
==============================*/
/*
Effect Main Slide
*/
.active .caption .title {
  -webkit-animation: slideBounceInDown 800ms ease-in-out;
  -moz-animation: slideBounceInDown 800ms ease-in-out;
  animation: slideBounceInDown 800ms ease-in-out;
}
.active .caption .text {
  -webkit-animation: slideBounceInDown 1400ms ease-in-out;
  -moz-animation: slideBounceInDown 1400ms ease-in-out;
  animation: slideBounceInDown 1400ms ease-in-out;
}
.active .caption .btn-slide {
  -webkit-animation: slideBounceInDown 2000ms ease-in-out;
  -moz-animation: slideBounceInDown 2000ms ease-in-out;
  animation: slideBounceInDown 2000ms ease-in-out;
}
@-webkit-keyframes slideBounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideBounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideBounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideBounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.active .slideBounceInDown {
  -webkit-animation-name: slideBounceInDown;
  -moz-animation-name: slideBounceInDown;
  -o-animation-name: slideBounceInDown;
  animation-name: slideBounceInDown;
}
.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
