@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);
.transition-all35 {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*Header Layout 2*/
.header-layout-2 .top-bar {
  float: right;
}
.header-layout-2 .language-topbar .lang-list {
  right: 0;
  left: auto;
}
.header-layout-2 .currency-topbar .currency-list {
  right: 0;
  left: auto;
}
.header-layout-2 .delimiter {
  line-height: 12px;
  height: 12px;
  background-color: #666;
  margin: 15px;
}
.header-layout-2 .home2-block-phone-email {
  padding: 10px 0;
  line-height: 22px;
}
.header-layout-2 .sticky-icon-group {
  display: inline-block;
  float: right;
  margin: 0 -10px 0 50px;
}
.header-layout-2 .sticky-icon-group > div {
  float: left;
  padding: 0 10px;
}
.header-layout-2 .is-sticky .sticky-icon-group .settings {
  display: block;
}
.header-layout-2 .nav-top-inner {
  text-align: right;
}
.header-layout-2 .logo-home02 {
  float: left;
  margin-right: 15px;
  position: relative;
  z-index: 10;
}
.header-layout-2 .logo-home02 .logo {
  display: table;
  height: 60px;
  margin: 0;
}
.header-layout-2 .logo-home02 .logo a {
  display: table-cell;
  vertical-align: middle;
}
.header-layout-2 .logo-home02 .logo a img {
  max-height: 50px;
  max-width: 200px;
}
.header-layout-2 .logo-home02 strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.header-layout-2 .is-sticky .logo-home02 {
  display: none;
}
.header-layout-2 .header-menu {
  padding: 35px 0;
}
.header-layout-2 .header-top-inner {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.header-layout-2 .menu-bar-btn {
  float: left;
}
.header-layout-2 .sticky-bg .typo-main-menu {
  display: none;
}
.header-layout-2 .main-slide-wrap {
  border-bottom: none;
}
/*Header Layout 3*/
.cms-index-index .header-layout-3 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
  right: 0;
  z-index: 999;
}
.header-layout-3 .main-menu {
  float: right;
}
.header-layout-3 .is-sticky #typo-sticky-header {
  background-color: #fff;
}
.header-layout-3 .sticky-icon-group {
  display: block;
  float: right;
  margin: 0 -10px 0 30px;
}
.header-layout-3 .sticky-icon-group > div {
  float: left;
  padding: 0 10px;
}
.header-layout-3 .logo-home03 {
  float: left;
  padding: 0 15px 0 0;
  position: relative;
  z-index: 999;
}
.header-layout-3 .logo-home03 strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.header-layout-3 .logo-home03 .logo {
  display: table;
  height: 60px;
  margin: 0;
}
.header-layout-3 .logo-home03 .logo a {
  display: table-cell;
  vertical-align: middle;
}
.header-layout-3 .logo-home03 .logo a img {
  max-height: 50px;
  max-width: 200px;
}
.header-layout-3 .is-sticky .logo-home03 {
  display: none;
}
.header-layout-3 .is-sticky .header-menu {
  padding: 0;
}
.header-layout-3 .header-menu {
  padding: 25px 0 25px;
}
.header-layout-3 .sticky-search .quick-search {
  right: 0;
  max-width: 100%;
  z-index: 999;
}
/*Header Layout 4*/
.header-layout-4 {
  position: relative;
  z-index: 100;
}
.header-layout-4 .sticky-icon-group {
  display: inline-block;
  float: right;
  margin: 0 -10px 0 50px;
}
.header-layout-4 .sticky-icon-group > div {
  float: left;
  padding: 0 10px;
}
.header-layout-4 .nav-top-inner {
  text-align: right;
}
.header-layout-4 .logo-home04 {
  float: left;
  margin-right: 15px;
  position: relative;
  z-index: 10;
}
.header-layout-4 .logo-home04 .logo {
  display: table;
  height: 60px;
  margin: 0;
}
.header-layout-4 .logo-home04 .logo a {
  display: table-cell;
  vertical-align: middle;
}
.header-layout-4 .logo-home04 .logo a img {
  max-height: 50px;
  max-width: 200px;
}
.header-layout-4 .logo-home04 strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.header-layout-4 .is-sticky .logo-home04 {
  display: none;
}
.header-layout-4 .header-menu {
  padding: 25px 0;
}
.header-layout-4 .header-top-inner {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.header-layout-4 .menu-bar-btn {
  float: left;
}
.header-layout-4 .sticky-bg .typo-main-menu {
  display: none;
}
.header-layout-4 .main-slide-wrap {
  border-bottom: none;
}
/*Header Layout 5*/
.header-layout-5 .store-cr {
  float: right;
}
.header-layout-5 .currency-topbar .currency-list {
  left: auto;
  right: 0;
}
.header-layout-5 .header .logo-home {
  text-align: initial;
}
.header-layout-5 .header .logo-home img {
  margin: 0;
}
.header-layout-5 .form-search {
  max-width: 100%;
}
.header-layout-5 .form-search:hover {
  max-width: 100%;
}
.header-layout-5 .sticky-search .quick-search .form-search {
  max-width: 350px;
}
.header-layout-5 .nav-top-inner {
  text-align: initial;
}
.header-layout-5 .is-sticky .nav-top-inner {
  text-align: right;
}
.header-layout-5 .typo-navigation {
  margin-left: -15px;
}
.header-layout-5 .top-bar {
  position: absolute;
  right: 0;
  top: 9px;
}
.header-layout-5 .is-sticky .top-bar {
  display: none;
}
/*Header Layout 6*/
.header-layout-6 .main-menu {
  float: right;
}
.header-layout-6 .is-sticky #typo-sticky-header {
  background-color: #fff;
}
.header-layout-6 .sticky-icon-group {
  display: block;
  float: right;
  margin: 0 -10px 0 30px;
}
.header-layout-6 .sticky-icon-group > div {
  float: left;
  padding: 0 10px;
}
.header-layout-6 .logo-home06 {
  float: left;
  padding: 0 15px 0 0;
  position: relative;
  z-index: 999;
}
.header-layout-6 .logo-home06 strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.header-layout-6 .logo-home06 .logo {
  display: table;
  height: 60px;
  margin: 0;
}
.header-layout-6 .logo-home06 .logo a {
  display: table-cell;
  vertical-align: middle;
}
.header-layout-6 .logo-home06 .logo a img {
  max-height: 50px;
  max-width: 200px;
}
.header-layout-6 .is-sticky .logo-home06 {
  display: none;
}
.header-layout-6 .is-sticky .header-menu {
  padding: 0;
}
.header-layout-6 .header-menu {
  padding: 25px 0 25px;
}
.header-layout-6 .sticky-search .quick-search {
  right: 0;
  max-width: 100%;
  z-index: 999;
}
.header-layout-8 .top-bar,
.header-layout-7 .top-bar {
  float: right;
}
.header-layout-8 .language-topbar .lang-list,
.header-layout-7 .language-topbar .lang-list {
  right: 0;
  left: auto;
}
.header-layout-8 .currency-topbar .currency-list,
.header-layout-7 .currency-topbar .currency-list {
  right: 0;
  left: auto;
}
.header-layout-8 .delimiter,
.header-layout-7 .delimiter {
  line-height: 12px;
  height: 12px;
  background-color: #666;
  margin: 15px;
}
.header-layout-8 .home2-block-phone-email,
.header-layout-7 .home2-block-phone-email {
  padding: 10px 0;
  line-height: 22px;
}
.header-layout-8 .sticky-icon-group,
.header-layout-7 .sticky-icon-group {
  display: inline-block;
  float: right;
  margin: 0 -10px 0 50px;
}
.header-layout-8 .sticky-icon-group > div,
.header-layout-7 .sticky-icon-group > div {
  float: left;
  padding: 0 10px;
}
.header-layout-8 .is-sticky .sticky-icon-group .settings,
.header-layout-7 .is-sticky .sticky-icon-group .settings {
  display: block;
}
.header-layout-8 .nav-top-inner,
.header-layout-7 .nav-top-inner {
  text-align: right;
}
.header-layout-8 .logo-home02,
.header-layout-7 .logo-home02 {
  float: left;
  margin-right: 15px;
  position: relative;
  z-index: 10;
}
.header-layout-8 .logo-home02 .logo,
.header-layout-7 .logo-home02 .logo {
  display: table;
  height: 60px;
  margin: 0;
}
.header-layout-8 .logo-home02 .logo a,
.header-layout-7 .logo-home02 .logo a {
  display: table-cell;
  vertical-align: middle;
}
.header-layout-8 .logo-home02 .logo a img,
.header-layout-7 .logo-home02 .logo a img {
  max-height: 50px;
  max-width: 200px;
}
.header-layout-8 .logo-home02 strong,
.header-layout-7 .logo-home02 strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.header-layout-8 .is-sticky .logo-home02,
.header-layout-7 .is-sticky .logo-home02 {
  display: none;
}
.header-layout-8 .header-menu,
.header-layout-7 .header-menu {
  padding: 35px 0;
}
.header-layout-8 .header-top-inner,
.header-layout-7 .header-top-inner {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.header-layout-8 .menu-bar-btn,
.header-layout-7 .menu-bar-btn {
  float: left;
}
.header-layout-8 .sticky-bg .typo-main-menu,
.header-layout-7 .sticky-bg .typo-main-menu {
  display: none;
}
.header-layout-8 .main-slide-wrap,
.header-layout-7 .main-slide-wrap {
  border-bottom: none;
}
.header-layout-7 .header-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cms-index-index .header-container.header-layout-7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.header-layout-8 {
  border-bottom: 1px solid #ccc;
}
.header-layout-8 .is-sticky .typo-main-menu,
.header-layout-8 .typo-navigation {
  display: block;
}
.header-layout-8 .logo-home02,
.header-layout-8 .logo-sticky {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 130px;
  text-align: center;
  padding: 0;
}
.header-layout-8 .sticky-icon-group {
  margin: 0 -10px 0 20px;
}
.header-layout-8 .sticky-search .quick-search .icon_close,
.header-layout-8 .quick-search.showing {
  color: #000;
}
.header-layout-8 .typo-ajax-container {
  color: #000;
}
.header-layout-8 .typo-ajax-container a {
  color: #000;
}
.rtl .header-layout-8 .is-sticky .typo-main-menu,
.rtl .header-layout-8 .typo-navigation {
  display: block;
}
.rtl .header-layout-8 .logo-home02,
.rtl .header-layout-8 .logo-sticky {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto!important;
  max-width: 130px;
  text-align: center;
}
.slide-carousel.slide-carousel02:before {
  background-color: rgba(234, 234, 234, 0);
}
.slide-carousel .carousel-content02 {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
.slide-carousel .carousel-content02 .h3.text-small {
  color: #bf113d;
}
.slide-carousel .carousel-content02 .h3.text-large {
  color: #000;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}
.slide-carousel .carousel-content02 .text-normal {
  color: #666;
}
.slide-carousel .carousel-content02 .btn-ex {
  font-size: 36px;
  color: #000;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.slide-carousel .carousel-content02:hover .btn-ex {
  color: #bf113d;
}
.slide-carousel .h3.text-small {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 25px;
}
.slide-carousel .h3.text-large {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 35px;
}
.slide-carousel .text-normal {
  font-size: 14px;
  margin-bottom: 60px;
}
.top-welcome {
  text-align: center;
  margin: 95px 0 65px;
}
.top-welcome .images {
  margin-bottom: 25px;
}
.top-welcome .text-content .title-content {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.top-welcome .text-content .text-content {
  font-size: 15px;
  color: #999999;
}
.commu-block {
  text-align: center;
  margin-bottom: 60px;
}
.commu-block .title-box {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 50px;
}
.commu-block .tp-block {
  display: inline-block;
}
.commu-block .tp-block.tp11 {
  width: 100%;
}
.commu-block .tp-block.tp12 {
  float: left;
  width: 50%;
}
.commu-block .tp-block.tp-block-left {
  padding-right: 15px;
}
.commu-block .tp-block.tp-block-right {
  padding-left: 15px;
}
.commu-block .tp-block .tp-inner-block {
  position: relative;
  margin: 0 0 30px;
}
.commu-block .tp-block .tp-inner-block a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
  text-indent: -99999px;
}
.commu-block .tp-block .tp-inner-block .text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.9);
  padding: 25px 0;
  text-align: left;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.commu-block .tp-block .tp-inner-block .text-content .user-content {
  color: #000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}
.commu-block .tp-block .tp-inner-block .text-content .social-content {
  font-size: 12px;
  color: #999999;
  line-height: 1;
}
.commu-block .tp-block .tp-inner-block img {
  width: 100%;
}
.commu-block .tp-block .tp-inner-block:hover .text-content {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.sticky-search .quick-search.showing {
  z-index: 999;
}
.home15 .main-brands-inner,
.home14 .main-brands-inner {
  padding: 60px 0 100px;
}
.home15 .footer-copyright .h3,
.home14 .footer-copyright .h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  line-height: 1;
  margin: 60px 0;
}
.widget-product-brands.brand-slider02 .main-heading {
  padding: 30px 0 50px;
}
.widget-product-brands.brand-slider02 .main-heading .heading-title {
  background: none;
  padding: 10px 0 50px;
}
.widget-product-brands.brand-slider02 .main-heading .heading-title h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.widget-product-brands.brand-slider02 .owl-carousel .owl-item img {
  max-height: 20px;
}
.footer-style14 .inner-footer-block .h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
}
.footer-style14 .inner-footer-block .text-content p {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.025em;
}
.footer-style14 .inner-footer-block .text-content ul li {
  display: inline-block;
}
.footer-style14 .inner-footer-block .text-content ul li a {
  font-size: 14px;
  line-height: 20px;
  padding: 0 5px;
}
.footer-style14 .inner-footer-block .footer-center-image {
  margin-bottom: 145px;
}
.footer-style14 .inner-footer-block .footer-payment h3 {
  color: #666666;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.footer-style14 .inner-footer-block img {
  max-width: 100%;
}
.footer-style14 .inner-footer-block1 {
  text-align: left;
}
.footer-style14 .inner-footer-block2 {
  text-align: center;
}
.footer-style14 .inner-footer-block3 {
  text-align: right;
}
.footer-style14 .widget-latest h2 {
  display: none;
}
.footer-style14 .widget-latest ul li {
  padding: 0;
  line-height: 30px;
}
.footer-style14 .widget-latest ul li a {
  font-size: 14px;
}
.rtl .footer-style14 .inner-footer-block1 {
  text-align: right;
}
.rtl .footer-style14 .inner-footer-block3 {
  text-align: left;
}
@media (min-width: 1200px) {
  .header-layout-8 .visible-lg-inline-block {
    display: block !important;
  }
}
.rtl #typonav > li.menu-item-left,
#typonav > li.menu-item-right {
  float: right;
}
.rtl #typonav > li.menu-item-right,
#typonav > li.menu-item-left {
  float: left;
}
.slide-carousel {
  position: relative;
  color: #fff;
}
.slide-carousel:before {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
}
.slide-carousel .carousel-content {
  width: 100%;
  padding: 15px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 350ms ease, visible 350ms ease;
  -moz-transition: opacity 350ms ease, visible 350ms ease;
  transition: opacity 350ms ease, visible 350ms ease;
}
.slide-carousel .carousel-content .text-small {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 60px;
}
.slide-carousel .carousel-content .text-large {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.slide-carousel .carousel-content .text-normal {
  margin-bottom: 40px;
}
.slide-carousel .carousel-content a.btn-ex {
  font-size: 13px;
  height: 42px;
  font-weight: bold;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  line-height: 20px;
  color: #ffffff;
  float: none;
}
.slide-carousel:hover:before {
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slide-carousel:hover .carousel-content {
  opacity: 1;
  visibility: visible;
}
.main-slide-inner .main-carousel .owl-theme .owl-nav {
  display: block;
}
.main-slide-inner .main-carousel .owl-theme .owl-nav > div {
  position: absolute;
  width: 64px;
  height: 64px;
  background: transparent url(../images/arrow-next.png) 0 0 no-repeat;
  opacity: 0.5;
  margin-top: -32px;
  right: 20px;
}
.main-slide-inner .main-carousel .owl-theme .owl-nav > div > * {
  display: none;
}
.main-slide-inner .main-carousel .owl-theme .owl-nav > div:hover {
  opacity: 1;
}
.main-slide-inner .main-carousel .owl-theme .owl-nav .owl-prev {
  background: transparent url(../images/arrow-prev.png) 0 0 no-repeat;
  right: auto;
  left: 20px;
}
.block-welcome {
  padding-bottom: 30px;
}
.block-welcome .text-block {
  text-align: center;
  color: #999;
  margin-bottom: 60px;
}
.block-welcome .text-block > span {
  display: inline-block;
  max-width: 700px;
  padding: 0 10px;
  vertical-align: top;
}
.block-icon {
  text-align: center;
  height: 218px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  position: relative;
}
.block-icon .block-center {
  width: 100%;
  padding: 10px;
}
.block-icon .block-center > span {
  color: #999;
  font-size: 40px;
}
.block-icon .text-hidden {
  display: none;
}
.block-icon .title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin: 25px 0 15px 0;
}
.block-icon .text {
  color: #999;
}
.block-icon.block-icon2 {
  background-color: #ededed;
}
.widget-collection-style2 {
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding-top: 25px;
}
.widget-collection-style2 .tabs-wrap {
  margin-bottom: 40px;
}
.blog-style.blog-style2 {
  padding: 25px 0 75px 0;
}
.slider-home.slide-fullwidth {
  color: #ffffff;
  height: auto;
  text-align: initial;
  position: relative;
}
.slider-home.slide-fullwidth .caption {
  max-width: 480px;
  width: 100%;
  top: 50%;
  right: 16%;
}
.cms-index-index.home03 .main-content-inner {
  background-color: #f5f5f5;
}
.main-newsletter.home03-newsletter {
  position: relative;
  padding: 95px 0;
  overflow: hidden;
}
.main-newsletter.home03-newsletter:before {
  background: #e5e5e5 none repeat scroll 0 0;
  content: "";
  height: 70%;
  left: 50%;
  position: absolute;
  top: 100px;
  width: 1px;
}
.main-newsletter.home03-newsletter .main-newsletter-inner {
  border-top: none;
  text-align: initial;
}
.main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .title {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: initial;
  text-transform: uppercase;
}
.main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .text {
  font-size: 15px;
  color: #999999;
  margin-bottom: 45px;
  font-style: italic;
  text-align: initial;
}
.main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .input-box input {
  height: 55px;
  background-color: #f5f5f5;
}
.main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .input-box input:focus {
  background: #fff;
}
.main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .input-box button {
  height: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 30px;
}
.main-newsletter.home03-newsletter .left-newsletter .title {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: initial;
  text-transform: uppercase;
}
.main-newsletter.home03-newsletter .left-newsletter ul li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}
.main-newsletter.home03-newsletter .left-newsletter ul li .blog-title {
  line-height: 20px;
  margin: 0;
}
.main-newsletter.home03-newsletter .left-newsletter ul li .blog-title i {
  margin-right: 10px;
  line-height: 20px;
  vertical-align: top;
}
.main-newsletter.home03-newsletter .left-newsletter ul li .blog-title a {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
}
.main-newsletter.home03-newsletter .left-newsletter ul li .blog-info {
  font-size: 13px;
  color: #999;
  line-height: 15px;
}
.main-newsletter.home03-newsletter .left-newsletter ul li:last-child {
  border: none;
}
.home03 .widget-collection-style1 {
  border-top: none;
  padding: 25px 0 50px;
}
.home03 .widget-collection-style1 .tabs-collection {
  padding-top: 55px;
}
.main-top {
  overflow: hidden;
}
.no-padding {
  padding: 0 !important;
}
.block-top-01,
.block-top-02 {
  display: table;
}
.block-top-01 > div,
.block-top-02 > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.block-top-01 .images,
.block-top-02 .images {
  overflow: hidden;
}
.block-top-01 .images img,
.block-top-02 .images img {
  max-width: 100%;
  width: 100%;
}
.block-top-01 .content-block,
.block-top-02 .content-block {
  text-align: initial;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.block-top-01 .content-block h2,
.block-top-02 .content-block h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 0 0 30px;
  display: block;
  line-height: 42px;
  text-transform: uppercase;
  margin-top: 0;
  position: relative;
}
.block-top-01 .content-block h2 span:after,
.block-top-02 .content-block h2 span:after {
  background: rgba(0, 0, 0, 0) url("../images/bg-title.png") no-repeat scroll left center;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.block-top-01 .content-block p,
.block-top-02 .content-block p {
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  color: #666666;
  margin: 0;
}
.block-top-01 .bottom,
.block-top-02 .bottom {
  margin-top: 62px;
}
.block-top-01 .bottom a,
.block-top-02 .bottom a {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 7px 23px;
  text-transform: uppercase;
  position: relative;
}
.global-site-notice.notice-cookie.logancee03 {
  margin-top: -35px;
}
.home03-footer {
  text-align: center;
}
.home03-footer .footer-logo {
  margin: 70px auto;
}
.home03-footer ul.social-icons {
  display: inline-block;
  text-align: center;
  margin: 0;
}
.home03-footer ul.social-icons li {
  display: inline-block;
}
.home03-footer ul.social-icons li a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
}
.home03-footer .copyright {
  margin-top: 30px;
}
.fluid-width-footer.footer-container {
  border-top: none;
  padding: 0;
}
.fluid-width-footer.footer-container .footer-copyright {
  border-top: none;
  padding: 15px 0 75px;
  font-size: 13px;
}
.fluid-width-footer.footer-container .footer-copyright a {
  text-transform: uppercase;
  font-weight: 600;
}
.fluid-width-footer.footer-container .footer-top-inner {
  padding: 15px 0 15px;
}
.fullpage-wrapper {
  text-align: center;
  color: #fff;
}
.fullpage-wrapper .widget-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.fullpage-wrapper .widget-block .intro {
  margin-top: 200px;
  opacity: 0;
  padding: 15px;
  visibility: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.fullpage-wrapper .widget-block .intro .text-small {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
}
.fullpage-wrapper .widget-block .intro .title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.fullpage-wrapper .widget-block .intro .btn-ex {
  display: inline-block;
  padding: 6px 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 30px;
  vertical-align: top;
}
.fullpage-wrapper .widget-block.active .intro {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.home04 .footer-container {
  padding: 0;
  border: none;
  line-height: 42px;
}
.home04 .footer-container .footer-inner {
  padding: 9px 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
}
.home04.cms-index-index .footer-container {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  left: 0;
  right: 0;
  border: none;
  line-height: 42px;
}
.home04.cms-index-index .footer-container .footer-inner {
  border: none;
}
.home04.cms-index-index .global-site-notice {
  display: none;
}
.home04 .social li > span {
  line-height: 42px;
  padding: 0 7px;
}
.home04 .address-footer {
  text-align: center;
  width: 100%;
}
.home04 .address-footer .space {
  padding: 0 5px;
}
.home04 #fp-nav.right {
  right: 20px;
}
.home04 #fp-nav ul li,
.home04 .fp-slidesNav ul li {
  width: 20px;
  margin: 14px 0;
}
.home04 #fp-nav ul li,
.home04 .fp-slidesNav ul li {
  height: 20px;
}
.home04 #fp-nav ul li a span,
.home04 .fp-slidesNav ul li a span {
  width: 20px;
  height: 3px;
  background-color: #ccc;
  border-radius: 0;
  margin: -1px -10px;
  overflow: hidden;
}
.home04 #fp-nav ul li a span:before,
.home04 .fp-slidesNav ul li a span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 100%;
  top: 0;
  z-index: 2;
  background-color: #000;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}
.home04 #fp-nav ul li a.active span,
.home04 .fp-slidesNav ul li a.active span,
.home04 #fp-nav ul li:hover a.active span,
.home04 .fp-slidesNav ul li:hover a.active span {
  width: 20px;
  height: 3px;
  border-radius: 0;
  margin: -1px -10px;
}
.home04 #fp-nav ul li a.active span:before {
  right: 0;
}
.home04 .videoMuteBtn {
  position: absolute;
  color: #fff;
  z-index: 100;
  font-size: 40px;
  left: 50%;
  top: 50%;
  margin-top: 90px;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.home04 #section1 {
  color: #f2f2f2;
}
.home04 #section2 .text-normal {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.home04 #section3 .text-normal {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.home04 #section4 .text-normal {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.home04 #section5 .text-normal {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.home04 #section5 .name {
  margin-top: 45px;
  text-transform: uppercase;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
}
.home05.cms-index-index .typo-container {
  overflow: visible;
}
#multiscroll {
  position: relative;
}
#multiscroll .ms-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#multiscroll .ms-section.active h2.title:before {
  left: 0;
}
#multiscroll .ms-section.active .text {
  opacity: 1;
  margin-top: 0;
}
.block-prent {
  text-align: initial;
  max-width: 540px;
  width: 100%;
  padding: 15px;
}
.block-prent h2.title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
}
.block-prent h2.title:before {
  content: '';
  width: 60px;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: -100%;
  -webkit-transition: left .5s, right .5s;
  -moz-transition: left .5s, right .5s;
  -o-transition: left .5s, right .5s;
  transition: left .5s, right .5s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.block-prent .text {
  -webkit-transition: margin-top 0.5s, opacity 0.5s;
  -moz-transition: margin-top 0.5s, opacity 0.5s;
  -o-transition: margin-top 0.5s, opacity 0.5s;
  transition: margin-top 0.5s, opacity 0.5s;
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -o-transition-delay: .7s;
  transition-delay: .7s;
  opacity: 0;
  margin-top: -100px;
}
.block-prent .btn-ex {
  margin-top: 30px;
}
.block-prent .date-time {
  color: #ccc;
}
.block-prent .date-time .date {
  font-size: 72px;
}
.block-prent .date-time .month {
  font-size: 24px;
}
.block-prent h3.title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.block-prent .btn-ctn {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
.block-prent .quote {
  font-size: 72px;
  color: #ccc;
  line-height: 1;
  margin-bottom: 15px;
}
.block-prent .quote + .text {
  font-size: 24px;
  color: #999;
}
.block-prent .user-position {
  margin-top: 30px;
  font-size: 15px;
}
.block-prent .user-position .name {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.block-prent .user-position .position {
  color: #999;
}
.block-prent #contactForm .form-list {
  padding: 0;
}
.block-prent #contactForm .form-list .input-box {
  margin: 0;
}
.block-prent #contactForm .form-list .input-box textarea {
  padding: 10px 0;
  height: 50px;
  border: 1px solid transparent;
  border-bottom: 1px dotted #ccc;
  background-color: transparent;
}
.block-prent #contactForm .form-list .input-box input {
  padding: 0;
  height: 50px;
  border: 1px solid transparent;
  border-bottom: 1px dotted #ccc;
  background-color: transparent;
}
.block-prent #contactForm button span {
  line-height: 50px;
}
.block-prent #contactForm button span span {
  line-height: 50px;
  padding: 0;
}
.block-prent #contactForm .buttons-set {
  text-align: initial;
  margin-top: 30px;
}
.boxed {
  max-width: 1230px;
  margin: 0 auto;
}
.cat-home {
  margin-bottom: 30px;
}
.cat-home .title {
  height: 61px;
  line-height: 27px;
  padding: 17px 20px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  background-color: #000;
}
.cat-home ul li {
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-top: none;
}
.cat-home ul li a {
  font-size: 15px;
  padding: 20px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  -webkit-transition: color 350ms ease, padding 350ms ease;
  -moz-transition: color 350ms ease, padding 350ms ease;
  transition: color 350ms ease, padding 350ms ease;
}
.cat-home ul li a:hover {
  padding-left: 30px;
}
.newsletter6 .main-newsletter-inner {
  border: none;
  background-color: #eeeeee;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.newsletter6 .subscribe {
  padding: 0;
}
.newsletter6 .subscribe .input-box button {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}
.newsletter6 .subscribe .input-box input {
  background-color: #fff;
  padding: 0;
  text-align: center;
}
.block-static-top {
  position: relative;
  height: 221px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
}
.block-static-top .block-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
.block-static-top:hover .block-img {
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.block-static-top .text-wrap {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: left;
}
.block-static-top .text-wrap .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 30px;
  letter-spacing: 0.5px;
}
.block-static-top .text-wrap a {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  display: inline-block;
}
.block-static-top .text-wrap a span {
  position: relative;
  font-size: 16px;
  float: right;
  padding-left: 5px;
}
.widget-collection-style3 .tabs-collection {
  text-align: initial;
}
.widget-collection-style3 .widget-tabs {
  margin-left: -15px;
}
.widget-collection-style3 .tabs-wrap {
  margin-top: 30px;
}
.widget-collection-style3 .owl-theme .owl-nav {
  position: absolute;
  top: -80px;
  margin: 0 -6px;
  right: 0;
  display: block;
}
.widget-collection-style3 .owl-theme .owl-nav > div {
  position: static;
  height: 34px;
  width: 34px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  background-color: #fff;
  color: #ccc;
  border-radius: 0;
  padding: 0;
  font-size: 23px;
  margin: 0 6px;
  line-height: 32px;
}
.widget-collection-style3 .owl-theme .owl-nav > div:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.blog-style3 {
  padding-top: 0;
  border: none;
}
.blog-style3 .title-widget {
  text-align: initial;
  margin-top: 30px;
}
.list-features {
  margin-bottom: 60px;
}
.list-features .media-left > span {
  display: block;
  height: 68px;
  line-height: 66px;
  width: 68px;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-size: 25px;
  color: #999;
  border-radius: 50%;
}
.list-features .media-left > span:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.list-features .media-left .hide {
  display: none;
}
.list-features .media-body {
  padding: 0 10px;
}
.list-features .h4 {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 10px;
}
.home07.cms-index-index .header-layout-3 {
  top: 0;
}
.home07 .slider-home {
  height: auto !important;
}
.home07 .slider-home .caption {
  right: auto;
  left: 16%;
  max-width: 410px;
}
.home07 .main-slide-inner {
  margin: 0;
}
.home07 .main-slide-inner .owl-dots {
  margin: 0;
  right: auto;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.interior-block-slide,
.interior-block-static {
  height: 500px;
  position: relative;
}
.interior-block-slide {
  background-size: cover;
  background-position: center top;
}
.interior-block-slide .interior-inner {
  position: absolute;
  left: 0;
  bottom: 5%;
  padding: 15px;
  width: 100%;
  text-align: center;
}
.interior-block-slide .interior-inner .title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.interior-block-slide .interior-inner .text {
  max-width: 420px;
  display: inline-block;
}
.interior-block-static .interior-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: initial;
  padding: 15px;
  max-width: 420px;
}
.interior-block-static .interior-inner.left {
  left: 15px;
}
.interior-block-static .interior-inner .title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 30px;
}
.interior-block-static .interior-inner .text {
  color: #666;
  margin-bottom: 30px;
}
.interior-block-static .interior-inner .btn-view a {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #666666;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.interior-block-slide-wrap .owl-theme .owl-nav {
  display: block;
}
.interior-block-slide-wrap .owl-theme .owl-nav [class*='owl-'] {
  background-color: #fff;
  margin: 0;
  border: 1px solid #999;
  color: #999;
  height: 54px;
  width: 54px;
  line-height: 52px;
}
.interior-block-slide-wrap .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #000;
  color: #fff;
}
.interior-block-slide-wrap .owl-theme .owl-nav div.owl-next {
  top: 30px;
  right: 30px;
}
.interior-block-slide-wrap .owl-theme .owl-nav div.owl-prev {
  top: 30px;
  left: auto;
  right: 100px;
}
.slider-home .caption.left-center {
  right: auto;
  left: 90px;
  max-width: 320px;
}
.slider-home .caption .title {
  position: relative;
}
.slider-home .caption .title.border-bot {
  padding-bottom: 35px;
  margin-bottom: 50px;
}
.slider-home .caption .border-bot:after {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 5px;
  content: '';
  left: 0;
  bottom: 0;
  background: #000000;
}
.block-jw-text {
  margin-bottom: 30px;
  background-color: #f2f2f2;
  position: relative;
}
.block-jw-text .block-prent .text {
  margin-top: 0;
  opacity: 1;
  display: block;
}
.block-jw-text .block-prent h2.title:before {
  left: 0;
  background-color: #cc9900;
}
.block-jw-text .block-prent .quote + .text {
  font-size: 16px;
}
.block-jw-text .block-prent .quote {
  font-size: 50px;
  color: #cc9900;
}
.block-jw-text .user-name {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.block-jw {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.block-jw .btn-ex {
  font-size: 13px;
  height: 42px;
  font-weight: bold;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
}
.block-jw:before {
  position: absolute;
  content: '';
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.block-jw.bg-blue:before {
  background-color: rgba(33, 150, 243, 0.5);
}
.block-jw.bg-orange:before {
  background-color: rgba(255, 152, 0, 0.5);
}
.block-jw.bg-green:before {
  background-color: rgba(76, 175, 80, 0.5);
}
.block-jw.bg-brown:before {
  background-color: rgba(165, 42, 42, 0.5);
}
.block-jw:hover:before {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
.block-jw:hover .btn-ex {
  opacity: 1;
  visibility: visible;
}
.jw-text1 {
  height: 580px;
}
.jw-5 {
  height: 700px;
}
.jw-6,
.jw-text2,
.jw-3 {
  height: 300px;
}
.jw-1,
.jw-2 {
  height: 380px;
}
.jw-4 {
  height: 490px;
}
.rtl {
  /*Header Layout 2*/
  /*Header Layout 3*/
  /*Header Layout 4*/
  /*Header Layout 5*/
  /*Header Layout 6*/
}
.rtl .header-layout-8 .top-bar,
.rtl .header-layout-7 .top-bar,
.rtl .header-layout-2 .top-bar {
  float: left;
}
.rtl .header-layout-8 .language-topbar .lang-list,
.rtl .header-layout-7 .language-topbar .lang-list,
.rtl .header-layout-2 .language-topbar .lang-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-8 .currency-topbar .currency-list,
.rtl .header-layout-7 .currency-topbar .currency-list,
.rtl .header-layout-2 .currency-topbar .currency-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-8 .logo-home02,
.rtl .header-layout-7 .logo-home02,
.rtl .header-layout-2 .logo-home02 {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.rtl .header-layout-8 .nav-top-inner,
.rtl .header-layout-7 .nav-top-inner,
.rtl .header-layout-2 .nav-top-inner {
  text-align: left;
}
.rtl .header-layout-8 .sticky-icon-group,
.rtl .header-layout-7 .sticky-icon-group,
.rtl .header-layout-2 .sticky-icon-group {
  float: left;
  margin: 0 50px 0 -10px;
}
.rtl .header-layout-8 .sticky-icon-group > div,
.rtl .header-layout-7 .sticky-icon-group > div,
.rtl .header-layout-2 .sticky-icon-group > div {
  float: right;
}
.rtl .header-layout-8 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items,
.rtl .header-layout-7 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items,
.rtl .header-layout-2 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
  display: block;
}
.rtl .header-layout-8 .menu-bar-btn,
.rtl .header-layout-7 .menu-bar-btn,
.rtl .header-layout-2 .menu-bar-btn {
  float: right;
}
.rtl .header-layout-3 .main-menu {
  float: left;
}
.rtl .header-layout-3 .language-topbar .lang-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-3 .currency-topbar .currency-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-3 .logo-home03 {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.rtl .header-layout-3 .nav-top-inner {
  text-align: left;
}
.rtl .header-layout-3 .sticky-icon-group {
  float: left;
  margin: 0 50px 0 -10px;
}
.rtl .header-layout-3 .sticky-icon-group > div {
  float: right;
}
.rtl .header-layout-3 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
  display: block;
}
.rtl .header-layout-3 .menu-bar-btn {
  float: right;
}
.rtl .header-layout-4 .top-bar {
  float: left;
}
.rtl .header-layout-4 .language-topbar .lang-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-4 .currency-topbar .currency-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-4 .logo-home04 {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.rtl .header-layout-4 .nav-top-inner {
  text-align: left;
}
.rtl .header-layout-4 .sticky-icon-group {
  float: left;
  margin: 0 50px 0 -10px;
}
.rtl .header-layout-4 .sticky-icon-group > div {
  float: right;
}
.rtl .header-layout-4 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
  display: block;
}
.rtl .header-layout-4 .menu-bar-btn {
  float: right;
}
.rtl .block-prent h2.title:before {
  right: -100%;
}
.rtl .block-prent .icon_quotations {
  display: inline-block;
  direction: ltr;
}
.rtl #multiscroll .ms-section.active h2.title:before {
  right: 0;
}
.rtl .header-layout-5 .store-cr {
  float: left;
}
.rtl .header-layout-5 .top-bar {
  left: 0;
  right: auto;
}
.rtl .header-layout-5 .typo-navigation {
  margin-left: 0;
  margin-right: -15px;
}
.rtl .header-layout-6 .main-menu {
  float: left;
}
.rtl .header-layout-6 .language-topbar .lang-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-6 .currency-topbar .currency-list {
  left: 0;
  right: auto;
}
.rtl .header-layout-6 .logo-home06 {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.rtl .header-layout-6 .nav-top-inner {
  text-align: left;
}
.rtl .header-layout-6 .sticky-icon-group {
  float: left;
  margin: 0 50px 0 -10px;
}
.rtl .header-layout-6 .sticky-icon-group > div {
  float: right;
}
.rtl .header-layout-6 .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
  display: block;
}
.rtl .header-layout-6 .menu-bar-btn {
  float: right;
}
.rtl .main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .input-box button {
  left: 0;
  right: auto;
}
.rtl .block-top-01 .content-block h2 span:after,
.rtl .block-top-02 .content-block h2 span:after {
  background-position: right center;
}
.rtl .widget-collection-style3 .owl-theme .owl-nav {
  left: 0;
  right: auto;
}
.rtl .cat-home ul li a:hover {
  padding-right: 30px;
  padding-left: 20px;
}
@media (min-width: 1600px) {
  .cms-index-index .header-layout-4 .nav-top {
    padding: 20px 0;
  }
  .home04 .footer-container .footer-inner {
    padding: 29px 0;
  }
  .block-prent h2.title {
    font-size: 70px;
  }
  .jw-text1 {
    height: 880px;
  }
  .jw-5 {
    height: 1200px;
  }
  .jw-6,
  .jw-text2,
  .jw-3 {
    height: 410px;
  }
  .jw-1,
  .jw-2 {
    height: 580px;
  }
  .jw-4 {
    height: 890px;
  }
}
@media (min-width: 1230px) {
  .boxed .container {
    width: 1230px;
    padding: 0 30px;
  }
}
@media (max-width: 1599px) {
  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 680px !important;
  }
}
@media (max-width: 1199px) {
  .header-layout-4 .cmn-toggle-switch {
    width: 30px;
  }
  .header-layout-4 .logo-home04 {
    margin-left: 15px;
    margin-right: 0;
  }
  .header-layout-4 .is-sticky .logo-sticky {
    padding: 0 15px;
  }
  .block-top-01 .content-block h2,
  .block-top-02 .content-block h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .block-top-01 .content-block p,
  .block-top-02 .content-block p {
    line-height: 1.7;
    font-size: 14px;
  }
  .block-top-01 .bottom,
  .block-top-02 .bottom {
    margin-top: 30px;
  }
  .rtl .header-layout-4 .logo-home04 {
    margin-left: 0;
    margin-right: 15px;
  }
  .rtl .header-layout-4 .is-sticky .logo-sticky {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  /*Header Layout 2*/
  .header-layout-8 .header-top-inner,
  .header-layout-7 .header-top-inner,
  .header-layout-2 .header-top-inner {
    text-align: center;
  }
  .header-layout-8 .top-bar,
  .header-layout-7 .top-bar,
  .header-layout-2 .top-bar {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
  .slider-home.slide-fullwidth .caption {
    top: 55%;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 420px;
    padding: 15px 10px;
  }
  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 500px !important;
  }
  .block-top-01 .content-block p,
  .block-top-02 .content-block p {
    display: none;
  }
  .block-prent h2.title {
    font-size: 30px;
  }
  .widget-collection-style3 .tab-mobile {
    display: block;
  }
  .widget-collection-style3 .tab-mobile + .widget-tabs {
    position: absolute;
    top: 55px;
    left: 0;
    margin: 0 !important;
    padding: 15px 30px;
    width: 290px;
    height: auto;
    z-index: 11;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    text-align: initial;
    opacity: 0;
    visibility: hidden;
  }
  .widget-collection-style3 .tab-mobile + .widget-tabs.showing {
    opacity: 1;
    visibility: visible;
  }
  .interior-block-slide .interior-inner .title {
    font-size: 20px;
  }
  .interior-block-static .interior-inner .title {
    font-size: 24px;
  }
  .slider-home .caption.left-center {
    right: auto;
    left: 15px;
  }
  .rtl .header-layout-8 .top-bar,
  .rtl .header-layout-7 .top-bar,
  .rtl .header-layout-2 .top-bar {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
  .rtl .widget-collection-style3 .tab-mobile + .widget-tabs {
    left: auto;
    right: 0;
  }
  .rtl .tab-mobile + .widget-tabs li a {
    padding: 5px 15px 5px 0;
  }
}
@media (min-width: 1600px) {
  .interior-block-slide,
  .interior-block-static {
    height: 700px;
  }
}
@media (max-width: 767px) {
  /*Header Layout 2*/
  .header-layout-8 .sticky-search .quick-search,
  .header-layout-7 .sticky-search .quick-search,
  .header-layout-2 .sticky-search .quick-search {
    max-width: 100%;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .header-layout-8 .typo-icon-ajaxcart .typo-cart-label .print,
  .header-layout-7 .typo-icon-ajaxcart .typo-cart-label .print,
  .header-layout-2 .typo-icon-ajaxcart .typo-cart-label .print {
    display: block;
  }
  /*Header Layout 3*/
  .header-layout-3 .sticky-search .quick-search {
    max-width: 100%;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .header-layout-3 .sticky-icon-group {
    margin: 0 -10px 0 0;
  }
  .header-layout-3 .typo-icon-ajaxcart .typo-cart-label .print {
    display: block;
  }
  .cms-index-index .header-layout-3 {
    position: relative;
    top: 0;
    margin-top: -15px;
  }
  /*Header Layout 4*/
  .header-layout-4 .sticky-icon-group {
    margin: 0 -10px 0 0;
  }
  .header-layout-4 .settings .settings-inner {
    padding-top: 0;
  }
  .header-layout-4 .settings .setting-language,
  .header-layout-4 .settings .setting-currency {
    padding-top: 20px;
  }
  .header-layout-4 .sticky-search .quick-search {
    max-width: 100%;
    right: 0;
    top: auto;
    bottom: 0;
    z-index: 100;
  }
  .header-layout-4 .typo-icon-ajaxcart .typo-cart-label .print,
  .header-layout-4 .typo-icon-ajaxcart .icon-dropdown {
    display: block;
  }
  /*Header Layout 5*/
  .header-layout-5 .social {
    float: left;
  }
  /*Header Layout 6*/
  .header-layout-6 .sticky-search .quick-search {
    max-width: 100%;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .header-layout-6 .sticky-icon-group {
    margin: 0 -10px 0 0;
  }
  .header-layout-6 .typo-icon-ajaxcart .typo-cart-label .print {
    display: block;
  }
  .block-top-02 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .block-top-02 .images {
    order: 2;
  }
  .block-top-01 .content-block,
  .block-top-02 .content-block {
    padding: 25px 0;
    margin: 0;
  }
  .block-top-01 .content-block h2,
  .block-top-02 .content-block h2 {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 15px 0 25px;
    line-height: 35px;
  }
  .block-top-01 .content-block p,
  .block-top-02 .content-block p {
    font-size: 14px;
    line-height: 25px;
  }
  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 400px !important;
  }
  .main-newsletter.home03-newsletter:before {
    display: none;
    visibility: hidden;
  }
  .main-newsletter.home03-newsletter {
    padding: 50px 0;
  }
  .main-newsletter.home03-newsletter .left-newsletter,
  .main-newsletter.home03-newsletter .right-newsletter {
    margin-bottom: 30px;
  }
  .main-newsletter.home03-newsletter .subscribe {
    padding-bottom: 15px;
  }
  .fluid-width-footer.footer-container .footer-top-inner {
    padding: 25px 0 10px;
  }
  .fluid-width-footer.footer-container .footer-copyright {
    padding: 10px 0 40px;
  }
  .fluid-width-footer.footer-container .home03-footer .footer-logo {
    margin: 40px auto;
  }
  .block-top-01 > div,
  .block-top-02 > div {
    display: block;
  }
  .block-top-01 .content-block p,
  .block-top-02 .content-block p {
    display: block;
  }
  .home04.cms-index-index .footer-container {
    display: none;
  }
  .home04 #fp-nav.right {
    right: 6px;
  }
  .fullpage-wrapper .widget-block .intro .text-small {
    font-size: 14px;
  }
  .fullpage-wrapper .widget-block .intro .title {
    font-size: 20px;
  }
  .home04 #section2 .text-normal {
    margin-top: 15px;
  }
  .home04 #section4 .text-normal {
    font-size: 14px;
    margin-top: 15px;
  }
  .home04 #section5 .text-normal {
    font-size: 14px;
  }
  .fullpage-wrapper .widget-block .intro img {
    max-height: 100px;
  }
  .block-prent h2.title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .block-prent .text {
    display: none;
  }
  .block-prent .btn-ex {
    margin-top: 0;
    font-size: 11px;
    overflow: hidden;
  }
  .block-prent .date-time .date,
  .block-prent .date-time .month {
    font-size: 14px;
  }
  .block-prent h3.title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .block-prent #contactForm .form-list .input-box input,
  .block-prent #contactForm .form-list .input-box textarea {
    height: 30px;
    line-height: 28px;
    padding: 0;
  }
  .block-prent #contactForm button span {
    line-height: 30px;
    border: 0;
    padding: 0;
  }
  .block-prent #contactForm button span span {
    line-height: 30px;
    border: 0;
    padding: 0 15px;
  }
  .block-prent h2.title:before {
    height: 2px;
  }
  .block-prent #contactForm .buttons-set {
    margin-top: 10px;
  }
  .block-prent .quote {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .cms-index-index.home05 .header-layout-4 {
    padding: 0;
  }
  #multiscroll {
    position: static;
  }
  .home07.cms-index-index .header-layout-3 {
    position: relative;
    margin-top: 0;
  }
  .home07 .slider-home .caption {
    left: 0;
    max-width: 100%;
    text-align: left;
  }
  .home07 .slider-home .caption .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .home07 .slider-home .caption:before {
    display: none;
  }
  .home07 .main-slide-inner .owl-dots {
    position: relative;
    bottom: auto;
    padding-top: 5px;
  }
  .home07 .typo-wrapper {
    padding: 0;
  }
  .jw-text1 {
    height: 300px;
  }
  .block-jw:before {
    display: none;
  }
  .block-jw .btn-ex {
    opacity: 1;
    visibility: visible;
  }
  .rtl .footer-style14 .inner-footer-block,
  .footer-style14 .inner-footer-block {
    text-align: center !important;
    margin-bottom: 50px;
  }
  .rtl .footer-style14 .inner-footer-block .footer-center-image,
  .footer-style14 .inner-footer-block .footer-center-image {
    margin-bottom: 30px;
  }
  .home14 .footer-copyright .h3,
  .home15 .footer-copyright .h3 {
    margin: 30px 0;
  }
  .rtl .header-layout-4 .sticky-icon-group {
    margin-right: 0;
  }
  .rtl .header-layout-5 .social {
    float: right;
  }
}
@media (max-width: 479px) {
  /*Header Layout 2*/
  .header-layout-8 .logo-home02,
  .header-layout-7 .logo-home02,
  .header-layout-2 .logo-home02 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .header-layout-8 .logo-home02 .logo,
  .header-layout-7 .logo-home02 .logo,
  .header-layout-2 .logo-home02 .logo {
    margin: 0 auto;
  }
  .header-layout-8 .form-search,
  .header-layout-7 .form-search,
  .header-layout-2 .form-search {
    float: none;
  }
  .header-layout-8 .ajaxcart,
  .header-layout-7 .ajaxcart,
  .header-layout-2 .ajaxcart {
    right: -40px;
  }
  .header-layout-8 .cmn-toggle-switch,
  .header-layout-7 .cmn-toggle-switch,
  .header-layout-2 .cmn-toggle-switch {
    width: 30px;
  }
  .header-layout-8 .sticky-icon-group .settings,
  .header-layout-7 .sticky-icon-group .settings,
  .header-layout-2 .sticky-icon-group .settings {
    display: block;
  }
  /*Header Layout 3*/
  .header-layout-3 .nav-top-inner {
    text-align: initial;
  }
  .header-layout-3 .ajaxcart {
    right: -40px;
    left: auto;
  }
  .header-layout-3 .logo-home03 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .header-layout-3 .logo-home03 .logo {
    margin: 0 auto;
  }
  .header-layout-3 .form-search {
    float: none;
  }
  .header-layout-3 .cmn-toggle-switch {
    width: 30px;
  }
  .header-layout-3 .sticky-icon-group .settings {
    display: block;
  }
  /*Header Layout 4*/
  .header-layout-4 .logo-home04 .logo a img {
    max-width: 90px;
  }
  .header-layout-4 .form-search {
    float: none;
  }
  .header-layout-4 .ajaxcart {
    right: -40px;
  }
  .header-layout-4 .sticky-icon-group .settings {
    display: block;
  }
  /*Header Layout 6*/
  .header-layout-6 .nav-top-inner {
    text-align: initial;
  }
  .header-layout-6 .ajaxcart {
    right: -40px;
    left: auto;
  }
  .header-layout-6 .logo-home06 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .header-layout-6 .logo-home06 .logo {
    margin: 0 auto;
  }
  .header-layout-6 .form-search {
    float: none;
  }
  .header-layout-6 .cmn-toggle-switch {
    width: 30px;
  }
  .header-layout-6 .sticky-icon-group .settings {
    display: block;
  }
  .slider-home.slide-fullwidth .caption {
    width: 100%;
    max-width: 270px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 55%;
  }
  .interior-block-slide,
  .interior-block-static {
    height: 400px;
  }
  .rtl {
    /*Header Layout 2*/
  }
  .rtl .header-layout-8 .ajaxcart,
  .rtl .header-layout-7 .ajaxcart,
  .rtl .header-layout-2 .ajaxcart,
  .rtl .header-layout-4 .ajaxcart {
    left: -40px;
    right: auto;
  }
}
.home-sidebar .nav-top-inner {
  padding: 0;
}
.home-sidebar .sticky-search .quick-search {
  right: 0;
  max-width: 100%;
  padding-left: 300px;
  border-bottom: 1px solid #ccc;
}
.home-sidebar .sticky-search .quick-search .icon_close {
  right: 15px;
}
.home-sidebar .main-slide-inner {
  padding: 0;
}
.home-sidebar .logo-home {
  padding: 15px 40px;
  height: 120px;
}
.home-sidebar .logo-home .logo a img {
  margin: 0;
}
.home-sidebar .logo-home strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.home-sidebar .sticky-icon-group {
  display: inline-block;
  float: right;
  margin: 0 0 0 -10px;
}
.home-sidebar .sticky-icon-group > div {
  float: left;
  margin: 0 10px;
}
.sb-topbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 99;
  padding: 0 30px;
}
.sb-header-menu {
  position: fixed;
  left: 0;
  top: auto;
  bottom: 0;
  z-index: 100;
  padding: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ddd;
}
.sb-header-menu .mCustomScrollBox {
  overflow: visible;
}
.sb-header-menu .mCustomScrollBox .mCSB_container {
  overflow: visible;
}
.sb-header-menu .mCSB_scrollTools {
  left: -5px;
  right: auto;
}
.widget-collection-style3 .heading-title h2 {
  font-size: 24px;
}
.widget-collection-style3 .tabs-wrap {
  text-align: center;
}
.widget-collection-style3 .widget-tabs > li a {
  font-size: 14px;
  padding: 15px 30px;
  color: #000;
}
.widget-collection-style3 .widget-tabs > li a:focus,
.widget-collection-style3 .widget-tabs > li a:hover {
  color: #999;
}
.widget-collection-style3 .widget-tabs > li.active a {
  color: #999;
}
.widget-collection-style3 .widget-tabs > li:before {
  content: "|";
  top: 50%;
  left: -4px;
  margin-top: -10px;
  font-size: 17px;
  width: 8px;
  height: 20px;
  color: #000;
  font-weight: 600;
}
.slider-home.slider-type2 .caption {
  max-width: 420px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}
.slider-home.slider-type2 .caption.top-center {
  max-width: 660px;
}
.slider-home.slider-type2 .caption .text {
  margin-bottom: 45px;
}
.slider-home.slider-type2 .caption .btn-slide a {
  height: 58px;
  line-height: 58px;
  padding: 0 40px;
}
.slider-home.slider-type3 .caption {
  max-width: 525px;
}
.slider-home.slider-type3 .caption .title {
  font-size: 60px;
}
.slider-home.slider-type3 .caption.top-center {
  max-width: 660px;
}
.slider-home.slider-type3 .caption .text {
  margin-bottom: 45px;
  font-size: 16px;
}
.slider-home.slider-type3 .caption .btn-slide a {
  height: 58px;
  line-height: 58px;
  padding: 0 40px;
}
.vheader-layout-1 .main-container {
  padding-top: 60px;
  margin: 0;
  position: relative;
}
.home-sidebar {
  padding-left: 300px;
}
.home-sidebar .sidebar-newsletter {
  margin-top: 30px;
  padding: 0 40px;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner {
  border-top: 1px solid #ddd;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner .subscribe .title {
  margin-top: 40px;
  text-align: initial;
  font-size: 13px;
  margin-bottom: 5px;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner .subscribe .text {
  text-align: initial;
  font-size: 13px;
  margin-bottom: 30px;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner .subscribe .input-box input {
  height: 44px;
  padding: 0 20px;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner .subscribe .input-box button {
  position: relative;
  margin-top: 30px;
  left: 0;
  background-color: #000;
  height: 44px;
  line-height: 44px;
}
.home-sidebar .sidebar-newsletter .main-newsletter-inner .subscribe .input-box button span {
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  letter-spacing: 0.6px;
}
.home-sidebar .sidebar-footer {
  margin-top: 30px;
  padding: 0 40px 30px;
}
.home-sidebar .sidebar-footer .social-icons.hide-text li {
  display: inline-block;
}
.home-sidebar .sidebar-footer .social-icons.hide-text li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #999;
}
.home-sidebar .sidebar-footer .social-icons.hide-text li a:hover {
  color: #000;
}
.home-sidebar .sidebar-footer .social-icons.hide-text li span {
  display: none;
}
.home-sidebar .sidebar-footer .sidebar-footer-content {
  font-size: 12px;
  margin-top: 15px;
  font-weight: 600;
  color: #000;
}
.footer-bottom-content {
  padding: 30px 0;
  font-size: 13px;
  background-color: #ececec;
  text-align: center;
}
.footer-bottom-content span {
  text-transform: uppercase;
  line-height: 40px;
  display: inline-block;
  padding: 0 5px;
}
.testimonial-block .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.testimonial-inner {
  text-align: center;
  padding: 175px 0;
  margin: 0 auto;
  width: 70%;
}
.testimonial-inner img {
  width: 115px !important;
  border-radius: 100%;
  margin: 0 auto;
}
.testimonial-inner .content {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.07em;
  color: #ffffff;
  line-height: 26px;
  font-weight: 400;
  padding: 30px 0 20px 0;
  position: relative;
}
.testimonial-inner .write-author {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #c2c2c2;
}
.testimonial-inner .write-by {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  color: #c2c2c2;
}
.home10-copyright {
  padding: 30px 0;
  font-size: 13px;
  text-transform: uppercase;
}
.rtl .vheader-layout-1 .sticky-icon-group > div {
  float: right;
}
.rtl .vheader-layout-1 .sticky-icon-group {
  float: left;
}
.rtl.home-sidebar .sticky-search .quick-search {
  padding-left: 0;
  padding-right: 300px;
}
.rtl.home-sidebar .sticky-search .quick-search .icon_close {
  right: auto;
  left: 15px;
}
.rtl .sb-header-menu {
  right: 0;
  left: auto;
  border-right: none;
  border-left: 1px solid #ddd;
}
.rtl.home-sidebar {
  padding: 60px 300px 0 0;
}
.rtl.home11.home-sidebar {
  padding-top: 0;
}
.rtl .vheader-layout-1 #typonav li.mega_align_center.level-top > div.show-sub,
.rtl .vheader-layout-2 #typonav li.mega_align_center.level-top > div.show-sub {
  right: 50%;
  left: auto;
}
.rtl .sb-header-menu .mCSB_scrollTools {
  left: auto;
  right: -5px;
}
.typo-sb-cart {
  padding: 0 40px;
}
.typo-sb-cart .typo-cart {
  width: 100%;
}
.typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label {
  width: 100%;
}
.typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label .icon-dropdown {
  float: right;
}
.home-sidebar .footer-container .container {
  padding: 0;
}
.home-sidebar .fluid-width-footer.footer-container .footer-copyright {
  padding: 5px 0 10px;
}
.typo-sb-setting,
.typo-sb-quicksearch {
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 50px;
  width: 100%;
}
.typo-sb-setting .store-selector .language-topbar .lang-curr i,
.typo-sb-setting .store-selector .currency-topbar .currency-sym i {
  padding-left: 3px;
}
.typo-sb-setting .currency-topbar .currency-sym a {
  padding: 0;
}
.typo-sb-setting .language-topbar .lang-curr a {
  padding: 0 0 0 25px;
}
.typo-sb-setting .settings {
  display: inline-block;
  float: right;
}
.typo-sb-setting .settings i {
  line-height: 20px;
}
.typo-sb-setting .setting-language,
.typo-sb-setting .setting-currency {
  display: none;
}
.typo-sb-setting .settings .setting-language,
.typo-sb-setting .settings .setting-currency {
  padding: 25px 25px 20px;
  border-bottom: 1px dashed #333;
}
.typo-sb-setting .store-selector > .currency-topbar {
  padding: 0 15px;
}
.vheader-layout-2 .sb-header-menu {
  border: none;
}
@media (min-width: 1200px) {
  .typo-sb-setting .settings .settings-inner {
    right: auto;
    top: auto;
    left: 100%;
    bottom: 0;
  }
  .typo-sb-cart {
    padding-bottom: 30px;
  }
  .typo-sb-cart .ajaxcart {
    right: auto;
    top: auto;
    left: 100%;
    bottom: 0;
  }
  .rtl .typo-sb-cart .ajaxcart,
  .rtl .typo-sb-setting .settings .settings-inner {
    right: 100%;
    left: auto;
  }
  .rtl .typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label .icon-dropdown {
    float: left;
  }
  .rtl .typo-sb-setting .settings {
    float: left;
  }
}
@media (max-width: 1599px) {
  .slider-home.slider-type2 {
    height: 580px !important;
  }
  .slider-home.slider-type3 {
    height: 680px !important;
  }
}
@media (max-width: 1199px) {
  .vheader-layout-2 .sb-header-menu {
    margin-bottom: 30px;
  }
  .typo-sb-cart {
    width: 29%;
    display: inline-block;
    float: right;
    text-align: right;
  }
  .typo-sb-cart .typo-cart {
    width: auto;
  }
  .typo-sb-quicksearch {
    width: 70%;
    display: inline-block;
    margin-bottom: 40px;
  }
  .typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label {
    pointer-events: none;
  }
  .home-sidebar .global-site-notice {
    padding: 0;
  }
  .home-sidebar .sticky-search .quick-search {
    padding: 0;
  }
  .vheader-layout-2 .nav-top {
    margin-bottom: 0;
  }
  .typo-sb-setting {
    margin-bottom: 0;
  }
  .typo-sb-setting .store-selector {
    display: none;
  }
  .typo-sb-setting .settings {
    position: absolute;
    right: 40px;
    top: 35px;
  }
  .typo-sb-setting .setting-language,
  .typo-sb-setting .setting-currency {
    display: block;
  }
  .sb-header-menu {
    position: relative;
    width: 100%;
    border: none;
    z-index: 98;
  }
  .sb-topbar {
    position: relative;
  }
  .home-sidebar {
    padding: 0;
  }
  .home-sidebar .logo-home {
    margin: 15px 0;
    display: inline-block;
    text-align: center;
    height: auto;
  }
  .home-sidebar .logo-home .logo {
    display: inline-block;
    margin: 0 auto;
  }
  .home-sidebar .sidebar-footer {
    position: relative;
    text-align: center;
    margin: 0;
  }
  .slider-home.slider-type2 {
    height: 600px !important;
  }
  .rtl.home-sidebar {
    padding: 0;
  }
  .rtl .typo-sb-cart {
    float: left;
  }
  .rtl .typo-sb-cart .typo-maincart {
    text-align: left;
  }
  .rtl .typo-sb-setting .settings {
    left: 40px;
    right: auto;
  }
  .rtl .vheader-layout-2 .menu-bar-btn {
    right: 30px;
    left: auto;
  }
  .rtl .typo-icon-ajaxcart .icon-cart {
    float: left;
  }
  .rtl.home-sidebar .main-container {
    padding: 0;
  }
  .rtl.home-sidebar .sticky-search .quick-search {
    padding: 0;
  }
  .rtl.home-sidebar .global-site-notice {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .typo-sb-cart {
    padding: 0 40px 0 0;
  }
  .rtl .typo-sb-cart {
    padding: 0 0 0 40px;
  }
  .slider-home.slider-type2 {
    height: 500px !important;
  }
  .slider-home.slider-type2 .caption {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 360px;
    padding: 15px;
  }
  .slider-home.slider-type2 .caption.top-center {
    max-width: 360px;
  }
  .slider-home.slider-type3 {
    height: 500px !important;
  }
  .slider-home.slider-type3 .caption {
    text-align: left;
  }
  .slider-home.slider-type3 .caption .title {
    font-size: 40px;
  }
  .slider-home.slider-type3 .caption .title.border-bot {
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  .slider-home.slider-type3 .caption .text {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .slider-home.slider-type3 .caption .btn-slide a {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  .slider-home.slider-type2 {
    height: 460px !important;
  }
  .slider-home.slider-type2 .caption {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 360px;
    padding: 15px;
  }
  .slider-home.slider-type2 .caption.top-center {
    max-width: 360px;
  }
  .slider-home.slider-type2 .caption .text {
    display: none;
  }
  .slider-home.slider-type3 {
    height: 460px !important;
  }
  .slider-home.slider-type3 .caption {
    max-width: 360px !important;
  }
  .slider-home.slider-type3 .caption .title {
    font-size: 25px;
  }
  .slider-home.slider-type3 .caption .text {
    display: none;
  }
  .home-sidebar .logo-home .logo {
    max-width: 50%;
  }
}
.home12 .slider-home.slide-fullwidth .caption {
  right: auto;
  left: 15%;
}
.home12 .slider-home .caption .title {
  color: #fff;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.home12 .slider-home .caption .text {
  color: #fff;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.home12 .main-slide-inner {
  margin-bottom: 0;
}
.block-welcome2 {
  background-color: #f0f0f0;
  padding: 125px 0 130px 0;
  position: relative;
}
.block-welcome2:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 75px;
  background-color: #000;
  content: "";
}
.block-welcome2 .heading-title {
  padding: 0;
  position: relative;
  background: transparent;
  z-index: 1;
  margin-bottom: 30px;
}
.block-welcome2 .heading-title h2 {
  font-size: 30px;
}
.block-welcome2 .heading-title .bg-word {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #e4e4e4;
  font-size: 120px;
  font-weight: bold;
  z-index: -1;
}
.block-welcome2 .block-icon {
  height: auto;
  background-color: transparent;
  position: relative;
}
.block-welcome2 .block-icon:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}
.block-welcome2 .block-icon:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.block-welcome2 .block-icon img {
  width: 100%;
}
.block-welcome2 .block-icon .block-center {
  padding: 30px;
}
.block-cd .content-block {
  max-width: 500px;
}
.block-cd .content-block h2 {
  padding: 0;
}
.block-cd .content-block h2 span:after {
  display: none;
}
.block-cd .content-block .desc {
  margin-bottom: 30px;
}
.block-cd .content-block .product-date {
  margin-bottom: 30px;
}
.block-cd .images {
  position: relative;
}
.block-cd .images .content-block {
  text-align: center;
  position: absolute;
  top: 10%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.home12 .wcl-word {
  padding-top: 65px;
}
.wcl-word {
  padding-top: 65px;
  position: relative;
}
.wcl-word:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 75px;
  background-color: #000;
  content: "";
}
.wcl-word .heading-title {
  padding: 0;
  position: relative;
  background: transparent;
  z-index: 1;
  margin-bottom: 30px;
}
.wcl-word .heading-title h2 {
  font-size: 30px;
}
.wcl-word .heading-title .bg-word {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #e4e4e4;
  font-size: 120px;
  font-weight: bold;
  z-index: -1;
}
.blog-layout2 {
  text-align: center;
  position: relative;
  padding: 125px 0 110px 0;
}
.blog-layout2:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 75px;
  background-color: #000;
  content: "";
}
.blog-layout2 .heading-title {
  padding: 0;
  position: relative;
  background: transparent;
  z-index: 1;
  margin-bottom: 30px;
}
.blog-layout2 .heading-title h2 {
  font-size: 30px;
}
.blog-layout2 .heading-title .bg-word {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #e4e4e4;
  font-size: 120px;
  font-weight: bold;
  z-index: -1;
}
.blog-layout2 .subtitle-widget {
  margin-bottom: 40px;
}
.blog-layout2 .title-post {
  font-size: 16px;
  text-transform: uppercase;
}
.blog-layout2 .blog {
  padding-top: 40px;
}
.blog-layout2 .blog .main-post {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.blog-layout2 .blog:last-child .main-post {
  border-bottom: none;
}
.blog-layout2 .blog:first-child .text-post {
  display: block;
}
.blog-layout2 .blog .title-post {
  margin: 0 0 10px 0;
}
.blog-layout2 .blog .main-post-inner {
  padding-bottom: 40px;
}
.blog-layout2 .text-post {
  padding: 20px 0;
  background-color: #f3f3f3;
  display: none;
}
.blog-layout2 .text-post .readmore-post {
  text-transform: uppercase;
  margin: 10px 0 0;
}
.home12 .main-newsletter-inner {
  background-color: #f3f3f3;
  border-top: none;
  padding: 75px 0;
}
.home12 .main-newsletter-inner input {
  background-color: #fff;
}
.home12 .fluid-width-footer.footer-container .footer-top-inner {
  padding-bottom: 80px;
}
.home12 .fluid-width-footer.footer-container .footer-copyright {
  padding-bottom: 15px;
}
.home12 .footer-logo {
  margin-bottom: 30px;
}
.home15 .cmn-toggle-switch span,
.home15 .cmn-toggle-switch span::before,
.home15 .cmn-toggle-switch span::after {
  background-color: #fff;
}
.home15 .main-top {
  background: url('../images/maintop_bg.jpg') no-repeat center center;
  background-size: cover;
}
.home15 .footer-container {
  background: url("../images/foot-bg15.jpg") no-repeat;
  background-size: cover;
  padding: 0;
  /*    .footer-bottom,
    .footer-top,
    .footer-copyright{
      background: rgba(0,0,0,0);
    }*/
}
.home15 .header-layout-8 {
  border-bottom: none;
}
.home15 .footer-style14 .inner-footer-block .footer-payment h3 {
  color: #fff;
  letter-spacing: 0.025em;
  font-size: 13px;
  line-height: 24px;
}
.tpblock {
  position: relative;
  display: table;
  width: 100%;
}
.tpblock > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.tpblock .images {
  overflow: hidden;
  text-align: center;
}
.tpblock .images img {
  max-width: 100%;
}
.tpblock .content-block {
  margin: 15px auto;
}
.tpblock .dark-content {
  background-color: #161616;
}
.tpblock .dark-content .content-block {
  margin: 15px auto;
  width: 100%;
  max-width: 400px;
}
.tpblock .dark-content .content-block .quote-block {
  text-align: center;
  color: #fff;
}
.tpblock .dark-content .content-block .quote-block:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 36px;
  color: #cc9966;
  margin-bottom: 60px;
  display: inline-block;
}
.tpblock .dark-content .content-block .quote-block .testimoniel {
  font-style: italic;
  font-size: 18px;
  color: #ccc;
  line-height: 24px;
  margin-bottom: 50px;
}
.tpblock .dark-content .content-block .quote-block h4 {
  font-size: 13px;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 0.25em;
  margin: 0;
  font-weight: 400;
}
.tpblock .dark-content .content-block .quote-block p.subtit {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: #666;
  line-height: 18px;
}
.tpblock h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #cc9966;
  letter-spacing: 0.05em;
  margin: 0 0 30px;
  line-height: 24px;
}
.tpblock h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  margin: 0 0 45px;
}
.tpblock p.desc.std {
  font-size: 14px;
  color: #ccc;
  letter-spacing: 0.025em;
  margin: 0 0 15px;
}
.tpblock ul li {
  list-style: none;
  color: #ccc;
  line-height: 24px;
}
.tpblock ul li:before {
  content: "\f005";
  float: left;
  font-family: fontawesome;
  color: #cc9966;
  margin-right: 10px;
}
.tpblock div.action {
  margin-top: 70px;
}
.tpblock.tp-block-02 .view-btn .viewmore-btn {
  border: 1px solid #cc9966;
}
.tpblock.tp-block-02 .view-btn .viewmore-btn span {
  border-right: 1px solid #cc9966;
}
.tpblock.tp-block-02 .dark-content .content-block img {
  margin-top: 40px;
}
.tpblock.tp-block-01 {
  padding: 100px 0;
}
.tpblock.tp-block-01 h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #cc9966;
  letter-spacing: 0.05em;
  margin: 0 0 30px;
  line-height: 24px;
}
.tpblock.tp-block-01 h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  margin: 0 0 40px;
}
.tpblock.tp-block-01 div.action {
  margin-top: 60px;
}
.tp-btn01 {
  position: relative;
  cursor: pointer;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  background-color: #000;
  border: 1px solid #000000;
  line-height: 60px;
  padding-left: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0.1em;
  /*  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);*/
}
.tp-btn01:after {
  margin-left: 30px;
  content: "\f105";
  font-family: FontAwesome;
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
  float: right;
  text-align: center;
  font-size: 1.5em;
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  border-radius: 0;
  pointer-events: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.bottom_block_margin {
  margin-bottom: 100px;
}
.view-btn {
  display: inline-block;
  margin-top: 20px;
}
.view-btn .viewmore-btn {
  padding-right: 60px;
  position: relative;
  display: inline-block;
  color: #fff;
  background: #000;
  cursor: pointer;
}
.view-btn .viewmore-btn span {
  white-space: nowrap;
  line-height: 50px;
  height: 50px;
  padding: 0 30px;
  display: inline-block;
  border-right: 1px solid #404040;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.view-btn .viewmore-btn:after {
  content: "\f105";
  font-family: FontAwesome;
  line-height: 50px;
  width: 55px;
  text-align: center;
  height: 50px;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 20px;
}
.widget-product.heading_style02 .heading-title {
  background: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.widget-product.heading_style02 .heading-title h2 {
  font-size: 36px;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget-product.heading_style02 .heading-title h2 span {
  line-height: 24px;
}
.widget-blog.heading_style02 .main-heading {
  margin-bottom: 45px;
}
.widget-blog.heading_style02 .blog-grid {
  margin: 0;
}
.widget-blog.heading_style02 h2.title-widget {
  font-size: 36px;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget-blog.heading_style02 h2.title-widget span {
  line-height: 24px;
}
.widget-blog.heading_style02 .subtitle-widget {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-top: 10px;
}
.widget-blog.heading_style02 .blog-cat {
  margin-top: 75px;
}
.subtitle-widget {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 75px;
}
@media (max-width: 991px) {
  .home12 .slider-home.slide-fullwidth .caption {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .home12 .slider-home.slide-fullwidth .caption:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .home12 .typo-wrapper {
    padding-top: 0;
  }
}
.home13 .main-bottom {
  background-color: #f5f5f5;
}
.home13 .main-brands-inner {
  border-top: none;
}
.home13 .footer-container {
  border-top: none;
  padding-bottom: 0;
}
.home13 .footer-container .footer-top .footer-col1 {
  padding: 0 10%;
}
.home13 .footer-container .footer-top h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.home13 .footer-container .footer-top p {
  font-size: 13px;
  line-height: 24px;
}
.home13 .footer-container .footer-top .tagtwitter,
.home13 .footer-container .footer-top .hashtag {
  color: #000;
}
.home13 .footer-container .footer-top .daypost {
  text-transform: uppercase;
}
.home13 .footer-container .footer-bottom {
  padding: 20px 0 60px;
}
.home13 .footer-container .footer-bottom h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.home13 .footer-container .footer-bottom ul.social-icons li {
  display: inline-block;
}
.home13 .footer-container .footer-bottom ul.social-icons li a span {
  display: none;
}
.home13 .footer-container .footer-bottom ul.social-icons li a i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
.home13 .footer-container .footer-copyright {
  padding: 30px 0;
}
.slider-home.slide-fullwidth .caption-wrapper {
  position: relative;
}
.slider-home.slide-fullwidth .caption-wrapper .caption {
  left: 5px;
  width: 100%;
  max-width: 500px;
  right: auto;
}
.slider-home.slide-fullwidth .caption-wrapper .caption h4.subtitle {
  font-size: 16px;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.slider-home.slide-fullwidth .caption-wrapper .caption .title {
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.slider-home.slide-fullwidth .caption-wrapper .caption span.bold-black-text {
  font-weight: 900;
  color: #000;
}
.slider-home.slide-fullwidth .caption-wrapper .caption span.grey-text {
  font-weight: 400;
  color: #666;
}
.slider-home.slide-fullwidth .caption-wrapper .caption span.bold-cyan-text {
  color: #927548;
  font-weight: 900;
}
.slider-home.slide-fullwidth .caption-wrapper .caption .btn-slide a {
  font-size: 14px;
}
.slider-home.slide-fullwidth .caption-wrapper .caption.right-center2 {
  left: auto;
  right: 5px;
  text-align: right;
}
.welcome-block {
  padding: 40px 0 70px;
}
.welcome-block .heading-title {
  background: transparent;
}
.welcome-block .heading-title h2 {
  font-size: 30px;
  font-weight: 600;
}
.welcome-block .heading-title h2 span.grey-text {
  color: #666666;
  font-weight: 400;
}
.welcome-block .text-block {
  text-align: center;
  color: #999;
  margin-bottom: 60px;
}
.welcome-block .left-welcome,
.welcome-block .center-welcome,
.welcome-block .right-welcome {
  position: relative;
}
.welcome-block .left-welcome img,
.welcome-block .center-welcome img,
.welcome-block .right-welcome img {
  width: 100%;
}
.welcome-block .center-welcome {
  text-align: left;
}
.welcome-block .welcome-content {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
}
.welcome-block .welcome-content .wtitle {
  color: #666666;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 30px;
}
.welcome-block .welcome-content .wcontent {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 30px;
}
.welcome-block .welcome-content .wcontent2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 30px;
}
.welcome-block .welcome-content .wcontent2 .cyan-text {
  color: #927548;
}
.welcome-block .welcome-content .sub-wcontent p {
  color: #666666;
  line-height: 24px;
  margin-bottom: 30px;
}
.welcome-block .welcome-content .sub-wcontent p .black-text {
  color: #000;
}
.welcome-block .welcome-content ul li {
  padding: 0 15px;
  color: #666666;
  position: relative;
  line-height: 24px;
}
.welcome-block .welcome-content ul li:before {
  position: absolute;
  line-height: 24px;
  content: "\f005";
  font-family: FontAwesome;
  left: 0;
  top: 0;
  font-size: 13px;
  color: #927548;
}
.welcome-block .welcome-content a.button {
  position: absolute;
  left: 0;
  bottom: 0;
}
.welcome-block .welcome-content .wlink a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
  color: #927548;
  padding-right: 20px;
  position: relative;
  display: inline-block;
}
.welcome-block .welcome-content .wlink a .arrow_right {
  position: absolute;
  line-height: 25px;
  right: 0;
  top: 0;
}
.deal-block .deal-section {
  padding: 120px 0;
}
.deal-block .inner-deal-block {
  text-align: left;
}
.deal-block .hotdeal-image {
  text-align: right;
}
.deal-block .hotdeal-image img {
  margin-top: 30px;
}
.deal-block .subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0 0 25px;
  padding: 0;
  color: #000;
}
.deal-block .subtitle .grey-text {
  color: #666666;
}
.deal-block .title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 40px;
}
.deal-block .title .cyan-text {
  color: #927548;
}
.deal-block .notice {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.deal-block .text {
  line-height: 24px;
  color: #666666;
  font-size: 14px;
  padding: 0;
  margin: 0 0 50px;
}
.deal-block .text .black-text {
  color: #000;
}
.deal-block .product-date {
  margin-bottom: 50px;
}
.deal-block .product-date .cd-sale .num {
  background-color: #fff;
}
.grey-text {
  color: #666666;
}
.widget-product-tab.tab-products-02 {
  padding: 45px 0;
}
.widget-product-tab.tab-products-02 .main-heading {
  padding-bottom: 0;
}
.widget-product-tab.tab-products-02 .heading-title {
  background: transparent;
  padding: 10px 0 15px;
}
.widget-product-tab.tab-products-02 .heading-title h2 {
  font-size: 30px;
  line-height: 32px;
}
.widget-product-tab.tab-products-02 .heading-title h2 span.grey-text {
  font-weight: 300;
}
.widget-product-tab.tab-products-02 .widget-tabs > li > a {
  padding: 15px 30px;
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;
}
.widget-product-tab.tab-products-02 .widget-tabs > li:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "|";
  position: absolute;
  top: 50%;
  left: -4px;
  margin-top: -10px;
  font-size: 19px;
  width: 8px;
  height: 14px;
  color: #000;
  line-height: 1;
  font-weight: 600;
}
.widget-product-tab.tab-products-02 .widget-tabs > li:first-child:before {
  display: none;
}
.widget-product-tab.tab-products-02 .widget-tabs > li.active > a,
.widget-product-tab.tab-products-02 .widget-tabs > li.active > a:focus,
.widget-product-tab.tab-products-02 .widget-tabs > li.active > a:hover {
  color: #999999;
}
.widget-product-tab.tab-products-03 .main-heading {
  padding: 20px 0;
}
.widget-product-tab.tab-products-03 .main-heading .heading-title {
  background: none;
  padding: 10px 0 15px;
}
.widget-product-tab.tab-products-03 .main-heading .heading-title h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.widget-product-tab.tab-products-03 .tabs-wrap {
  margin-bottom: 40px;
}
.widget-product-tab.tab-products-03 .widget-tabs > li > a {
  font-size: 14px;
  padding: 15px 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
.widget-product-tab.tab-products-03 .widget-tabs > li:before {
  content: "/";
  font-weight: 900;
  font-size: 18px;
  margin-top: -9px;
}
.widget-blog.blog-layout3 {
  position: relative;
  padding: 50px 0 110px 0;
}
.widget-blog.blog-layout3 li.item {
  position: relative;
  padding: 0;
}
.widget-blog.blog-layout3 li.item .main-post {
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.widget-blog.blog-layout3 li.item .main-post .inner-main-post {
  width: 90%;
}
.widget-blog.blog-layout3 li.item .main-post .main-post-inner {
  color: #999999;
  font-size: 13px;
  line-height: 36px;
}
.widget-blog.blog-layout3 li.item .main-post .main-post-inner span {
  color: #666666;
}
.widget-blog.blog-layout3 li.item .main-post .title-post {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
}
.widget-blog.blog-layout3 li.item:hover .main-post {
  opacity: 1;
  visibility: visible;
}
.widget-blog.blog-layout3 .title-widget {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}
.widget-blog.blog-layout3 .title-widget span.grey-text {
  color: #666;
  font-weight: 300;
}
.widget-blog .subtitle-widget {
  text-align: center;
  font-size: 14px;
  color: #999;
  max-width: 520px;
  padding: 0 15px;
  margin: 0 auto 100px;
}
.setting-content .currency-topbar .currency-list ul,
.setting-content .language-topbar .lang-list ul {
  background: transparent;
}
.tp-instagram {
  padding: 0 20px;
}
@media (min-width: 992px) {
  .footer-col2 {
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
  }
}
@media (max-width: 991px) {
  .deal-block .deal-section {
    padding: 70px 15px;
  }
  .home13 .footer-container .footer-top .footer-col1 {
    padding: 0 10% 20px;
  }
  .cms-index-index .header-container.header-layout-7 {
    position: relative;
  }
  .welcome-block .welcome-content .wcontent2,
  .welcome-block .welcome-content .wcontent {
    font-size: 15px;
    line-height: 24px;
  }
  .deal-block .title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .deal-block .text {
    display: none;
  }
  .deal-block .subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.rtl .tpblock ul li:before {
  float: right;
  margin: 0 0 0 10px;
}
@media (max-width: 767px) {
  .tpblock > div {
    display: block;
  }
  .widget-blog.heading_style02 h2.title-widget,
  .widget-product.heading_style02 .heading-title h2 {
    line-height: 1;
  }
  .tpblock .dark-content .content-block {
    padding: 20px 15px;
  }
  .slider-home.slide-fullwidth .caption-wrapper .caption {
    max-width: 100%;
    width: 100%;
    left: 0;
  }
  .slider-home.slide-fullwidth .caption-wrapper .caption h4.subtitle {
    font-size: 12px;
  }
  .slider-home.slide-fullwidth .caption-wrapper .caption .title {
    font-size: 30px;
  }
  .footer-container .footer-static h3 + .hide-accordion {
    display: none;
  }
  .welcome-block .welcome-content .wcontent2 {
    margin-bottom: 10px;
  }
  .home13 .slider-home .caption:before {
    display: none;
  }
  .home13 .slider-home.slide-fullwidth .caption-wrapper .caption {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 479px) {
  .header-layout-8 .logo-home02 {
    margin: 0 40px;
  }
}
