@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);

.transition-all35 {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*Header Layout 2*/
.header-layout-2 {
  .top-bar {
    float: right;
  }
  .language-topbar .lang-list {
    right: 0;
    left: auto;
  }
  .currency-topbar .currency-list {
    right: 0;
    left: auto;
  }
  .delimiter {
    line-height: 12px;
    height: 12px;
    background-color: #666;
    margin: 15px;
  }
  .home2-block-phone-email {
    padding: 10px 0;
    line-height: 22px;
  }
  .sticky-icon-group {
    display: inline-block;
    float: right;
    margin: 0 -10px 0 50px;
    > div {
      float: left;
      padding: 0 10px;
    }
  }
  .is-sticky .sticky-icon-group .settings {
    display: block;
  }
  .nav-top-inner {
    text-align: right;
  }
  .logo-home02 {
    float: left;
    margin-right: 15px;
    position: relative;
    z-index: 10;
    .logo {
      display: table;
      height: 60px;
      margin: 0;
      a {
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 50px;
          max-width: 200px;
        }
      }
    }
    strong {
      position: absolute;
      top: -9999em;
      text-indent: -99999em;
    }
  }
  .is-sticky .logo-home02 {
    display: none;
  }
  .header-menu {
    padding: 35px 0;
  }
  .header-top-inner {
    border-bottom: 1px solid fade(#ccc, 50);
  }
  .menu-bar-btn {
    float: left;
  }
  .sticky-bg .typo-main-menu {
    display: none;
  }
  .main-slide-wrap {
    border-bottom: none;
  }
}

/*Header Layout 3*/
.cms-index-index .header-layout-3 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
  right: 0;
  z-index: 999;
}

.header-layout-3 {
  .main-menu {
    float: right;
  }
  .is-sticky #typo-sticky-header {
    background-color: #fff;
  }
  .sticky-icon-group {
    display: block;
    float: right;
    margin: 0 -10px 0 30px;
    & > div {
      float: left;
      padding: 0 10px;
    }
  }
  .logo-home03 {
    float: left;
    padding: 0 15px 0 0;
    position: relative;
    z-index: 999;
    strong {
      position: absolute;
      top: -9999em;
      text-indent: -99999em;
    }
    .logo {
      display: table;
      height: 60px;
      margin: 0;
      a {
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 50px;
          max-width: 200px;
        }
      }
    }
  }
  .is-sticky {
    .logo-home03 {
      display: none;
    }
    .header-menu {
      padding: 0;
    }
  }
  .header-menu {
    padding: 25px 0 25px;
  }
  .sticky-search .quick-search {
    right: 0;
    max-width: 100%;
    z-index: 999;
  }
}

/*Header Layout 4*/
.header-layout-4 {
  position: relative;
  z-index: 100;
  .sticky-icon-group {
    display: inline-block;
    float: right;
    margin: 0 -10px 0 50px;
    > div {
      float: left;
      padding: 0 10px;
    }
  }
  .nav-top-inner {
    text-align: right;
  }
  .logo-home04 {
    float: left;
    margin-right: 15px;
    position: relative;
    z-index: 10;
    .logo {
      display: table;
      height: 60px;
      margin: 0;
      a {
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 50px;
          max-width: 200px;
        }
      }
    }
    strong {
      position: absolute;
      top: -9999em;
      text-indent: -99999em;
    }
  }
  .is-sticky .logo-home04 {
    display: none;
  }
  .header-menu {
    padding: 25px 0;
  }
  .header-top-inner {
    border-bottom: 1px solid fade(#ccc, 50);
  }
  .menu-bar-btn {
    float: left;
  }
  .sticky-bg .typo-main-menu {
    display: none;
  }
  .main-slide-wrap {
    border-bottom: none;
  }
}

/*Header Layout 5*/
.header-layout-5 {
  .store-cr {
    float: right;
  }
  .currency-topbar .currency-list {
    left: auto;
    right: 0;
  }
  .header .logo-home {
    text-align: initial;
    img {
      margin: 0;
    }
  }
  .form-search {
    max-width: 100%;
    &:hover {
      max-width: 100%;
    }
  }
  .sticky-search .quick-search .form-search {
    max-width: 350px;
  }
  .nav-top-inner {
    text-align: initial;
  }
  .is-sticky .nav-top-inner {
    text-align: right;
  }
  .typo-navigation {
    margin-left: -15px;
  }
  .top-bar {
    position: absolute;
    right: 0;
    top: 9px;
  }
  .is-sticky .top-bar {
    display: none;
  }
}

/*Header Layout 6*/
.header-layout-6 {
  .main-menu {
    float: right;
  }
  .is-sticky #typo-sticky-header {
    background-color: #fff;
  }
  .sticky-icon-group {
    display: block;
    float: right;
    margin: 0 -10px 0 30px;
    & > div {
      float: left;
      padding: 0 10px;
    }
  }
  .logo-home06 {
    float: left;
    padding: 0 15px 0 0;
    position: relative;
    z-index: 999;
    strong {
      position: absolute;
      top: -9999em;
      text-indent: -99999em;
    }
    .logo {
      display: table;
      height: 60px;
      margin: 0;
      a {
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 50px;
          max-width: 200px;
        }
      }
    }
  }
  .is-sticky {
    .logo-home06 {
      display: none;
    }
    .header-menu {
      padding: 0;
    }
  }
  .header-menu {
    padding: 25px 0 25px;
  }
  .sticky-search .quick-search {
    right: 0;
    max-width: 100%;
    z-index: 999;
  }
}

//Header Layout 07
.header-layout-8,
.header-layout-7 {
  .header-layout-2;
}

.header-layout-7 .header-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cms-index-index .header-container.header-layout-7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

//Header Layout 08
.header-layout-8 {
  border-bottom: 1px solid #ccc;
  .is-sticky .typo-main-menu,
  .typo-navigation {
    display: block
  }
  .logo-home02,
  .logo-sticky {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 130px;
    text-align: center;
    padding: 0;
  }
  .sticky-icon-group {
    margin: 0 -10px 0 20px;
  }
  .sticky-search .quick-search .icon_close, .quick-search.showing {
    color: #000;
  }
  .typo-ajax-container {
    color: #000;
    a {
      color: #000;
    }
  }
}

.rtl .header-layout-8 {
  .is-sticky .typo-main-menu,
  .typo-navigation {
    display: block
  }
  .logo-home02,
  .logo-sticky {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto!important;
    max-width: 130px;
    text-align: center;
  }
}

.slide-carousel {
  &.slide-carousel02:before {
    background-color: rgba(234, 234, 234, 0);
  }
  .carousel-content02 {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    .h3.text-small {
      color: #bf113d;
    }
    .h3.text-large {
      color: #000;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 0;
    }
    .text-normal {
      color: #666;
    }
    .btn-ex {
      font-size: 36px;
      color: #000;
      .transition-all35;
    }
    &:hover {
      .btn-ex {
        color: #bf113d;
      }
    }
  }
  .h3.text-small {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 25px;
  }
  .h3.text-large {
    font-size: 36px;
    text-transform: uppercase;
    margin: 0 0 35px;
  }
  .text-normal {
    font-size: 14px;
    margin-bottom: 60px;
  }
}

.top-welcome {
  text-align: center;
  margin: 95px 0 65px;
  .images {
    margin-bottom: 25px;
  }
  .text-content {
    .title-content {
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .text-content {
      font-size: 15px;
      color: #999999
    }
  }
}

.commu-block {
  text-align: center;
  margin-bottom: 60px;
  .title-box {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
  }
  .tp-block {
    display: inline-block;
    &.tp11 {
      width: 100%;
    }
    &.tp12 {
      float: left;
      width: 50%;
    }
    &.tp-block-left {
      padding-right: 15px;
    }
    &.tp-block-right {
      padding-left: 15px;
    }
    .tp-inner-block {
      position: relative;
      margin: 0 0 30px;

      a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        cursor: pointer;
        text-indent: -99999px;
      }
      .text-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        opacity: 0;
        visibility: hidden;
        background: rgba(255, 255, 255, 0.9);
        padding: 25px 0;
        text-align: left;
        .transition-all35;
        .user-content {
          color: #000;
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          line-height: 1;
        }
        .social-content {
          font-size: 12px;
          color: #999999;
          line-height: 1;
        }
      }
      img {
        width: 100%;
      }
      &:hover {
        .text-content {
          bottom: 0;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.sticky-search .quick-search.showing {
  z-index: 999;
}

//Home 14
.home15,
.home14 {
  .main-brands-inner {
    padding: 60px 0 100px;
  }
  .footer-copyright {
    .h3 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-weight: 400;
      line-height: 1;
      margin: 60px 0;
    }
  }
}

.widget-product-brands.brand-slider02 {
  .main-heading {
    padding: 30px 0 50px;
    .heading-title {
      background: none;
      padding: 10px 0 50px;

      h2 {
        font-size: 30px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
      }
    }
  }
  .owl-carousel .owl-item img {
    max-height: 20px;
  }
}

.footer-style14 {
  .inner-footer-block {
    .h4 {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 0.05em;
    }
    .text-content {
      p {
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.025em;
      }
      ul {
        li {
          display: inline-block;
          a {
            font-size: 14px;
            line-height: 20px;
            padding: 0 5px;
          }
        }
      }
    }
    .footer-center-image {
      margin-bottom: 145px;
    }
    .footer-payment {
      h3 {
        color: #666666;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 0 25px;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .inner-footer-block1 {
    text-align: left;
  }
  .inner-footer-block2 {
    text-align: center;
  }
  .inner-footer-block3 {
    text-align: right;
  }
  .widget-latest {
    h2 {
      display: none;
    }
    ul {
      li {
        padding: 0;
        line-height: 30px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.rtl .footer-style14 {
  .inner-footer-block1 {
    text-align: right;
  }
  .inner-footer-block3 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .header-layout-8 .visible-lg-inline-block {
    display: block !important;
  }
}

.rtl #typonav > li.menu-item-left,
#typonav > li.menu-item-right {
  float: right;
}

.rtl #typonav > li.menu-item-right,
#typonav > li.menu-item-left {
  float: left;
}

// HOME 02
.slide-carousel {
  position: relative;
  color: #fff;
  &:before {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: fade(#000, 50);
    content: '';
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  .carousel-content {
    width: 100%;
    padding: 15px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 350ms ease, visible 350ms ease;
    -moz-transition: opacity 350ms ease, visible 350ms ease;
    transition: opacity 350ms ease, visible 350ms ease;
    .text-small {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 60px;
    }
    .text-large {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 25px;
    }
    .text-normal {
      margin-bottom: 40px;
    }
    a.btn-ex {
      font-size: 13px;
      height: 42px;
      font-weight: bold;
      border: 1px solid #ffffff;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      padding: 10px 20px;
      line-height: 20px;
      color: #ffffff;
      float: none;
    }
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .carousel-content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main-slide-inner .main-carousel .owl-theme .owl-nav {
  display: block;
  > div {
    position: absolute;
    width: 64px;
    height: 64px;
    background: transparent url(../images/arrow-next.png) 0 0 no-repeat;
    opacity: 0.5;
    margin-top: -32px;
    right: 20px;
    > * {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .owl-prev {
    background: transparent url(../images/arrow-prev.png) 0 0 no-repeat;
    right: auto;
    left: 20px;
  }
}

.block-welcome {
  padding-bottom: 30px;
  .text-block {
    text-align: center;
    color: #999;
    margin-bottom: 60px;
    > span {
      display: inline-block;
      max-width: 700px;
      padding: 0 10px;
      vertical-align: top;
    }
  }
}

.block-icon {
  text-align: center;
  height: 218px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  position: relative;
  .block-center {
    width: 100%;
    padding: 10px;
    > span {
      color: #999;
      font-size: 40px;
    }
  }
  .text-hidden {
    display: none;
  }
  .title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 25px 0 15px 0;
  }
  .text {
    color: #999;
  }
  &.block-icon2 {
    background-color: #ededed;
  }
}

.widget-collection-style2 {
  border-top: 1px solid fade(#ccc, 50);
  padding-top: 25px;
  .tabs-wrap {
    margin-bottom: 40px;
  }
}

.blog-style.blog-style2 {
  padding: 25px 0 75px 0;
}

// HOME 03
.slider-home.slide-fullwidth {
  color: #ffffff;
  height: auto;
  text-align: initial;
  position: relative;
  .caption {
    max-width: 480px;
    width: 100%;
    top: 50%;
    right: 16%;
  }
}

.cms-index-index.home03 {
  .main-content-inner {
    background-color: #f5f5f5;
  }
}

.main-newsletter.home03-newsletter {
  position: relative;
  padding: 95px 0;
  overflow: hidden;
  &:before {
    background: #e5e5e5 none repeat scroll 0 0;
    content: "";
    height: 70%;
    left: 50%;
    position: absolute;
    top: 100px;
    width: 1px;
  }
  .main-newsletter-inner {
    border-top: none;
    text-align: initial;
    .subscribe {
      .title {
        color: #000000;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 0;
        text-align: initial;
        text-transform: uppercase;
      }
      .text {
        font-size: 15px;
        color: #999999;
        margin-bottom: 45px;
        font-style: italic;
        text-align: initial;
      }
      .input-box {
        input {
          height: 55px;
          background-color: #f5f5f5;
          &:focus {
            background: #fff;
          }
        }
        button {
          height: 55px;
          line-height: 55px;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0 30px;
        }
      }
    }
  }
  .left-newsletter {
    .title {
      color: #000000;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 40px;
      margin-top: 0;
      text-align: initial;
      text-transform: uppercase;
    }
    ul {
      li {
        padding: 10px 0;
        .blog-title {
          line-height: 20px;
          margin: 0;
          i {
            margin-right: 10px;
            line-height: 20px;
            vertical-align: top;
          }
          a {
            color: #333;
            font-size: 18px;
            text-transform: capitalize;
          }
        }

        .blog-info {
          font-size: 13px;
          color: #999;
          line-height: 15px;
        }
        border-bottom: 1px solid #f5f5f5;
        &:last-child {
          border: none;
        }
      }
    }
  }
}

.home03 .widget-collection-style1 {
  border-top: none;
  padding: 25px 0 50px;
  .tabs-collection {
    padding-top: 55px;
  }
}

.main-top {
  overflow: hidden;
  .main-top-inner {
  }
}

.no-padding {
  padding: 0 !important;
}

.block-top-01,
.block-top-02 {
  display: table;
  > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .images {
    overflow: hidden;
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  .content-block {
    text-align: initial;
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    h2 {
      color: #000;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 30px;
      padding: 0 0 30px;
      display: block;
      line-height: 42px;
      text-transform: uppercase;
      margin-top: 0;
      position: relative;
      span {
        &:after {
          background: rgba(0, 0, 0, 0) url("../images/bg-title.png") no-repeat scroll left center;
          bottom: 0;
          content: "";
          height: 5px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

    }
    p {
      display: inline-block;
      line-height: 30px;
      font-size: 16px;
      color: #666666;
      margin: 0;
    }
  }
  .bottom {
    margin-top: 62px;
    a {
      background: #333 none repeat scroll 0 0;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0.6px;
      padding: 7px 23px;
      text-transform: uppercase;
      position: relative;
      &:hover {

      }
    }
  }

}

.global-site-notice.notice-cookie.logancee03 {
  margin-top: -35px;
}

.home03-footer {
  text-align: center;
  .footer-logo {
    margin: 70px auto;
  }
  ul.social-icons {
    display: inline-block;
    text-align: center;
    margin: 0;
    li {
      display: inline-block;
      a {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 15px;
      }
    }
  }
  .copyright {
    margin-top: 30px;
  }
}

.fluid-width-footer.footer-container {
  border-top: none;
  padding: 0;
  .footer-copyright {
    border-top: none;
    padding: 15px 0 75px;
    font-size: 13px;
    a {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .footer-top-inner {
    padding: 15px 0 15px;
  }
}

// HOME 04
.fullpage-wrapper {
  text-align: center;
  color: #fff;
  .widget-block {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: fade(#000, 25);
    }
    .intro {
      margin-top: 200px;
      opacity: 0;
      padding: 15px;
      visibility: hidden;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      .text-small {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 24px;
      }
      .title {
        font-size: 48px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
      }
      .btn-ex {
        display: inline-block;
        padding: 6px 24px;
        line-height: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 30px;
        vertical-align: top;
      }
    }
    &.active .intro {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

.home04 {
  .footer-container {
    padding: 0;
    border: none;
    line-height: 42px;
    .footer-inner {
      padding: 9px 0;
      border-top: 1px solid fade(#ccc, 50);
    }
  }
  &.cms-index-index .footer-container {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;
    border: none;
    line-height: 42px;
    .footer-inner {
      border: none;
    }
  }
  &.cms-index-index .global-site-notice {
    display: none;
  }
  .social {
    li > span {
      line-height: 42px;
      padding: 0 7px;
    }
  }
  .address-footer {
    text-align: center;
    width: 100%;
    .space {
      padding: 0 5px;
    }
  }
  #fp-nav.right {
    right: 20px;
  }
  #fp-nav ul li, .fp-slidesNav ul li {
    width: 20px;
    margin: 14px 0;
  }
  #fp-nav ul li, .fp-slidesNav ul li {
    height: 20px;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 20px;
    height: 3px;
    background-color: #ccc;
    border-radius: 0;
    margin: -1px -10px;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      right: 100%;
      top: 0;
      z-index: 2;
      background-color: #000;
      -webkit-transition: right 0.4s ease-in-out;
      -moz-transition: right 0.4s ease-in-out;
      -o-transition: right 0.4s ease-in-out;
      transition: right 0.4s ease-in-out;
    }
  }
  #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 20px;
    height: 3px;
    border-radius: 0;
    margin: -1px -10px;
  }
  #fp-nav ul li a.active span:before {
    right: 0;
  }
  .videoMuteBtn {
    position: absolute;
    color: #fff;
    z-index: 100;
    font-size: 40px;
    left: 50%;
    top: 50%;
    margin-top: 90px;
    cursor: pointer;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  #section1 {
    color: #f2f2f2;
  }
  #section2 {
    .text-normal {
      margin-top: 40px;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }
  #section3 {
    .text-normal {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }
  #section4 {
    .text-normal {
      margin-top: 25px;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }
  #section5 {
    .text-normal {
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
    .name {
      margin-top: 45px;
      text-transform: uppercase;
      color: #f2f2f2;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

// HOME 05
.home05.cms-index-index .typo-container {
  overflow: visible;
}

#multiscroll {
  position: relative;
  .ms-section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &.active {
      h2.title:before {
        left: 0;
      }
      .text {
        opacity: 1;
        margin-top: 0;
      }
    }
  }
}

.block-prent {
  text-align: initial;
  max-width: 540px;
  width: 100%;
  padding: 15px;
  h2.title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0 0 30px;
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      width: 60px;
      height: 5px;
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: -100%;
      -webkit-transition: left .5s, right .5s;
      -moz-transition: left .5s, right .5s;
      -o-transition: left .5s, right .5s;
      transition: left .5s, right .5s;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
    }
  }
  .text {
    -webkit-transition: margin-top .5s, opacity .5s;
    -moz-transition: margin-top .5s, opacity .5s;
    -o-transition: margin-top .5s, opacity .5s;
    transition: margin-top .5s, opacity .5s;
    -webkit-transition-delay: .7s;
    -moz-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
    opacity: 0;
    margin-top: -100px;
  }
  .btn-ex {
    margin-top: 30px;
  }
  .date-time {
    color: #ccc;
    .date {
      font-size: 72px;
    }
    .month {
      font-size: 24px;
    }
  }
  h3.title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .btn-ctn {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  .quote {
    font-size: 72px;
    color: #ccc;
    line-height: 1;
    margin-bottom: 15px;
    + .text {
      font-size: 24px;
      color: #999;
    }
  }
  .user-position {
    margin-top: 30px;
    font-size: 15px;
    .name {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
    .position {
      color: #999;
    }
  }
}

.block-prent #contactForm .form-list {
  padding: 0;
  .input-box {
    margin: 0;
    textarea {
      padding: 10px 0;
      height: 50px;
      border: 1px solid transparent;
      border-bottom: 1px dotted #ccc;
      background-color: transparent;
    }
    input {
      padding: 0;
      height: 50px;
      border: 1px solid transparent;
      border-bottom: 1px dotted #ccc;
      background-color: transparent;
    }
  }
}

.block-prent #contactForm button span {
  line-height: 50px;
  span {
    line-height: 50px;
    padding: 0;
  }
}

.block-prent #contactForm .buttons-set {
  text-align: initial;
  margin-top: 30px;
}

// HOME 06
.boxed {
  max-width: 1230px;
  margin: 0 auto;
}

.cat-home {
  margin-bottom: 30px;
  .title {
    height: 61px;
    line-height: 27px;
    padding: 17px 20px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background-color: #000;
  }
  ul {
    li {
      border: 1px solid fade(#ccc, 50);
      border-top: none;
      a {
        font-size: 15px;
        padding: 20px;
        line-height: 18px;
        display: block;
        text-transform: uppercase;
        -webkit-transition: color 350ms ease, padding 350ms ease;
        -moz-transition: color 350ms ease, padding 350ms ease;
        transition: color 350ms ease, padding 350ms ease;
        &:hover {
          padding-left: 30px;
        }
      }
    }
  }
}

.newsletter6 {
  .main-newsletter-inner {
    border: none;
    background-color: #eeeeee;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .subscribe {
    padding: 0;
  }
  .subscribe .input-box button {
    position: relative;
    display: inline-block;
    margin-top: 30px;
  }
  .subscribe .input-box input {
    background-color: #fff;
    padding: 0;
    text-align: center;
  }
}

.block-static-top {
  position: relative;
  height: 221px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
  .block-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
  }
  &:hover .block-img {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .text-wrap {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: left;
    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      margin: 0 0 30px;
      letter-spacing: 0.5px;
    }
    a {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      font-size: 14px;
      display: inline-block;
      span {
        position: relative;
        font-size: 16px;
        float: right;
        padding-left: 5px;
      }
    }
  }
}

.widget-collection-style3 {
  .tabs-collection {
    text-align: initial;
  }
  .widget-tabs {
    margin-left: -15px;
  }
  .tabs-wrap {
    margin-top: 30px;
  }
  .owl-theme .owl-nav {
    position: absolute;
    top: -80px;
    margin: 0 -6px;
    right: 0;
    display: block;
    > div {
      position: static;
      height: 34px;
      width: 34px;
      border: 1px solid fade(#ccc, 50);
      background-color: #fff;
      color: #ccc;
      border-radius: 0;
      padding: 0;
      font-size: 23px;
      margin: 0 6px;
      line-height: 32px;
      &:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
      }
    }
  }
}

.blog-style3 {
  padding-top: 0;
  border: none;
  .title-widget {
    text-align: initial;
    margin-top: 30px;
  }
}

.list-features {
  margin-bottom: 60px;
  .media-left {
    > span {
      display: block;
      height: 68px;
      line-height: 66px;
      width: 68px;
      background-color: #fff;
      border: 1px solid #999;
      text-align: center;
      font-size: 25px;
      color: #999;
      border-radius: 50%;
      &:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
      }
    }
    .hide {
      display: none;
    }
  }
  .media-body {
    padding: 0 10px;
  }
  .h4 {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 10px;
  }
}

// HOME 07
.home07.cms-index-index .header-layout-3 {
  top: 0;
}

.home07 {
  .slider-home {
    height: auto !important;
  }
  .slider-home .caption {
    right: auto;
    left: 16%;
    max-width: 410px;
  }
  .main-slide-inner {
    margin: 0;
    .owl-dots {
      margin: 0;
      right: auto;
      left: 50%;
      bottom: 30px;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
}

.interior-block-slide, .interior-block-static {
  height: 500px;
  position: relative;
}

.interior-block-slide {
  background-size: cover;
  background-position: center top;
  .interior-inner {
    position: absolute;
    left: 0;
    bottom: 5%;
    padding: 15px;
    width: 100%;
    text-align: center;
    .title {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
    }
    .text {
      max-width: 420px;
      display: inline-block;
    }
  }
}

.interior-block-static {
  .interior-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: initial;
    padding: 15px;
    max-width: 420px;
    &.left {
      left: 15px;
    }
    .title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 30px;
    }
    .text {
      color: #666;
      margin-bottom: 30px;
    }
    .btn-view a {
      border-radius: 0;
      background-color: transparent;
      border: 1px solid #666666;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.interior-block-slide-wrap {
  .owl-theme .owl-nav {
    display: block;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    background-color: #fff;
    margin: 0;
    border: 1px solid #999;
    color: #999;
    height: 54px;
    width: 54px;
    line-height: 52px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .owl-theme .owl-nav div.owl-next {
    top: 30px;
    right: 30px;
  }
  .owl-theme .owl-nav div.owl-prev {
    top: 30px;
    left: auto;
    right: 100px;
  }
}

// HOME 08
.slider-home .caption {
  &.left-center {
    right: auto;
    left: 90px;
    max-width: 320px;
  }
  .title {
    position: relative;
    &.border-bot {
      padding-bottom: 35px;
      margin-bottom: 50px;
    }
  }
  .border-bot:after {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 5px;
    content: '';
    left: 0;
    bottom: 0;
    background: #000000;
  }

}

// HOME 09
.block-jw-text {
  margin-bottom: 30px;
  background-color: #f2f2f2;
  position: relative;
  .block-prent .text {
    margin-top: 0;
    opacity: 1;
    display: block;
  }
  .block-prent h2.title:before {
    left: 0;
    background-color: #cc9900;
  }
  .block-prent .quote + .text {
    font-size: 16px;
  }
  .block-prent .quote {
    font-size: 50px;
    color: #cc9900;
  }
  .user-name {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.block-jw {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  .btn-ex {
    font-size: 13px;
    height: 42px;
    font-weight: bold;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: fade(#000, 20);
    opacity: 0;
    visibility: hidden;
  }
  &:before {
    position: absolute;
    content: '';
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    opacity: 0;
    visibility: hidden;
    background-color: fade(#000, 50);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  &.bg-blue:before {
    background-color: fade(#2196F3, 50);
  }
  &.bg-orange:before {
    background-color: fade(#FF9800, 50);
  }
  &.bg-green:before {
    background-color: fade(#4CAF50, 50);
  }
  &.bg-brown:before {
    background-color: fade(#A52A2A, 50);
  }
  &:hover {
    &:before {
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      opacity: 1;
      visibility: visible;
    }
    .btn-ex {
      opacity: 1;
      visibility: visible;
    }
  }
}

.jw-text1 {
  height: 580px;
}

.jw-5 {
  height: 700px;
}

.jw-6, .jw-text2, .jw-3 {
  height: 300px;
}

.jw-1, .jw-2 {
  height: 380px;
}

.jw-4 {
  height: 490px;
}

// RTL
.rtl {
  /*Header Layout 2*/
  .header-layout-8,
  .header-layout-7,
  .header-layout-2 {
    .top-bar {
      float: left;
    }
    .language-topbar .lang-list {
      left: 0;
      right: auto;
    }
    .currency-topbar .currency-list {
      left: 0;
      right: auto;
    }
    .logo-home02 {
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }
    .nav-top-inner {
      text-align: left;
    }
    .sticky-icon-group {
      float: left;
      margin: 0 50px 0 -10px;
      > div {
        float: right;
      }
    }
    .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
      display: block;
    }
    .menu-bar-btn {
      float: right;
    }
  }

  /*Header Layout 3*/
  .header-layout-3 {
    .main-menu {
      float: left;
    }
    .language-topbar .lang-list {
      left: 0;
      right: auto;
    }
    .currency-topbar .currency-list {
      left: 0;
      right: auto;
    }
    .logo-home03 {
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }
    .nav-top-inner {
      text-align: left;
    }
    .sticky-icon-group {
      float: left;
      margin: 0 50px 0 -10px;
      > div {
        float: right;
      }
    }
    .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
      display: block;
    }
    .menu-bar-btn {
      float: right;
    }
  }

  /*Header Layout 4*/
  .header-layout-4 {
    .top-bar {
      float: left;
    }
    .language-topbar .lang-list {
      left: 0;
      right: auto;
    }
    .currency-topbar .currency-list {
      left: 0;
      right: auto;
    }
    .logo-home04 {
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }
    .nav-top-inner {
      text-align: left;
    }
    .sticky-icon-group {
      float: left;
      margin: 0 50px 0 -10px;
      > div {
        float: right;
      }
    }
    .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
      display: block;
    }
    .menu-bar-btn {
      float: right;
    }
  }
  .block-prent {
    h2.title:before {
      right: -100%;
    }
    .icon_quotations {
      display: inline-block;
      direction: ltr;
    }
  }
  #multiscroll .ms-section.active h2.title:before {
    right: 0;
  }

  /*Header Layout 5*/
  .header-layout-5 {
    .store-cr {
      float: left;
    }
    .top-bar {
      left: 0;
      right: auto;
    }
    .typo-navigation {
      margin-left: 0;
      margin-right: -15px;
    }
  }

  /*Header Layout 6*/
  .header-layout-6 {
    .main-menu {
      float: left;
    }
    .language-topbar .lang-list {
      left: 0;
      right: auto;
    }
    .currency-topbar .currency-list {
      left: 0;
      right: auto;
    }
    .logo-home06 {
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }
    .nav-top-inner {
      text-align: left;
    }
    .sticky-icon-group {
      float: left;
      margin: 0 50px 0 -10px;
      > div {
        float: right;
      }
    }
    .sticky-cart .typo-icon-ajaxcart .typo-cart-label .print .items {
      display: block;
    }
    .menu-bar-btn {
      float: right;
    }
  }

  // HOME 03
  .main-newsletter.home03-newsletter .main-newsletter-inner .subscribe .input-box button {
    left: 0;
    right: auto;
  }
  .block-top-01 .content-block h2 span:after, .block-top-02 .content-block h2 span:after {
    background-position: right center;
  }

  // HOME 06
  .widget-collection-style3 .owl-theme .owl-nav {
    left: 0;
    right: auto;
  }
  .cat-home ul li a:hover {
    padding-right: 30px;
    padding-left: 20px;
  }
}

@media (min-width: 1600px) {
  .cms-index-index .header-layout-4 .nav-top {
    padding: 20px 0;
  }

  .home04 .footer-container .footer-inner {
    padding: 29px 0;
  }

  // HOME 09
  .block-prent h2.title {
    font-size: 70px;
  }

  .jw-text1 {
    height: 880px;
  }

  .jw-5 {
    height: 1200px;
  }

  .jw-6, .jw-text2, .jw-3 {
    height: 410px;
  }

  .jw-1, .jw-2 {
    height: 580px;
  }

  .jw-4 {
    height: 890px;
  }
}

@media (min-width: 1230px) {
  // HOME 06
  .boxed .container {
    width: 1230px;
    padding: 0 30px;
  }
}

@media (max-width: 1599px) {
  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 680px !important;
  }
}

@media (max-width: 1199px) {
  .header-layout-4 {
    .cmn-toggle-switch {
      width: 30px;
    }
    .logo-home04 {
      margin-left: 15px;
      margin-right: 0;
    }
    .is-sticky .logo-sticky {
      padding: 0 15px;
    }
  }

  // HOME 03
  .block-top-01 .content-block h2, .block-top-02 .content-block h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .block-top-01 .content-block p, .block-top-02 .content-block p {
    line-height: 1.7;
    font-size: 14px;
  }

  .block-top-01 .bottom, .block-top-02 .bottom {
    margin-top: 30px;
  }

  // RTL
  .rtl {
    .header-layout-4 {
      .logo-home04 {
        margin-left: 0;
        margin-right: 15px;
      }
      .is-sticky .logo-sticky {
        padding-left: 0;
        padding-right: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  /*Header Layout 2*/
  .header-layout-8,
  .header-layout-7,
  .header-layout-2 {
    .header-top-inner {
      text-align: center;
    }
    .top-bar {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
  }

  // HOME 03
  .slider-home.slide-fullwidth .caption {
    top: 55%;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 420px;
    padding: 15px 10px;
  }

  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 500px !important;
  }

  .block-top-01 .content-block p, .block-top-02 .content-block p {
    display: none;
  }

  // HOME 05
  .block-prent {
    h2.title {
      font-size: 30px;
    }
  }

  // HOME 06
  .widget-collection-style3 {
    .tab-mobile {
      display: block;
    }
    .tab-mobile + .widget-tabs {
      position: absolute;
      top: 55px;
      left: 0;
      margin: 0 !important;
      padding: 15px 30px;
      width: 290px;
      height: auto;
      z-index: 11;
      background: #ffffff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      transition: all 250ms ease;
      text-align: initial;
      opacity: 0;
      visibility: hidden;
    }
    .tab-mobile + .widget-tabs.showing {
      opacity: 1;
      visibility: visible;
    }
  }

  // HOME 07
  .interior-block-slide .interior-inner .title {
    font-size: 20px;
  }

  .interior-block-static .interior-inner .title {
    font-size: 24px;
  }

  .slider-home .caption.left-center {
    right: auto;
    left: 15px;
  }

  // RTL
  .rtl {
    .header-layout-8,
    .header-layout-7,
    .header-layout-2 {
      .top-bar {
        display: inline-block;
        vertical-align: top;
        float: none;
      }
    }
    .widget-collection-style3 .tab-mobile + .widget-tabs {
      left: auto;
      right: 0;
    }
    .tab-mobile + .widget-tabs li a {
      padding: 5px 15px 5px 0;
    }
  }
}

@media (min-width: 1600px) {
  .interior-block-slide, .interior-block-static {
    height: 700px;
  }
}

@media (max-width: 767px) {
  /*Header Layout 2*/
  .header-layout-8,
  .header-layout-7,
  .header-layout-2 {
    .sticky-search .quick-search {
      max-width: 100%;
      right: 0;
      top: auto;
      bottom: 0;
    }
    .typo-icon-ajaxcart .typo-cart-label .print {
      display: block;
    }
  }

  /*Header Layout 3*/
  .header-layout-3 {
    .sticky-search .quick-search {
      max-width: 100%;
      right: 0;
      top: auto;
      bottom: 0;
    }
    .sticky-icon-group {
      margin: 0 -10px 0 0;
    }
    .typo-icon-ajaxcart .typo-cart-label .print {
      display: block;
    }
  }

  .cms-index-index .header-layout-3 {
    position: relative;
    top: 0;
    margin-top: -15px;
  }

  /*Header Layout 4*/
  .header-layout-4 {
    .sticky-icon-group {
      margin: 0 -10px 0 0;
    }
    .settings .settings-inner {
      padding-top: 0;
    }
    .settings .setting-language, .settings .setting-currency {
      padding-top: 20px;
    }
    .sticky-search .quick-search {
      max-width: 100%;
      right: 0;
      top: auto;
      bottom: 0;
      z-index: 100;
    }
    .typo-icon-ajaxcart .typo-cart-label .print, .typo-icon-ajaxcart .icon-dropdown {
      display: block;
    }
  }

  /*Header Layout 5*/
  .header-layout-5 {
    .social {
      float: left;
    }
  }

  /*Header Layout 6*/
  .header-layout-6 {
    .sticky-search .quick-search {
      max-width: 100%;
      right: 0;
      top: auto;
      bottom: 0;
    }
    .sticky-icon-group {
      margin: 0 -10px 0 0;
    }
    .typo-icon-ajaxcart .typo-cart-label .print {
      display: block;
    }
  }

  //HOME 03
  .block-top-02 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .images {
      order: 2;
    }
  }

  .block-top-01 .content-block, .block-top-02 .content-block {
    padding: 25px 0;
    margin: 0;
    h2 {
      font-size: 25px;
      margin-bottom: 20px;
      padding: 15px 0 25px;
      line-height: 35px;
    }
    p {
      font-size: 14px;
      line-height: 25px;
    }
  }

  .slider-home.slide-fullwidth .caption-wrapper,
  .slider-home.slide-fullwidth {
    height: 400px !important;
  }

  .main-newsletter.home03-newsletter:before {
    display: none;
    visibility: hidden;
  }

  .main-newsletter.home03-newsletter {
    padding: 50px 0;
    .left-newsletter,
    .right-newsletter {
      margin-bottom: 30px;
    }
    .subscribe {
      padding-bottom: 15px;
    }
  }

  .fluid-width-footer.footer-container {
    .footer-top-inner {
      padding: 25px 0 10px
    }
    .footer-copyright {
      padding: 10px 0 40px;
    }
    .home03-footer .footer-logo {
      margin: 40px auto;
    }
  }

  .block-top-01 > div, .block-top-02 > div {
    display: block;
  }

  .block-top-01 .content-block p, .block-top-02 .content-block p {
    display: block;
  }

  // HOME 04
  .home04 {
    &.cms-index-index .footer-container {
      display: none;
    }
    #fp-nav.right {
      right: 6px;
    }
  }

  .fullpage-wrapper .widget-block .intro .text-small {
    font-size: 14px;
  }

  .fullpage-wrapper .widget-block .intro .title {
    font-size: 20px;
  }

  .home04 #section2 .text-normal {
    margin-top: 15px;
  }

  .home04 #section4 .text-normal {
    font-size: 14px;
    margin-top: 15px;
  }

  .home04 #section5 .text-normal {
    font-size: 14px;
  }

  .fullpage-wrapper .widget-block .intro img {
    max-height: 100px;
  }

  // HOME 05
  .block-prent {
    h2.title {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .text {
      display: none;
    }
    .btn-ex {
      margin-top: 0;
      font-size: 11px;
      overflow: hidden;
    }
    .date-time .date, .date-time .month {
      font-size: 14px;
    }
    h3.title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    #contactForm .form-list .input-box {
      input, textarea {
        height: 30px;
        line-height: 28px;
        padding: 0;
      }
    }
    #contactForm button span {
      line-height: 30px;
      border: 0;
      padding: 0;
      span {
        line-height: 30px;
        border: 0;
        padding: 0 15px;
      }
    }
    h2.title:before {
      height: 2px;
    }
    #contactForm .buttons-set {
      margin-top: 10px;
    }
    .quote {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .cms-index-index.home05 .header-layout-4 {
    padding: 0;
  }

  #multiscroll {
    position: static;
  }

  // HOME 07
  .home07.cms-index-index .header-layout-3 {
    position: relative;
    margin-top: 0;
  }

  .home07 .slider-home .caption {
    left: 0;
    max-width: 100%;
    text-align: left;
    .title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    &:before {
      display: none;
    }
  }

  .home07 .main-slide-inner .owl-dots {
    position: relative;
    bottom: auto;
    padding-top: 5px;
  }

  .home07 .typo-wrapper {
    padding: 0;
  }

  // HOME 09
  .jw-text1 {
    height: 300px;
  }

  .block-jw:before {
    display: none;
  }

  .block-jw .btn-ex {
    opacity: 1;
    visibility: visible;
  }

  // Home 14
  .rtl .footer-style14,
  .footer-style14 {
    .inner-footer-block {
      text-align: center !important;
      margin-bottom: 50px;
      .footer-center-image {
        margin-bottom: 30px;
      }
    }
  }

  .home14,
  .home15 {
    .footer-copyright .h3 {
      margin: 30px 0;
    }
  }

  // RTL
  .rtl .header-layout-4 .sticky-icon-group {
    margin-right: 0;
  }

  .rtl .header-layout-5 .social {
    float: right;
  }
}

@media (max-width: 479px) {
  /*Header Layout 2*/
  .header-layout-8,
  .header-layout-7,
  .header-layout-2 {
    .logo-home02 {
      margin: 0;
      width: 100%;
      text-align: center;
      .logo {
        margin: 0 auto;
      }
    }
    .form-search {
      float: none;
    }
    .ajaxcart {
      right: -40px;
    }
    .cmn-toggle-switch {
      width: 30px;
    }
    .sticky-icon-group .settings {
      display: block;
    }
  }

  /*Header Layout 3*/
  .header-layout-3 {
    .nav-top-inner {
      text-align: initial;
    }
    .ajaxcart {
      right: -40px;
      left: auto;
    }
    .logo-home03 {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      .logo {
        margin: 0 auto;
      }
    }
    .form-search {
      float: none;
    }
    .cmn-toggle-switch {
      width: 30px;
    }
    .sticky-icon-group .settings {
      display: block;
    }
  }

  /*Header Layout 4*/
  .header-layout-4 {
    .logo-home04 .logo a img {
      max-width: 90px;
    }
    .form-search {
      float: none;
    }
    .ajaxcart {
      right: -40px;
    }
    .sticky-icon-group .settings {
      display: block;
    }
  }

  /*Header Layout 6*/
  .header-layout-6 {
    .nav-top-inner {
      text-align: initial;
    }
    .ajaxcart {
      right: -40px;
      left: auto;
    }
    .logo-home06 {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      .logo {
        margin: 0 auto;
      }
    }
    .form-search {
      float: none;
    }
    .cmn-toggle-switch {
      width: 30px;
    }
    .sticky-icon-group .settings {
      display: block;
    }
  }

  //HOME 03
  .slider-home.slide-fullwidth .caption {
    width: 100%;
    max-width: 270px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 55%;
  }

  // HOME 07
  .interior-block-slide, .interior-block-static {
    height: 400px;
  }

  // RTL
  .rtl {
    /*Header Layout 2*/
    .header-layout-8,
    .header-layout-7,
    .header-layout-2, .header-layout-4 {
      .ajaxcart {
        left: -40px;
        right: auto;
      }
    }
  }

}

// SIDEBAR LAYOUT
// HOME 10
.home-sidebar {
  .nav-top-inner {
    padding: 0;
  }
  .sticky-search .quick-search {
    right: 0;
    max-width: 100%;
    padding-left: 300px;
    border-bottom: 1px solid #ccc;
    .icon_close {
      right: 15px;
    }
  }
  .main-slide-inner {
    padding: 0;
  }
  .logo-home {
    padding: 15px 40px;
    height: 120px;
    .logo a img {
      margin: 0;
    }
  }
}

.home-sidebar {
  .logo-home strong {
    position: absolute;
    top: -9999em;
    text-indent: -99999em;
  }
  .sticky-icon-group {
    display: inline-block;
    float: right;
    margin: 0 0 0 -10px;
    > div {
      float: left;
      margin: 0 10px;
    }
  }
}

.sb-topbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 99;
  padding: 0 30px;
}

.sb-header-menu {
  position: fixed;
  left: 0;
  top: auto;
  bottom: 0;
  z-index: 100;
  padding: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  .mCustomScrollBox {
    overflow: visible;
    .mCSB_container {
      overflow: visible;
    }
  }
  .mCSB_scrollTools {
    left: -5px;
    right: auto;
  }
}

.widget-collection-style3 {
  .heading-title h2 {
    font-size: 24px;
  }
  .tabs-wrap {
    text-align: center;
  }
  .widget-tabs > li {
    a {
      font-size: 14px;
      padding: 15px 30px;
      color: #000;
      &:focus,
      &:hover {
        color: #999;
      }
    }
    &.active a {
      color: #999;
    }
    &:before {
      content: "|";
      top: 50%;
      left: -4px;
      margin-top: -10px;
      font-size: 17px;
      width: 8px;
      height: 20px;
      color: #000;
      font-weight: 600;
    }
  }
}

.slider-home.slider-type2 {
  .caption {
    max-width: 420px;
    padding: 30px;
    background-color: fade(#fff, 70);
    &.top-center {
      max-width: 660px;
    }
    .text {
      margin-bottom: 45px;
    }
    .btn-slide a {
      height: 58px;
      line-height: 58px;
      padding: 0 40px;
    }
  }
}

.slider-home.slider-type3 {
  .caption {
    max-width: 525px;
    .title {
      font-size: 60px;
    }
    &.top-center {
      max-width: 660px;
    }
    .text {
      margin-bottom: 45px;
      font-size: 16px;
    }
    .btn-slide a {
      height: 58px;
      line-height: 58px;
      padding: 0 40px;
    }
  }
}

.vheader-layout-1 {
  .main-container {
    padding-top: 60px;
    margin: 0;
    position: relative;
  }
}

.home-sidebar {
  padding-left: 300px;
  .sidebar-newsletter {
    margin-top: 30px;
    padding: 0 40px;
    .main-newsletter-inner {
      border-top: 1px solid #ddd;
      .subscribe {
        .title {
          margin-top: 40px;
          text-align: initial;
          font-size: 13px;
          margin-bottom: 5px;
        }
        .text {
          text-align: initial;
          font-size: 13px;
          margin-bottom: 30px;
        }
        .input-box {
          input {
            height: 44px;
            padding: 0 20px;
          }
          button {
            position: relative;
            margin-top: 30px;
            left: 0;
            background-color: #000;
            height: 44px;
            line-height: 44px;
            span {
              height: 44px;
              line-height: 44px;
              font-size: 13px;
              letter-spacing: 0.6px;
            }
          }
        }
      }
    }
  }
  .sidebar-footer {
    margin-top: 30px;
    padding: 0 40px 30px;
    .social-icons {
      &.hide-text {
        li {
          display: inline-block;
          a {
            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            color: #999;
            &:hover {
              color: #000;
            }
          }
          span {
            display: none;
          }
        }
      }
    }
    .sidebar-footer-content {
      font-size: 12px;
      margin-top: 15px;
      font-weight: 600;
      color: #000;
    }
  }
}

.footer-bottom-content {
  padding: 30px 0;
  font-size: 13px;
  background-color: #ececec;
  text-align: center;
  span {
    text-transform: uppercase;
    line-height: 40px;
    display: inline-block;
    padding: 0 5px;
  }
}

.testimonial-block {
  .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.testimonial-inner {
  text-align: center;
  padding: 175px 0;
  margin: 0 auto;
  width: 70%;
  img {
    width: 115px !important;
    border-radius: 100%;
    margin: 0 auto;
  }
  .content {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.07em;
    color: #ffffff;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 0 20px 0;
    position: relative;
  }
  .write-author {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #c2c2c2;
  }
  .write-by {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    color: #c2c2c2;
  }
}

.home10-copyright {
  padding: 30px 0;
  font-size: 13px;
  text-transform: uppercase;
}

.rtl {
  .vheader-layout-1 .sticky-icon-group > div {
    float: right;
  }
  .vheader-layout-1 .sticky-icon-group {
    float: left;
  }
  &.home-sidebar .sticky-search .quick-search {
    padding-left: 0;
    padding-right: 300px;
  }
  &.home-sidebar .sticky-search .quick-search .icon_close {
    right: auto;
    left: 15px;
  }
  .sb-header-menu {
    right: 0;
    left: auto;
    border-right: none;
    border-left: 1px solid #ddd;
  }
  &.home-sidebar {
    padding: 60px 300px 0 0;
  }
  &.home11.home-sidebar {
    padding-top: 0;
  }
  .vheader-layout-1,
  .vheader-layout-2 {
    #typonav li.mega_align_center.level-top > div.show-sub {
      right: 50%;
      left: auto;
    }
  }
  .sb-header-menu .mCSB_scrollTools {
    left: auto;
    right: -5px;
  }
}

// HOME 11 - SIDEBAR 2
.typo-sb-cart {
  padding: 0 40px;
  .typo-cart {
    width: 100%;
    .typo-icon-ajaxcart .typo-cart-label {
      width: 100%;
      .icon-dropdown {
        float: right;
      }
    }
  }

}

.home-sidebar {
  .footer-container {
    .container {
      padding: 0;
    }
  }
  .fluid-width-footer.footer-container .footer-copyright {
    padding: 5px 0 10px;
  }
}

.typo-sb-setting,
.typo-sb-quicksearch {
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 50px;
  width: 100%;
}

.typo-sb-setting {
  .store-selector {
    .language-topbar .lang-curr i,
    .currency-topbar .currency-sym i {
      padding-left: 3px;
    }
  }
  .currency-topbar .currency-sym a {
    padding: 0;
  }
  .language-topbar .lang-curr a {
    padding: 0 0 0 25px;
  }
  .settings {
    display: inline-block;
    float: right;
    i {
      line-height: 20px;
    }
  }
  .setting-language, .setting-currency {
    display: none;
  }
  .settings .setting-language, .settings .setting-currency {
    padding: 25px 25px 20px;
    border-bottom: 1px dashed #333;
  }
}

.typo-sb-setting .store-selector > .currency-topbar {
  padding: 0 15px;
}

.vheader-layout-2 {
  .sb-header-menu {
    border: none;
  }
}

@media (min-width: 1200px) {
  .typo-sb-setting {
    .settings {
      .settings-inner {
        right: auto;
        top: auto;
        left: 100%;
        bottom: 0;
      }
    }
  }

  .typo-sb-cart {
    padding-bottom: 30px;
    .ajaxcart {
      right: auto;
      top: auto;
      left: 100%;
      bottom: 0;
    }
  }

  .rtl {
    .typo-sb-cart .ajaxcart,
    .typo-sb-setting .settings .settings-inner {
      right: 100%;
      left: auto;
    }
    .typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label .icon-dropdown {
      float: left;
    }
  }

  .rtl .typo-sb-setting .settings {
    float: left;
  }
}

@media (max-width: 1599px) {
  .slider-home.slider-type2 {
    height: 580px !important;
  }

  .slider-home.slider-type3 {
    height: 680px !important;
  }
}

@media (max-width: 1199px) {
  .vheader-layout-2 .sb-header-menu {
    margin-bottom: 30px;
  }

  .typo-sb-cart {
    width: 29%;
    display: inline-block;
    float: right;
    text-align: right;
    .typo-cart {
      width: auto;
    }
  }

  .typo-sb-quicksearch {
    width: 70%;
    display: inline-block;
    margin-bottom: 40px;
  }

  .typo-sb-cart .typo-cart .typo-icon-ajaxcart .typo-cart-label {
    pointer-events: none;
  }

  .home-sidebar .global-site-notice {
    padding: 0;
  }

  .home-sidebar .sticky-search .quick-search {
    padding: 0;
  }

  .vheader-layout-2 .nav-top {
    margin-bottom: 0;
  }

  .typo-sb-setting {
    margin-bottom: 0;
    .store-selector {
      display: none;
    }
    .settings {
      position: absolute;
      right: 40px;
      top: 35px;
    }
    .setting-language, .setting-currency {
      display: block;
    }
  }

  .sb-header-menu {
    position: relative;
    width: 100%;
    border: none;
    z-index: 98;
  }

  .sb-topbar {
    position: relative;
  }

  .home-sidebar {
    padding: 0;
    .logo-home {
      margin: 15px 0;
      display: inline-block;
      text-align: center;
      height: auto;
      .logo {
        display: inline-block;
        margin: 0 auto;
      }
    }
    .sidebar-footer {
      position: relative;
      text-align: center;
      margin: 0;
    }
  }

  .slider-home.slider-type2 {
    height: 600px !important;
  }

  .rtl {
    &.home-sidebar {
      padding: 0;
    }
    .typo-sb-cart {
      float: left;
      .typo-maincart {
        text-align: left;
      }
    }
    .typo-sb-setting .settings {
      left: 40px;
      right: auto;
    }
    .vheader-layout-2 .menu-bar-btn {
      right: 30px;
      left: auto;
    }
    .typo-icon-ajaxcart .icon-cart {
      float: left;
    }
    &.home-sidebar .main-container {
      padding: 0;
    }
    &.home-sidebar .sticky-search .quick-search {
      padding: 0;
    }
    &.home-sidebar .global-site-notice {
      padding: 0;
    }
  }
}

@media (max-width: 767px) {
  .typo-sb-cart {
    padding: 0 40px 0 0;
  }

  .rtl .typo-sb-cart {
    padding: 0 0 0 40px;
  }

  .slider-home.slider-type2 {
    height: 500px !important;
    .caption {
      background-color: rgba(255, 255, 255, 0.8);
      max-width: 360px;
      padding: 15px;
      &.top-center {
        max-width: 360px;
      }
    }
  }

  .slider-home.slider-type3 {
    height: 500px !important;
    .caption {
      text-align: left;
      .title {
        font-size: 40px;
        &.border-bot {
          margin-bottom: 30px;
          padding-bottom: 15px;
        }
      }
      .text {
        margin-bottom: 30px;
        font-size: 14px;
      }
      .btn-slide a {
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  .slider-home.slider-type2 {
    height: 460px !important;
    .caption {
      background-color: rgba(255, 255, 255, 0.8);
      max-width: 360px;
      padding: 15px;
      &.top-center {
        max-width: 360px;
      }
      .text {
        display: none;
      }
    }
  }

  .slider-home.slider-type3 {
    height: 460px !important;
    .caption {
      max-width: 360px !important;
      .title {
        font-size: 25px;
      }
      .text {
        display: none;
      }
    }
  }

  .home-sidebar .logo-home .logo {
    max-width: 50%;
  }
}

// HOME 12
.home12 .slider-home.slide-fullwidth .caption {
  right: auto;
  left: 15%;
}

.home12 .slider-home .caption .title {
  color: #fff;
  text-shadow: 2px 5px 5px fade(#000, 50);
}

.home12 .slider-home .caption .text {
  color: #fff;
  text-shadow: 2px 5px 5px fade(#000, 50);
}

.home12 .main-slide-inner {
  margin-bottom: 0;
}

.block-welcome2 {
  background-color: #f0f0f0;
  padding: 125px 0 130px 0;
  position: relative;
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 75px;
    background-color: #000;
    content: "";
  }
  .heading-title {
    padding: 0;
    position: relative;
    background: transparent;
    z-index: 1;
    margin-bottom: 30px;
    h2 {
      font-size: 30px;
    }
    .bg-word {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #e4e4e4;
      font-size: 120px;
      font-weight: bold;
      z-index: -1;
    }
  }
  .block-icon {
    height: auto;
    background-color: transparent;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      background-color: fade(#fff, 95);
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      transition: all 250ms ease;
    }
    &:hover:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      width: 100%;
    }
    .block-center {
      padding: 30px;
    }
  }
}

.block-cd .content-block {
  max-width: 500px;
  h2 {
    padding: 0;
    span:after {
      display: none;
    }
  }
  .desc {
    margin-bottom: 30px;
  }
  .product-date {
    margin-bottom: 30px;
  }
}

.block-cd .images {
  position: relative;
  .content-block {
    text-align: center;
    position: absolute;
    top: 10%;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.home12 .wcl-word {
  padding-top: 65px;
}

.wcl-word {
  padding-top: 65px;
  position: relative;
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 75px;
    background-color: #000;
    content: "";
  }
  .heading-title {
    padding: 0;
    position: relative;
    background: transparent;
    z-index: 1;
    margin-bottom: 30px;
    h2 {
      font-size: 30px;
    }
    .bg-word {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #e4e4e4;
      font-size: 120px;
      font-weight: bold;
      z-index: -1;
    }
  }
}

.blog-layout2 {
  text-align: center;
  position: relative;
  padding: 125px 0 110px 0;
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 75px;
    background-color: #000;
    content: "";
  }
  .heading-title {
    padding: 0;
    position: relative;
    background: transparent;
    z-index: 1;
    margin-bottom: 30px;
    h2 {
      font-size: 30px;
    }
    .bg-word {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #e4e4e4;
      font-size: 120px;
      font-weight: bold;
      z-index: -1;
    }
  }
  .subtitle-widget {
    margin-bottom: 40px;
  }
  .title-post {
    font-size: 16px;
    text-transform: uppercase;
  }
  .blog {
    padding-top: 40px;
    .main-post {
      border-bottom: 1px solid fade(#cccccc, 50);
    }
    &:last-child .main-post {
      border-bottom: none;
    }
    &:first-child .text-post {
      display: block;
    }
    .title-post {
      margin: 0 0 10px 0;
    }
    .main-post-inner {
      padding-bottom: 40px;
    }
  }
  .text-post {
    padding: 20px 0;
    background-color: #f3f3f3;
    display: none;
    .readmore-post {
      text-transform: uppercase;
      margin: 10px 0 0;
    }
  }
  // .blog:hover .text-post {
  //   display: block;
  // }
}

.home12 .main-newsletter-inner {
  background-color: #f3f3f3;
  border-top: none;
  padding: 75px 0;
  input {
    background-color: #fff;
  }
}

.home12 .fluid-width-footer.footer-container .footer-top-inner {
  padding-bottom: 80px;
}

.home12 .fluid-width-footer.footer-container .footer-copyright {
  padding-bottom: 15px;
}

.home12 .footer-logo {
  margin-bottom: 30px;
}

//Home 15

.home15 {
  .cmn-toggle-switch span,
  .cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    background-color: #fff;
  }
  .main-top {
    background: url('../images/maintop_bg.jpg') no-repeat center center;
    background-size: cover;
  }
  .footer-container {
    background: url("../images/foot-bg15.jpg") no-repeat;
    background-size: cover;
    padding: 0;
/*    .footer-bottom,
    .footer-top,
    .footer-copyright{
      background: rgba(0,0,0,0);
    }*/
  }
  .header-layout-8 {
    border-bottom: none;
  }
  .footer-style14 .inner-footer-block .footer-payment h3 {
    color: #fff;
    letter-spacing: 0.025em;
    font-size: 13px;
    line-height: 24px;
  }
}

.tpblock {
  position: relative;
  display: table;
  width: 100%;
  & > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .images {
    overflow: hidden;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .content-block {
    margin: 15px auto;
  }
    .dark-content {
    background-color: #161616;
    .content-block {
      margin: 15px auto;
      width: 100%;
      max-width: 400px;
      .quote-block {
        text-align: center;
        color: #fff;
        &:before {
          content:"\f10d";
          font-family: FontAwesome;
          font-size: 36px;
          color: #cc9966;
          margin-bottom: 60px;
          display: inline-block;
        }
        .testimoniel {
          font-style: italic;
          font-size: 18px;
          color: #ccc;
          line-height: 24px;
          margin-bottom: 50px;
        }
        h4 {
          font-size: 13px;
          text-transform: uppercase;
          color: #ccc;
          letter-spacing: 0.25em;
          margin: 0;
          font-weight: 400;
        }
        p.subtit {
          margin: 0;
          font-weight: 400;
          font-size: 13px;
          color: #666;
          line-height: 18px;
        }

      }
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #cc9966;
    letter-spacing: 0.05em;
    margin: 0 0 30px;
    line-height: 24px;
  }
  h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin: 0 0 45px;
  }
  p.desc.std {
    font-size: 14px;
    color: #ccc;
    letter-spacing: 0.025em;
    margin: 0 0 15px;
  }
  ul {
    li {
      list-style: none;
      color: #ccc;
      line-height: 24px;
      &:before {
        content:"\f005";
        float: left;
        font-family: fontawesome;
        color: #cc9966;
        margin-right: 10px;
      }
    }
  }

  div.action {
    margin-top:70px;

  }
}
.tpblock.tp-block-02 {
  .view-btn .viewmore-btn {
    border: 1px solid #cc9966;
    span {
      border-right: 1px solid #cc9966;
    }
  }
}
.tpblock.tp-block-02 {
  .dark-content .content-block {
    img {
      margin-top: 40px;
    }
  }
}
.tpblock.tp-block-01 {
  padding: 100px 0;
  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #cc9966;
    letter-spacing: 0.05em;
    margin: 0 0 30px;
    line-height: 24px;
  }
  h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin: 0 0 40px;
  }
  div.action {
    margin-top: 60px;
  }
}
.tp-btn01 {
  position: relative;
  cursor: pointer;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  background-color: #000;
  border: 1px solid #000000;
  line-height: 60px;
  padding-left: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0.1em;
/*  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);*/
  &:after {
    margin-left: 30px;
    content:"\f105";
    font-family: FontAwesome;
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: right;
    text-align: center;
    font-size: 1.5em;
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 0;
    pointer-events: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
.bottom_block_margin {
  margin-bottom: 100px;
}
.view-btn {
  display: inline-block;
  margin-top: 20px;
  .viewmore-btn {
    padding-right: 60px;
    position: relative;
    display: inline-block;
    color: #fff;
    background: #000;
    cursor: pointer;
    span {
      white-space: nowrap;
      line-height: 50px;
      height: 50px;
      padding: 0 30px;
      display: inline-block;
      border-right: 1px solid #404040;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    &:after {
      content: "\f105";
      font-family: FontAwesome;
      line-height: 50px;
      width: 55px;
      text-align: center;
      height: 50px;
      top: 0;
      right: 0;
      position: absolute;
      font-size: 20px;
    }
  }
}
.widget-product {
  &.heading_style02 {
    .heading-title {
      background: none;
      padding-bottom: 0;
      margin-bottom: 0;
      h2 {
        font-size: 36px;
        line-height: 24px;
        margin-bottom: 0;
        padding-bottom: 0;
        span {
          line-height: 24px;
        }
      }
    }
  }
}

.widget-blog.heading_style02 {
  .main-heading {
    margin-bottom: 45px;
  }
  .blog-grid {
    margin: 0;
  }
  h2.title-widget {
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
    span {
      line-height: 24px;
    }
  }
  .subtitle-widget {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color:#999999;
    margin-top: 10px;
  }
  .blog-cat {
    margin-top: 75px;
  }
}
.subtitle-widget {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color:#999999;
  margin-bottom: 75px;
}

@media (max-width: 991px) {
  .home12 .slider-home.slide-fullwidth .caption {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:before {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .home12 .typo-wrapper {
    padding-top: 0;
  }
}

//Home 13
.home13 {
  .main-bottom {
    background-color: #f5f5f5;
  }
  .main-brands-inner {
    border-top: none;
  }
  .footer-container {
    border-top: none;
    padding-bottom: 0;
    .footer-top {
      .footer-col1 {
        padding: 0 10%;
      }
      h3 {
        color: #000000;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
      p {
        font-size: 13px;
        line-height: 24px;
      }
      .tagtwitter,
      .hashtag {
        color: #000;
      }
      .daypost {
        text-transform: uppercase;
      }
    }
    .footer-bottom {
      padding: 20px 0 60px;
      h4 {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      ul.social-icons {
        li {
          display: inline-block;
          a {
            span {
              display: none;
            }
            i {
              display: inline-block;
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              font-size: 18px;
            }
          }
        }
      }
    }
    .footer-copyright {
      padding: 30px 0;
    }
  }
}

.slider-home.slide-fullwidth {
  .caption-wrapper {
    position: relative;
    .caption {
      left: 5px;
      width: 100%;
      max-width: 500px;
      right: auto;
      h4.subtitle {
        font-size: 16px;
        color: #666666;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 25px;
      }
      .title {
        font-size: 48px;
        letter-spacing: 1px;
        margin-bottom: 40px;
      }
      span.bold-black-text {
        font-weight: 900;
        color: #000;
      }
      span.grey-text {
        font-weight: 400;
        color: #666;
      }
      span.bold-cyan-text {
        color: #927548;
        font-weight: 900;
      }
      .btn-slide a {
        font-size: 14px;
      }
      &.right-center2 {
        left: auto;
        right: 5px;
        text-align: right;
      }
    }
  }
}

.welcome-block {
  padding: 40px 0 70px;
  .heading-title {
    background: transparent;
    h2 {
      font-size: 30px;
      font-weight: 600;
      span.grey-text {
        color: #666666;
        font-weight: 400;
      }
    }

  }
  .text-block {
    text-align: center;
    color: #999;
    margin-bottom: 60px;
  }
  .left-welcome,
  .center-welcome,
  .right-welcome {
    position: relative;
    img {
      width: 100%;
    }
  }
  .center-welcome {
    text-align: left;
  }
  .welcome-content {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    .wtitle {
      color: #666666;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 30px;
    }
    .wcontent {
      color: #000;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 40px;
      line-height: 30px;
    }
    .wcontent2 {
      color: #000;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 40px;
      line-height: 30px;
      .cyan-text {
        color: #927548;
      }
    }
    .sub-wcontent {
      p {
        color: #666666;
        line-height: 24px;
        margin-bottom: 30px;
        .black-text {
          color: #000;
        }
      }

    }
    ul li {
      padding: 0 15px;
      color: #666666;
      position: relative;
      line-height: 24px;
      &:before {
        position: absolute;
        line-height: 24px;
        content: "\f005";
        font-family: FontAwesome;
        left: 0;
        top: 0;
        font-size: 13px;
        color: #927548;
      }
    }
    a.button {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .wlink a {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 25px;
      color: #927548;
      padding-right: 20px;
      position: relative;
      display: inline-block;
      .arrow_right {
        position: absolute;
        line-height: 25px;
        right: 0;
        top: 0;
      }
    }
  }
}

.deal-block {
  .deal-section {
    padding: 120px 0;
  }
  .inner-deal-block {
    text-align: left;
  }
  .hotdeal-image {
    text-align: right;
    img {
      margin-top: 30px;
    }
  }
  .subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 0 0 25px;
    padding: 0;
    color: #000;
    .grey-text {
      color: #666666;

    }

  }
  .title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 40px;
    .cyan-text {
      color: #927548;
    }
  }
  .notice {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .text {
    line-height: 24px;
    color: #666666;
    font-size: 14px;
    padding: 0;
    margin: 0 0 50px;
    .black-text {
      color: #000;
    }
  }
  .product-date {
    margin-bottom: 50px;
  }
  .product-date .cd-sale .num {
    background-color: #fff;
  }
}

.grey-text {
  color: #666666;
}

.widget-product-tab.tab-products-02 {
  padding: 45px 0;
  .main-heading {
    padding-bottom: 0;
  }
  .heading-title {
    background: transparent;
    padding: 10px 0 15px;
    h2 {
      font-size: 30px;
      line-height: 32px;
      span.grey-text {
        font-weight: 300;
      }
    }
  }
  .widget-tabs > li > a {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    font-weight: 300;
  }
  .widget-tabs > li:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "|";
    position: absolute;
    top: 50%;
    left: -4px;
    margin-top: -10px;
    font-size: 19px;
    width: 8px;
    height: 14px;
    color: #000;
    line-height: 1;
    font-weight: 600;
  }
  .widget-tabs > li:first-child:before {
    display: none;
  }
  .widget-tabs > li.active > a, .widget-tabs > li.active > a:focus, .widget-tabs > li.active > a:hover {
    color: #999999;
  }
}

.widget-product-tab.tab-products-03 {
  .main-heading {
    padding: 20px 0;
    .heading-title {
      background: none;
      padding: 10px 0 15px;
      h2 {
        font-size: 30px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
      }
    }
  }
  .tabs-wrap {
    margin-bottom: 40px;
  }
  .widget-tabs > li > a {
    font-size: 14px;
    padding: 15px 30px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .widget-tabs > li:before {
    content: "/";
    font-weight: 900;
    font-size: 18px;
    margin-top: -9px;
  }
}

.widget-blog.blog-layout3 {
  position: relative;
  padding: 50px 0 110px 0;
  li.item {
    position: relative;
    padding: 0;
    .main-post {
      text-align: center;
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
      background: #fff;
      background: rgba(255, 255, 255, 0.9);
      opacity: 0;
      visibility: hidden;
      .transition-all35;
      .inner-main-post {
        width: 90%;
      }
      .main-post-inner {
        color: #999999;
        font-size: 13px;
        line-height: 36px;
        span {
          color: #666666;
        }
      }

      .title-post {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0 0 20px;
        padding: 0;
      }
    }
    &:hover .main-post {
      opacity: 1;
      visibility: visible;
    }
  }
  .title-widget {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    span.grey-text {
      color: #666;
      font-weight: 300;
    }
  }
}

.widget-blog {
  .subtitle-widget {
    text-align: center;
    font-size: 14px;
    color: #999;
    max-width: 520px;
    padding: 0 15px;
    margin: 0 auto 100px;
  }
}

.setting-content {
  .currency-topbar .currency-list ul,
  .language-topbar .lang-list ul {
    background: transparent;
  }
}
.tp-instagram {
  padding: 0 20px;
}
@media (min-width: 992px) {
  .footer-col2 {
    border-left: 1px solid fade(#cccccc, 50);
    border-right: 1px solid fade(#cccccc, 50);
  }
}

@media (max-width: 991px) {
  .deal-block .deal-section {
    padding: 70px 15px;
  }

  .home13 .footer-container .footer-top .footer-col1 {
    padding: 0 10% 20px;
  }

  .cms-index-index .header-container.header-layout-7 {
    position: relative;
  }

  .welcome-block .welcome-content .wcontent2,
  .welcome-block .welcome-content .wcontent {
    font-size: 15px;
    line-height: 24px;
  }

  .deal-block .title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .deal-block .text {
    display: none;
  }

  .deal-block .subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.rtl {
  .tpblock ul li:before {
    float: right;
    margin: 0 0 0 10px;
  }
}
@media (max-width: 767px) {
  .tpblock > div {
    display: block;
  }
  .widget-blog.heading_style02 h2.title-widget,
  .widget-product.heading_style02 .heading-title h2 {
    line-height: 1;
  }
  .tpblock .dark-content .content-block {
    padding: 20px 15px;
  }
  .slider-home.slide-fullwidth .caption-wrapper .caption {
    max-width: 100%;
    width: 100%;
    left: 0;
  }

  .slider-home.slide-fullwidth .caption-wrapper .caption h4.subtitle {
    font-size: 12px;
  }

  .slider-home.slide-fullwidth .caption-wrapper .caption .title {
    font-size: 30px;
  }

  .footer-container .footer-static h3 + .hide-accordion {
    display: none;
  }

  .welcome-block .welcome-content .wcontent2 {
    margin-bottom: 10px;
  }

  .home13 {
    .slider-home .caption:before {
      display: none;
    }
    .slider-home.slide-fullwidth .caption-wrapper .caption {
      text-shadow: 1px 1px 1px fade(#fff, 50);
    }
  }
}

@media (max-width: 479px) {
  .header-layout-8 .logo-home02 {
    margin: 0 40px;
  }
}