@media (min-width: 1600px) {
  .tp-2-col {
    width: 50%;
  }
  .tp-3-col {
    width: 33.33333333%;
  }
  .tp-4-col {
    width: 25%;
  }
  .tp-5-col {
    width: 20%;
  }
  .tp-6-col {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .tp-lg-5-col {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .tp-md-5-col {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .map-popup.map-popup-right {
    left: 10px !important;
  }
  .map-popup.map-popup-left {
    left: auto !important;
    right: 10px !important;
  }
  .block-layered-nav dd.hidden-tiny {
    display: block !important;
  }
  .footer-container .footer-static h3 + ul {
    display: block !important;
  }
}
@media (min-width: 480px) {
}
@media (max-width: 1199px) {
  /* login - register */
  .log-reg-page .account-create {
    padding-left: 30px;
  }
  .log-reg-page .account-login {
    padding: 0;
  }
  .sticky-search .quick-search {
    max-width: 800px;
  }
  .footer-container .information-footer .footer-static {
    padding: 0;
  }
  .slider-home .caption {
    right: 15px;
  }
  .item .product-show-box {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 991px) {
  .block-compare .block-content .actions .view-compare {
    margin-left: -5px;
  }
  .block-compare .block-content .actions .clearall {
    margin-right: -5px;
  }
  .add-to-cart .btn-cart {
    margin: 0 15px;
  }
  .sticky-search .quick-search {
    max-width: 580px;
  }
  .footer-container .footer-top-inner {
    padding: 30px 0 40px 0;
  }
  .footer-container .footer-static h3 {
    margin-bottom: 15px;
  }
  .slider-home .caption {
    right: 15px;
    padding: 30px 15px;
    max-width: 240px;
    text-align: center;
  }

  .slider-home .caption .title {
    font-size: 25px;
  }

  .slider-home.slide-fullwidth .caption .title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .slider-home .caption .text {
    margin-bottom: 30px;
  }

  .slider-home.slide-fullwidth .caption .text {
    margin-bottom: 20px;
  }

  .slider-home .caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }

  .row-onestep .four.columns {
    width: 100% !important;
    float: none;
    margin: 0;
  }
  .product-date {
    margin: 0 -5px;
  }
  .product-date .cd-sale {
    margin: 0 5px;
    width: 65px;
  }
  .product-date .cd-sale .num {
    line-height: 65px;
  }
  .add-to-cart .qty input {
    width: 140px;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .map-popup {
    width: 100%;
    left: 0 !important;
  }
  .slider-home, .block-sidebar {
    height: 420px !important;
  }
  .slider-home .caption {
    right: 15px;
    padding: 15px;
    max-width: 240px;
    text-align: center;
  }
  .slider-home .caption .title {
    font-size: 25px;
  }
  .slider-home .caption .text {
    margin-bottom: 30px;
  }
  .slider-home .caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }

  .slider-home.slide-fullwidth .caption .title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .slider-home.slide-fullwidth {
    height: auto!important;
  }
  .slider-home.slide-fullwidth .caption .text {
    margin-bottom: 15px;
    line-height: 18px;
  }
  .slider-home.slide-fullwidth .caption .btn-slide a {
    padding: 0 15px;
    font-size: 13px;
  }
  .static-collection .text-wrap .info h3 {
    font-size: 23px;
  }
  .static-collection .title {
    font-size: 16px;
  }
  .tab-mobile span {
    font-weight: bold;
  }
  .top-seach .quick-search {
    display: none;
  }
  .toogle-filter {
    cursor: pointer;
  }
  .block-layered-nav dd.hidden-tiny {
    display: none;
  }
  .is-sticky #typo-sticky-header {
    display: none;
  }
  .search-bottom {
    padding: 16px 0;
  }
  .search-bottom .form-search, .search-bottom .form-search:hover {
    max-width: 100%;
  }
  .typo-icon-ajaxcart .typo-cart-label .print, .typo-icon-ajaxcart .icon-dropdown {
    display: none;
  }
  .product-collateral h2.acctab {
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    font-weight: bold;
  }
  .product-collateral .product-tabs {
    display: none;
  }
  .product-collateral .box-collateral {
    padding-top: 10px;
  }
  .product-collateral .title-divider {
    display: none;
  }
  .postDetails .create-time {
    float: left;
    width: 100%;
  }
  .product-shop-view .top-product-name {
    margin-top: 30px;
  }

  /* checkout */
  .opc .step-title h2 {
    font-size: 14px;
  }
  .opc #checkout-step-billing .customer-name-middlename .field {
    width: 100%;
  }
  /* login - register */
  .log-reg-page .account-create {
    padding-left: 0;
    border: none;
  }

  /* top bar */
  .top-bar {
    text-align: left;
  }
  .social-topbar .social {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  /* widget tabs */
  .tab-mobile {
    display: inline-block;
  }
  .tab-mobile + .widget-tabs {
    position: absolute;
    top: 55px;
    left: 50%;
    margin: 0 0 0 -145px !important;
    padding: 15px 30px;
    width: 290px;
    height: auto;
    z-index: 11;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    text-align: left;
    opacity: 0;
    visibility: hidden;
  }
  .tab-mobile + .widget-tabs li {
    width: 100%;
  }
  .tab-mobile + .widget-tabs li:first-child:before {
    display: inline-block;
  }
  .tab-mobile + .widget-tabs li a {
    font-size: 14px;
    padding: 5px 0 5px 15px;
  }
  .tab-mobile + .widget-tabs.showing {
    opacity: 1;
    visibility: visible;
  }

  .catalog-category-view .top-direct, .catalog-product-view .top-direct, .tag-product-list .top-direct {
    height: 220px;
  }

  .footer-container .footer-static h3 {
    margin: 15px 0 10px 0;
  }
  .footer-container .footer-static h3 + ul {
    display: none;
  }
}
@media (max-width: 479px) {
  .col-tiny {
    width: 100%;
    left: auto;
    right: auto;
  }
  .map-popup .map-popup-heading h3 {
    text-align: center;
  }
  .map-popup .map-popup-content {
    text-align: center;
  }
  .map-popup .map-popup-checkout {
    text-align: center;
  }
  .map-popup .map-popup-checkout .button,
  .map-popup .map-popup-checkout .additional-addtocart-box,
  .map-popup .map-popup-checkout .paypal-logo a,
  .map-popup .map-popup-checkout .paypal-logo .paypal-or {
    float: none;
  }
  .map-popup .map-popup-checkout .additional-addtocart-box {
    min-width: 0;
  }
  .map-popup .map-popup-checkout .paypal-logo .paypal-or {
    margin: 0 0 10px;
  }
  .map-popup .map-popup-price {
    text-align: center;
    padding-top: 0;
  }

  .products-grid .item {
    width: 100%;
  }
  .toolbar .sorter .btn-open-filter {
    margin-left: 15px;
  }
  .toolbar .sorter .sort-by {
    margin-right: 15px;
  }
  .toolbar .sorter .bootstrap-select>.dropdown-toggle {
    max-width: 95px;
    overflow: hidden;
  }

  .rating-list {
    width: 100%;
  }
  .add-to-cart .btn-cart {
    margin: 0;
  }
  .add-to-cart > .qty {
    margin-bottom: 10px;
  }
  .product-shop-view .rating-links {
    display: block;
    margin: 10px 0;
  }
  .product-collateral .box-tags label {
    width: 100%;
  }
  .product-collateral .box-tags .input-box {
    padding: 0;
  }
  .product-collateral .box-tags .input-box input {
    max-width: 140px;
    margin: 0;
  }
  .btn-group-cart .text-tiny {
    display: none;
  }
  .grand-total {
    padding: 15px;
  }
  .cart-collaterals h2 {
    font-size: 15px;
  }
  .grand-total #shopping-cart-totals-table td {
    font-size: 14px;
  }
  .grand-total #shopping-cart-totals-table td strong {
    font-size: 16px;
  }
  .data-table td {
    padding: 3px;
  }
  /* checkout */
  .opc .step-title {
    padding: 15px;
  }
  .opc .step {
    padding: 0 15px 15px;
  }
  .opc #checkout-step-billing .billing-street .field,
  .opc #checkout-step-billing .billing-city-region .field,
  .opc #checkout-step-billing .billing-post-country .field,
  .opc #checkout-step-billing .billing-phone-fax .field {
    width: 100%;
  }
  .opc #checkout-step-review, .order-review {
    padding: 0;
  }
  .opc #checkout-step-review .data-table tr.last th {
    padding: 10px 2px;
    font-size: 12px;
  }
  .opc #checkout-step-review .data-table tbody td {
    padding: 2px;
    font-size: 12px;
  }
  .order-review .product-name {
    font-size: 13px;
  }
  .order-review .price {
    font-size: 12px;
  }
  #checkout-review-submit button {
    margin: 10px auto 30px auto;
  }
  .opc #checkout-step-review .data-table tfoot td {
    padding: 2px;
    font-size: 13px;
  }
  /* newsletter popup */
  .newsletter-content .newsletter-title h3 {
    font-size: 20px;
    margin: 35px 0 20px;
  }
  .newsletter-content .popup_message {
    padding: 0;
  }
  .newsletter-content .popup_message .intro {
    padding: 0;
  }
  .top-bar-wrap {
    width: 50%;
  }
  .main-slide-sidebar .row > div {
    width: 100%;
  }
}

