.rtl {
  text-align: right;
  /* Header ================================================================================ */
}
.rtl .error-msg,
.rtl .success-msg,
.rtl .note-msg,
.rtl .notice-msg {
  padding: 5px 32px 5px 8px;
}
.rtl .error-msg:before,
.rtl .success-msg:before,
.rtl .note-msg:before,
.rtl .notice-msg:before {
  left: auto;
  right: 5px;
}
.rtl .social {
  float: left;
}
.rtl .login-topbar {
  float: right;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 15px;
  margin-left: 15px;
}
.rtl .login-topbar:before {
  left: -1px;
  right: auto;
}
.rtl .register-topbar {
  float: right;
}
.rtl .compare-topbar {
  right: auto;
  left: 10px;
}
.rtl .compare-topbar .compare-list {
  margin-right: 0;
  margin-left: -80px;
}
.rtl .compare-topbar:hover .compare-list {
  margin-left: 0;
}
.rtl .compare-topbar .typo-ajax-container .view-compare .btn-remove-all {
  float: left;
}
.rtl #back-top {
  right: auto;
  left: 10px;
}
.rtl .currency-topbar {
  float: right;
}
.rtl .delimiter {
  float: right;
}
.rtl .language-topbar {
  float: right;
}
.rtl .language-topbar .lang-curr .title {
  padding-left: 0;
  padding-right: 25px;
  background-position: right center;
}
.rtl .language-topbar .lang-curr i,
.rtl .currency-topbar .currency-sym i {
  padding-left: 0;
  padding-right: 10px;
}
.rtl .typo-top-cart {
  text-align: left;
}
.rtl .typo-icon-ajaxcart .icon-cart {
  float: right;
}
.rtl .typo-icon-ajaxcart .typo-cart-label .print .items + span {
  display: none;
}
.rtl .ajaxcart {
  left: 0;
  right: auto;
}
.rtl .typo-ajax-container .product-image {
  float: right;
}
.rtl .typo-ajax-container .product-details {
  float: right;
  text-align: right;
}
.rtl .typo-ajax-container .btn-remove {
  right: auto;
  left: -5px;
}
.rtl .typo-ajax-container .typo-ajax-checkout .button {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .typo-ajax-container p.subtotal {
  text-align: left;
}
.rtl .typo-ajax-container p.subtotal .title {
  float: right;
}
.rtl .language-topbar .lang-list {
  right: 0;
  left: auto;
}
.rtl .language-topbar .lang-list ul li a {
  background-position: right center;
}
.rtl .currency-topbar .currency-list {
  right: 0;
  left: auto;
}
.rtl .currency-topbar .currency-list ul li a {
  padding-right: 0;
  padding-left: 15px;
}
.rtl .button-search {
  right: auto;
  left: 0;
}
.rtl .compare-topbar .compare-list .typo-ajax-container .view-compare button {
  float: right;
}
.rtl .is-sticky .sticky-icon-group {
  float: left;
  margin: 0 50px 0 -10px;
}
.rtl .is-sticky .logo-sticky {
  float: right;
  padding-left: 15px;
  padding-right: 0;
}
.rtl .is-sticky .nav-top-inner {
  text-align: left;
}
.rtl .is-sticky .nav-top-inner .typo-main-menu {
  text-align: right;
}
.rtl .is-sticky .typo-icon-ajaxcart .typo-cart-label .print .items {
  display: block;
}
.rtl .is-sticky .sticky-icon-group > div {
  float: right;
}
.rtl #typonav a {
  float: right;
}
.rtl .megamenu .fa {
  padding-left: 0;
  padding-right: 15px;
}
.rtl #typonav > li {
  float: right;
  text-align: right;
}
.rtl #typonav li.custom-block {
  float: right;
}
.rtl .settings .settings-inner {
  right: auto;
  left: 0;
}
.rtl .settings .language-topbar {
  float: none;
}
.rtl .settings .language-topbar .lang-list ul li a {
  background-position: center center;
}
.rtl .settings .setting-content {
  text-align: right;
}
.rtl .settings .language-topbar .lang-list ul li {
  float: right;
}
.rtl .settings .currency-topbar {
  float: none;
}
.rtl .settings .currency-topbar .currency-list ul li {
  float: right;
}
.rtl .settings .currency-topbar .currency-list ul li a {
  padding: 0 5px;
}
.rtl .settings .setting-option ul li a i {
  display: inline-block;
}
.rtl .sticky-search .quick-search .icon_close {
  left: 0;
  right: auto;
}
.rtl .widget-tabs > li:before {
  left: auto;
  right: -4px;
}
.rtl .blog-style .main-post-inner > span {
  margin-right: 0;
  margin-left: 27px;
}
.rtl .blog-style .main-post-inner i {
  margin-right: 0;
  margin-left: 12px;
  display: inline-block;
}
.rtl .subscribe .input-box input {
  padding: 0 20px 0 140px;
}
.rtl .subscribe .input-box button {
  right: 0;
  left: 10px;
}
.rtl .footer-container .footer-static ul li a > span {
  right: 0;
  left: auto;
}
.rtl .block-layered-nav dd li a {
  float: right;
  padding: 0 20px 0 0;
}
.rtl .block-layered-nav dd li a:before {
  right: 0;
  left: auto;
  top: 6px;
}
.rtl .sidebar ul.nav-accordion li a {
  padding: 11px 20px 11px 42px;
}
.rtl ul.nav-accordion li span.expand,
.rtl ul.nav-accordion li span.collapse {
  left: 0;
  right: auto;
}
.rtl .sidebar ul.nav-accordion li a:before {
  right: 0;
  left: auto;
}
.rtl .toolbar .sorter > div {
  float: right;
}
.rtl .toolbar .sorter .view-mode {
  float: left;
}
.rtl .toolbar .sorter .sort-by,
.rtl .toolbar .sorter .amount {
  margin-right: 0;
  margin-left: 50px;
}
.rtl .products-list + .toolbar-bottom .pager {
  text-align: right;
}
.rtl .block-blog .menu-categories ul li a:before,
.rtl .block-blog .menu-recent ul li a:before {
  left: auto;
  right: 0;
}
.rtl .toolbar .sorter .amount .count {
  display: none;
}
.rtl .block-layered-nav dt .toggle-class {
  text-align: left;
}
.rtl .product-shop-view p.required {
  right: auto;
  left: 0;
}
.rtl .input-box .validation-advice {
  right: auto;
  left: 0;
}
.rtl .postDetails .create-time {
  float: left;
}
.rtl input[type="radio"] + label:before {
  direction: ltr;
}
.rtl .a-right,
.rtl .text-right {
  text-align: left;
}
.rtl .a-left,
.rtl .text-left {
  text-align: right;
}
.rtl .acc-topbar {
  float: right;
}
.rtl .acc-topbar .acc-btn i {
  padding-left: 0;
  padding-right: 15px;
}
.rtl .compare-topbar .compare-list {
  right: auto;
  left: 0;
}
.rtl .log-reg-page .account-create {
  border-right: 1px solid #e5e5e5;
  padding-right: 50px;
  border-left: 0;
  padding-left: 0;
}
.rtl .toggle-class:before {
  left: 0;
  right: auto;
}
.rtl .opc .guest-reg .buttons-set button {
  float: left;
}
.rtl .not-found .form-search-404 .button-search {
  left: 10px;
  right: auto;
}
.rtl .toolbar .sorter .btn-open-filter {
  float: left;
  margin-left: 0;
  margin-right: 50px;
}
.rtl .column,
.rtl .columns {
  margin-left: 0;
  margin-right: 2.12766%;
  float: right;
}
.rtl .column:first-child,
.rtl .columns:first-child,
.rtl .alpha {
  margin-right: 0;
}
.rtl .cart-item-img {
  float: right;
}
@media (max-width: 991px) {
  .rtl .row-onestep .four.columns {
    width: 100%;
    float: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .rtl .settings-topbar {
    text-align: left;
  }
  .rtl .top-bar {
    text-align: right;
  }
  .rtl .compare-topbar {
    float: right;
  }
  .rtl .compare-topbar .compare-list {
    left: auto;
    right: 0;
  }
  .rtl .top-seach .menu-bar-btn button {
    float: right;
  }
  .rtl .tab-mobile + .widget-tabs {
    text-align: right;
  }
  .rtl .accordion-footer:before {
    right: auto;
    left: 0;
  }
  .rtl .log-reg-page .account-create {
    border-right: 0;
    padding-right: 0;
  }
}
