<?php
/**
 * @var Mage_Core_Block_Template $this
 */
?>
<script type="text/javascript">window.ymmAjaxUrl = '<?php echo $this->getUrl('ymm/search') ?>';</script>
<script type="text/javascript" src="<?php echo $this->getBaseUrl()?>js/aod/ymm.min.js"></script>