<?php
	$staticBlockId = 'block_product_tab1';
?>
<div class="box-collateral box-custom">
<?php if(!empty($staticBlockId)): ?>
	<div class="std"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($staticBlockId)->toHtml(); ?></div>
<?php endif; ?>
</div>