<?php
$theme = $this->helper('typologancee');
// $fluid_width = $theme->getThemeLayoutCfg('responsive/fluid_width');
$loading_page = $theme->getCfg('sidebar_blocks_home/loading_page');
?>
<script type="text/javascript">
    // page loading
    jQuery(document).ready(function($) {
        <?php if ($loading_page) : ?>
            $('body').append('<div class="page-loader"></div>');
            $('body').addClass('body-fixed');
            jQuery('.typo-container').removeClass('loaded');
        <?php else : ?>
            jQuery('.typo-container').addClass('loaded');
        <?php endif; ?>
        NProgress.configure({
            showSpinner: false,
            speed: 500,
            trickleRate: 0.1,
            trickleSpeed: 500
        });
        NProgress.start();
    });
    jQuery(window).load(function($) {
        setTimeout(function () {
            <?php if ($loading_page) : ?>
                jQuery('body').removeClass('body-fixed');
                jQuery('.page-loader').fadeOut('slow');
                jQuery('.typo-container').addClass('loaded');
            <?php endif; ?>
            NProgress.done();
        }, 300);

        // auto hide message
        if ($typo('.messages').length) {
            $typo('.messages').find('>li').append('<i aria-hidden="true" class="icon_close"></i>');
            $typo('.messages .icon_close').click(function(event) {
                $typo(this).parents('.messages').fadeOut();
            });
            setTimeout(function () {
                $typo('.messages').fadeOut();
            }, 10000);
        }
    });

    $typo(function($) {
        //lazyload
        $("img.lazy").lazy({
            effect : "fadeIn",
            effectTime: 800,
            threshold: 250,
            retinaAttribute: "data-src-retina"
        });
        //Back to top
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        //Quickview
        $(document).on('click', '.product-quickview', function(event) {
            event.preventDefault();
            $.colorbox({
                iframe: true,
                href:this.href,
                opacity:    0.8,
                speed:      300,
                current:    '{current} / {total}',
                close:      "close",
                width: '100%',
                height: '100%',
                maxWidth: '930px',
                maxHeight: '100%',
                fastIframe: true,
                fixed: true,
                className: 'box-quickview',
                close: '<i aria-hidden="true" class="icon_close"></i>',
                onOpen: function () {
                    $('#cboxLoadingGraphic').addClass('box-loading');
                },
                onComplete: function () {
                    setTimeout(function () {
                        $('#cboxLoadingGraphic').removeClass('box-loading');
                    }, 3000);
                }
            });
        });

        $(document).on('click', '.show-quickview', function(event) {
            event.preventDefault();
            if($('.btn-cart-mobile').length == 0){
                $(this).next().trigger('click');
            }else{
                return window.location.href=$(this).attr('data-submit');
            }
        });
    });
    
    $typo(".accordion-footer").addClass("accordion-show");
    $typo(".accordion-footer").click(function(){
        if($typo(this).parent().next().is(":visible")){
            $typo(this).addClass("accordion-show");
        }else{
            $typo(this).removeClass("accordion-show");
        }
        $typo(this).parent().next().toggle(400);
    });
    
    jQuery(document).ready(function() {
        jQuery('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });

    // button menum mobile
    (function() {
        "use strict";
        var toggles = document.querySelectorAll(".cmn-toggle-switch");
        for (var i = toggles.length - 1; i >= 0; i--) {
            var toggle = toggles[i];
            toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
            toggle.addEventListener("click", function(e) {
                e.preventDefault();
                (this.classList.contains("active") === true) ? this.classList.remove("active"): this.classList.add("active");
            });
        }
    })();

    jQuery(document).ready(function($) {
        // Home 04 - Fullpage
        if ($('#fullpage').length) {
            $('#fullpage > div').addClass('section moveDown');
            $('#fullpage').fullpage({
                // anchors: ['page01', 'page02', 'page03','page04','page05'],
                // autoScrolling: false,
                navigation: true,
                navigationPosition: 'right',
                sectionSelector: '.section',
                onLeave: function(index, nextIndex, direction){
                    //leaving 1st section
                    if(index == 1){
                       $('.sticky-wrapper').addClass('is-sticky');
                    }
                    //back to the 1st section
                    if(nextIndex == 1){
                        $('.sticky-wrapper').removeClass('is-sticky');
                    }
                }
            });
        };
        // Home 05 - Presentation
        if ($('#multiscroll').length) {
            $('#multiscroll').multiscroll({
                onLeave: function(index, newIndex, direction){
                    if(direction =='down'){
                        $('#multiscroll .ms-section').removeClass('moveUp moveDown');
                        $('#multiscroll .ms-section').eq(newIndex -1).addClass('moveUp');
                    }
                    else if(direction == 'up'){
                        $('#multiscroll .ms-section').removeClass('moveUp moveDown');
                        $('#multiscroll .ms-section').eq(newIndex -1).addClass('moveDown');
                    }
                }
            });
        };

        // Map - Disable scroll zooming and bind back the click event
        var onMapMouseleaveHandler = function (event) {
            var that = $(this);

            that.on('click', onMapClickHandler);
            that.off('mouseleave', onMapMouseleaveHandler);
            that.find('iframe').css("pointer-events", "none");
        }

        var onMapClickHandler = function (event) {
            var that = $(this);

            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);

            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");

            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }

        // Enable map zooming with mouse scroll when the user clicks the map
        $('.contact-map iframe').css('pointer-events', 'none');
        $('.contact-map').on('click', onMapClickHandler);
    });

    //Home 10 - Sidebar
    (function($){
        $(window).load(function(){
            if ($(".vheader-layout-1 .sb-header-menu").length) {
                $(".vheader-layout-1 .sb-header-menu").mCustomScrollbar({
                    theme:"dark-2",
                    scrollButtons:{
                        enable:false
                    }
                });
            }
            if ($(".vheader-layout-2 .sb-header-menu").length) {
                $(".vheader-layout-2 .sb-header-menu").mCustomScrollbar({
                    theme:"light-2",
                    scrollButtons:{
                        enable:false
                    }
                });
            }
        });
    })(jQuery);
</script>

