<?php
/**
 * @var TypoStores_TypoLogancee_Helper_Data $theme
 * @var Aod_Ymm_Block_Form_Small $this
 */
$theme = $this->helper('typologancee');
$hasVehicle = $this->hasSelectedVehicle();
?>
<form id="ymm-search">
    <div class="fields">
        <div class="field field--2-10">
            <h3>
            <?php if (!$theme->getIsHomePage()) :?>
                <span><?php echo $this->__('Select your vehicle:') ?></span>
            <?php elseif($hasVehicle): ?>
                <span><?php echo $this->__('Your selected vehicle:') ?></span>
            <?php else: ?>
                <span><?php echo $this->__('Get Started') ?></span>
                <small><?php echo $this->__('Select your vehicle:') ?></small>
            <?php endif ?>
            </h3>
        </div>
        <?php if($hasVehicle) :?>
            <div class="field field--2-3">
                <h3 class="selected-vehicle">
                    <span class="selected-vehicle__year"><?php echo $this->getVehicleYear() ?></span>
                    <span class="selected-vehicle__make"><?php echo $this->getVehicleMake() ?></span>
                    <span class="selected-vehicle__model"><?php echo $this->getVehicleModel() ?></span>
                </h3>
            </div>
            <div class="field field--1-3">
                <a href="#"><?php echo $this->__('Remove') ?></a>
            </div>
        <?php endif; ?>
        <div class="field field--7-10">
            <div class="fields">
                <div class="field field--1-3 field--year">
                    <div id="select-year" class="ymm-dropdown" data-dropdown data-dropdown-label="<?php echo $this->__('Select Year') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options">
                        <?php foreach($this->getYears() as $year) :?>
                            <div class="ymm-dropdown__option"><?php echo $year ?></div>
                        <?php endforeach ?>
                        </div>
                    </div>
                </div>
                <div class="field field--1-3 field--make">
                    <div id="select-make" class="ymm-dropdown ymm-dropdown--disabled" data-dropdown data-dropdown-label="<?php echo $this->__('Select Make') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options"></div>
                    </div>
                </div>
                <div class="field field--1-3 field--model">
                    <div id="select-model" class="ymm-dropdown ymm-dropdown--disabled" data-dropdown data-dropdown-label="<?php echo $this->__('Select Model') ?>">
                        <div class="ymm-dropdown__option ymm-dropdown__option--label">
                            <span class="ymm-dropdown__selected"></span>
                            <span class="ymm-dropdown__loading"><span></span><span></span><span></span></span>
                            <span class="ymm-dropdown__caret"></span>
                        </div>
                        <div class="ymm-dropdown__options"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field field--1-10">
            <button id="ymm-go" class="ymm-button ymm-button--disabled">
                <span class="ymm-button__text">Go</span>
                <span class="ymm-button__icon"></span>
            </button>
        </div>
    </div>
</form>
<script>
(function($, window, base_url) {
    var $go = $('#ymm-go');
    var selected = { year: null, make: null, v_model: null };
    var ajax = function(endpoint) {
        return $.ajax(base_url + 'ymm/ymmsearch/' + endpoint, {
            type: 'POST',
            dataType: 'JSON',
            data: selected
        });
    };

    var populate = function(id, items, none) {
        var $dd = $('#'+id);
        var $ddLabel = $dd.find('.ymm-dropdown__option--label');
        var $ddSelected = $ddLabel.find('.ymm-dropdown__selected');
        var $ddOptions = $dd.find('.ymm-dropdown__options');

        $dd.addClass('ymm-dropdown--disabled');
        $ddOptions.empty();
        $ddSelected.text($dd.data('dropdownLabel'));

        for(var i = 0; i < items.length; i++) {
            $ddOptions.append($('<div/>', {
                'text'  : items[i],
                'class' : 'ymm-dropdown__option'
            }));
        }

        if(items.length > 0) {
            $dd.removeClass('ymm-dropdown--disabled');
            $dd.removeClass('ymm-dropdown--loading');
            $dd.addClass('ymm-dropdown--active');
        }
    };

    $('[data-dropdown]').each(function() {
        var $dd = $(this);
        var $ddLabel = $dd.find('.ymm-dropdown__option--label');
        var $ddSelected = $ddLabel.find('.ymm-dropdown__selected');

        $ddSelected.text($dd.data('dropdownLabel'));

        $ddLabel.on('click', function() {
            if($dd.hasClass('ymm-dropdown--disabled'))
                return false;

            if($dd.hasClass('ymm-dropdown--active')) {
                $dd.removeClass('ymm-dropdown--active');
            } else {
                $dd.addClass('ymm-dropdown--active')
            }
        });

        $dd.on('click', '.ymm-dropdown__options .ymm-dropdown__option', function() {
            var $ddOption = $(this);
            $dd.find('.ymm-dropdown__options .ymm-dropdown__option').removeClass('ymm-dropdown__option--selected');
            $dd.removeClass('ymm-dropdown--active');

            $ddSelected.text($ddOption.text());
            $ddOption.addClass('ymm-dropdown__option--selected');
            $dd.trigger('change');
        });
    });

    $('#select-year').on('change', function() {
        selected.year = $(this).find('.ymm-dropdown__selected').text();
        $('#select-make').addClass('ymm-dropdown--loading');
        $go.addClass('ymm-button--disabled');
        ajax('get_makes').success(function(response) {
            populate('select-make', response.items);
        });
    });

    $('#select-make').on('change', function() {
        selected.make = $(this).find('.ymm-dropdown__selected').text();
        $('#select-model').addClass('ymm-dropdown--loading');
        $go.addClass('ymm-button--disabled');
        ajax('get_models').success(function(response) {
            populate('select-model', response.items)
        });
    });

    $('#select-model').on('change', function() {
        selected.v_model = $(this).find('.ymm-dropdown__selected').text();
        $go.removeClass('ymm-button--disabled');
    });

    $go.on('click', function(e) {
        e.preventDefault();

        if($(this).hasClass('ymm-button--disabled'))
            return false;

        var searchUrl = base_url + 'catalogsearch/advanced/result/?';
        for(var prop in selected)
            searchUrl += '&' + window.encodeURIComponent(prop) + '=' + window.encodeURIComponent(selected[prop]);

        window.location.href = searchUrl;
    });

})(window.jQuery, window, "<?php echo $this->getBaseUrl() ?>");
</script>