.main-heading .heading-wrapper-title h3, .widget-static-block .custom .title h2, .block .block-title strong span, .block .block-title strong span, .block .empty, .toolbar .toolbar-top .amount, .toolbar .toolbar-top .sorter .sort-by label, .toolbar .toolbar-top .limiter label, .toolbar p.typo-toolbar-label, .toolbar .toolbar-top .sorter .view-mode label, .toolbar .toolbar-top .pages strong, .product-view .product-shop .product-name h1, .std ul, .std ol, .std dl, .std p, .std address, .std blockquote, .product-view .product-shop .product-options dt label.required, .product-view .product-shop .product-options dd select, .page-title h1, .page-title h2, .page-title h3 { color:#000000; }
.product-name a, #my_recent_reviews .product-name a, .owl-theme .owl-controls .owl-buttons div .fa { color:#000000; }
.product-name a:hover, #my_recent_reviews .product-name a:hover, .owl-theme .owl-controls .owl-buttons div:hover .fa { color:#999999; }
a { color:#000000; }
a, .dropdown .text { color:#000000; }
a:hover {
  color:#999999;
  text-decoration:none;
}
.block-layered-nav dt { color:#000000; }
.block-poll .label label:hover { color:#999999; }
.desc.std { color:#666666; }
.main-quickview button.button { background-color:#ffffff; }
button.button, a.button {
  color:#000000;
  background-color:#ffffff;
  border-color:#999999;
}
button.button:hover, a.button:hover {
  color:#ffffff;
  border-color:#000000;
  background-color:#000000;
}
a.btn-readmore, .top-compare .typo-maincompare .clearall a { background-color:#ffffff; }
a.btn-readmore:hover, .top-compare .typo-maincompare .clearall a:hover {
  background-color:#000000;
  border-color:#000000;
}
a.btn-readmore, .top-compare .typo-maincompare .clearall a { color:#000000; }
.header-container .header .typo-ajax-checkout a { color:#000000; }
a.btn-readmore:hover, .top-compare .typo-maincompare .clearall a:hover, .nav-wrapper ul.direction-nav a:hover { color:#ffffff; }
.typo-ajax-checkout a:hover { color:#ffffff !important; }
.block-featured:hover .circle span { color:#ffffff; }
.add-to-links > div a {
  color:#999999;
  background-color:#ffffff;
  border-color:#999999;
}
.add-to-links > div a:hover {
  color:#ffffff;
  background-color:#999999;
  border-color:#999999;
}
.price { color:#000000; }
body {
  color:#000000;
  font-size:14px;
  font-family:Lato, arial, serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .typo-main-menu, .widget-tabs >li>a, .block .block-title, .typo-nav ul.nav-accordion li a, .product-collateral .product-tabs li a, .product-name { font-family:Montserrat, arial, serif; }
.settings, .toolbar, .block-layered-nav dt { font-family:Montserrat, arial, serif; }
.price { font-family:Lato, arial, serif; }
.tooltip { font-family:Montserrat, arial, serif; }
.vheader-layout-2 .language-topbar .lang-list ul, .vheader-layout-2 .currency-topbar .currency-list ul, .vheader-layout-2 .settings .setting-content, .vheader-layout-2 .typo-ajax-container, .home-sidebar .header-menu, .home-sidebar #typonav .sub-wrapper, .header-container .header-content { background-color:#1e1e1e; }
.header-container .sb-topbar, .header-container .header .header-top { background-color:#1e1e1e; }
.header, .header-container, .typo-sb-cart .price, .typo-sb-quicksearch  .form-search input#search, .typo-sb-quicksearch .button-search i { color:#999999; }
.header-container a, .header-top-inner a { color:#999999; }
.header-container a:hover, .header-top-inner a:hover { color:#ffffff; }
#typonav a {
  font-size:14px;
  text-transform:uppercase;
}
.nav-top { background-color:rgba(0,0,0,0); }
.is-sticky #typo-sticky-header .nav-top { background-color:rgba(0,0,0,0.95); }
#typonav li.active a.level-top, #typonav li a.level-top:hover { color:#ffffff; }
#typonav li.level0 > a, .typomenu-block a, #typonav li.level0 ul li.groups > a, #typonav li.level0 > a + .fa { color:#999999; }
#typonav li.level0 > a:hover, .typomenu-block a:hover, #typonav li.level0 ul li.groups > a:hover { color:#ffffff; }
#typonav li:hover a.level-top { color:#ffffff; }
.typo-menu { background-color:#2d2d2d; }
.title-canvas { color:#ffffff; }
.typo-menu a { background-color:transparent; }
.typo-menu a:hover { background-color:#3f3f3f; }
.typo-navigation-vertical .block-title, .sidebar .typo-navigation-vertical .block-title { background-color:#cfb985; }
.typo-navigation-vertical.block .block-title strong span { color:#343434; }
.megamenu-vertical li.level0 a, .main_side_left .typo-main-menu-vertical div.show-sub .groups a .title_group, .col-left .typo-main-menu-vertical div.show-sub .groups a .title_group, .main_side_left .typo-main-menu-vertical div.show-sub li .level1 li a, .col-left .typo-main-menu-vertical div.show-sub li .level1 li a { color:#3b3b3b; }
.megamenu-vertical li.level0 a:hover, .main_side_left .typo-main-menu-vertical div.show-sub .groups a:hover .title_group, .col-left .typo-main-menu-vertical div.show-sub .groups a:hover .title_group, .main_side_left .typo-main-menu-vertical div.show-sub li .level1 li a:hover, .col-left .typo-main-menu-vertical div.show-sub li .level1 li a:hover { color:#d02a21; }
body { background-color:#ffffff; }
.main-container { background-color:#ffffff; }
.product-shop .add-to-cart button.btn-cart, .category-products .products-grid .item .addtocart button.btn-cart { background-color:rgba(0,0,0,0); }
.product-shop .add-to-cart button.btn-cart span, .category-products .products-grid .item .addtocart button.btn-cart span { color:#000000; }
.product-shop .add-to-cart button.btn-cart:hover, .category-products .products-grid .item .addtocart button.btn-cart:hover { background-color:#000000; }
.product-shop .add-to-cart button.btn-cart:hover span, .category-products .products-grid .item .addtocart button.btn-cart:hover span { color:#ffffff; }
.product-collateral, .product-tabs { background-color:#ffffff; }
.product-collateral .product-tabs li a { color:#cccccc; }
.product-collateral .product-tabs li a:hover {
  background-color:#ffffff;
  color:#333333;
}
.product-collateral .product-tabs a:hover { color:#333333; }
.product-collateral .product-tabs li.active a { background-color:#ffffff; }
.product-collateral .product-tabs li.active a { color:#333333; }
.product-collateral .product-tabs-content-inner .std { color:#666666; }
.product-collateral .product-tabs-content-inner { background-color:#ffffff; }
.product-collateral .product-tabs-content-inner { color:#666666; }
.footer-container { background-color:#ffffff; }
.footer-container .footer-top a { color:#999999; }
.footer-container .footer-top a:hover { color:#000000; }
.footer-container .footer-top h3 { color:#000000; }
.footer-container .footer-top {
  color:#999999;
  background-color:#e7e7e7;
}
.footer-container .footer-bottom a { color:#999999; }
.footer-container .footer-bottom a:hover { color:#000000; }
.footer-container .footer-bottom {
  color:#999999;
  background-color:#e7e7e7;
}
.footer-container .footer-copyright {
  background-color:#e7e7e7;
  color:#999999;
}
.footer-copyright a { color:#000000; }
