<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<tr>
    <td class="label">
        <label for="<?php echo $this->getElement()->getHtmlId()?>"><?php echo $this->getElement()->getLabel()?></label>
    </td>
    <td class="value">
        <input
            id="<?php echo $this->getElement()->getHtmlId()?>"
            name="<?php echo $this->getElement()->getName()?>"
            value="<?php echo $this->getElement()->getValue()?>"
            title="<?php echo $this->getElement()->getTitle()?>"
            onclick="<?php echo $this->getElement()->getData('onclick')?>"
            onchange="<?php echo $this->getElement()->getData('onchange')?>"
            <?php if ($this->getElement()->getData('readonly') == true):?>readonly<?php endif ?>
            type="text"
            class="input-text"
            style="width:220px !important;vertical-align:top;"/>
        <?php echo  $this->getChildHtml('browserBtn') ?>
        <?php echo  $this->getChildHtml('clearBtn') ?>
        <?php if ($note = $this->getElement()->getData('note')):?>
        <p class="note" id="note_delay">
            <span><?php echo $note?></span>
        </p>
        <?php endif?>
    </td>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('typostores/jquery/jquery.min.js')?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('typostores/lib/jquery-migrate/jquery-migrate.min.js')?>"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="<?php echo   $this->getJsUrl('typostores/js/mcolorpicker/') ?>mcolorpicker.js"></script>
    <style>
        #<?php echo $this->getElement()->getHtmlId()?> { display: none;}
    </style>
    <script type="text/javascript">
        jQuery.fn.mColorPicker.init.replace = false;
        jQuery.fn.mColorPicker.defaults.imageFolder = "<?php echo   $this->getJsUrl('typostores/js/mcolorpicker/') ?>images/";
        jQuery.fn.mColorPicker.init.allowTransparency = true;
        jQuery.fn.mColorPicker.init.showLogo = false;
    </script>
</tr>
