<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php $element = $this->getElement()?>
<div id="instagram_feed" >
    <a class="form-button" style="text-decoration: none;" href="https://instagram.com/oauth/authorize/?client_id=407e58714dc14b19882d3ea2c67b7ded&redirect_uri=http://instagram.typo_stores.com?return_uri=<?php echo Mage::helper('core/url')->getCurrentUrl();?>&response_type=token" class="sbi_admin_btn"><?php echo __('Log in and get my Access Token and User ID'); ?></a>
</div>
<script type="text/javascript" src=""></script>
<script type="text/javascript">
    document.observe('dom:loaded', function(){
        //Autofill the token and id
        var hash = window.location.hash,
            token = hash.substring(14),
            id = token.split('.')[0];
        //If there's a hash then autofill the token and id
        if(hash){
            $('instagram_feed').insert('<div id="sbi_config_info"><p><b>Access Token: </b><input type="text" size=58 readonly value="'+token+'" onclick="this.focus();this.select()" title="To copy, click the field then press Ctrl + C (PC) or Cmd + C (Mac)."></p><p><b>User ID: </b></br><input type="text" size=12 readonly value="'+id+'" onclick="this.focus();this.select()" title="To copy, click the field then press Ctrl + C (PC) or Cmd + C (Mac)."></p><p>Copy and paste these into the fields below, or use a different Access Token and User ID if you wish.</p></div>');
            Fieldset.toggleCollapse('typostoresinstagram_configure', '<?php echo Mage::helper('core/url')->getCurrentUrl();?>');
        }
    });
</script>
