<?php
    $helper = Mage::helper('typowidget');
?>
<?php $post = $this->getPost(); ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="postWrapper post-detail-wrap">
        
    <?php $img = $helper->getImgBlog($post->getShortContent()); ?>
    <?php if ($img) : ?>
        <img class="img-responsive lazy" data-src="<?php echo Mage::getBaseUrl("media").$img; ?>" src="<?php echo $this->getSkinUrl('images/loader.gif') ?>" alt="<?php echo $post->getTitle(); ?>"/>
    <?php endif; ?>
    <div class="title-blog">
        <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
    </div>
   
    <div class="postDetails">
        <span><?php //echo Mage::helper('blog')->__('Posted'); ?><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></span>
        <label class="spac-post">|</label> <span class="created-post"><?php echo $post->getCreatedTime(); ?></span> <label class="spac-post">|</label>
        <?php if ($this->getCommentsEnabled()): ?>
            <span><?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" > <?php echo Mage::helper('blog')->__('Comments'); ?></a> </span>
        <?php endif; ?>
    </div>

    <div class="postContent"><?php echo $post->getPostContent(); ?></div>

    <div class="social-share">
        <div class="title"><?php echo $this->__('Share') ?>: </div>
        <ul class="social-listing">
            <li class="facebook">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" title="<?php echo $this->__('Share on Facebook') ?>" href="#" target="_blank" rel="nofollow" onclick="window.open('//www.facebook.com/sharer/sharer.php?u='+'<?php echo $post->getAddress(); ?>');return false;"><i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="twitter">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" title="<?php echo $this->__('Share on Twitter') ?>" rel="nofollow" target="_blank" onclick="window.open('//twitter.com/share?text=<?php echo $post->getTitle(); ?>&amp;url=<?php echo $post->getAddress(); ?>');return false;"><i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="linkedin">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" title="<?php echo $this->__('Share on LinkedIn') ?>" rel="nofollow" target="_blank" onclick="window.open('//www.linkedin.com/shareArticle?mini=true&amp;url=<?php echo $post->getAddress(); ?>&amp;title=<?php echo $post->getTitle(); ?>');return false;"><i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li class="tumblr">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" title="<?php echo $this->__('Share on Tumblr') ?>" rel="nofollow" target="_blank" onclick="window.open('//www.tumblr.com/share/link?url=<?php echo $post->getAddress(); ?>&amp;name=<?php echo $post->getTitle(); ?>');return false;"><i class="fa fa-tumblr"></i>
                </a>
            </li>
            <li class="google-plus">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" title="<?php echo $this->__('Share on Google Plus') ?>" rel="nofollow" target="_blank" onclick="window.open('//plus.google.com/share?url=<?php echo $post->getAddress(); ?>');return false;"><i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li class="pinterest">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" title="<?php echo $this->__('Pin this') ?>" rel="nofollow" target="_blank" onclick="window.open('//pinterest.com/pin/create/button/?url=<?php echo $post->getAddress(); ?>&amp;media=http%3A%2F%2Fdemo.cactusthemes.com%2Fnewstube%2Fwp-content%2Fuploads%2F2015%2F06%2F014-Surf-woman.jpg&amp;description=<?php echo $post->getTitle(); ?>');return false;"><i class="fa fa-pinterest"></i>
                </a>
            </li>
            <!-- <li class="email">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="mailto:?subject=<?php echo $post->getTitle(); ?>&amp;body=<?php echo $post->getAddress(); ?>" title="<?php echo $this->__('Email this') ?>"><i class="fa fa-envelope"></i>
                </a>
            </li> -->
            <li class="email">
                <a data-toggle="tooltip" data-placement="top" class="trasition-all" href="#" target="_blank" onclick="window.open('//mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;to&amp;su=<?php echo $post->getTitle(); ?>&amp;body=<?php echo $post->getAddress(); ?>&amp;ui=2&amp;tf=1');return false;" title="Gmail"><i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="tags"><?php echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>

    <?php echo $this->getBookmarkHtml($post) ?>
</div>

<!-- Comment Section -->

<?php if ($this->getCommentsEnabled()): ?>
    <?php $comments = $this->getComment(); ?>
    <div class="post-form-title"><a href="#commentBox" id="commentBox" ></a>
        <h2><?php echo $this->__('Post Comments') ?></h2>
    </div>

   
        <?php foreach ($comments as $comment) : ?>
            <div class="commentWrapper">
                <div class="commentDetails"><h4 class="username"><?php echo $comment->getUser(); ?></h4> <?php echo $this->__("posted on") ?> <?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
                <div class="commentContent"><?php echo nl2br($comment->getComment()); ?></div>
            </div>
        <?php endforeach; ?>
  


    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form id="postComment" method="post">
                    <fieldset class="group-select">
                        <ul class="form-list">
                            <li>

                                <div class="input-box aw-blog-comment-area">
                                    <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label>
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="button-set">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form id="postComment" method="post">
                <fieldset class="group-select">
                   
                    <ul class="form-list">
                        <li>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="input-box input-comm">
                                        <label for="user" class="required"><?php echo Mage::helper('blog')->__('Name') ?><em>*</em></label>
                                        <input name="user" id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" type="text" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="input-box input-comm">
                                        <label for="email" class="required"><?php echo Mage::helper('blog')->__('Email') ?><em>*</em></label>
                                        <input name="email" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="input-box aw-blog-comment-area">
                                <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label>
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            </div>
                        </li>

                        <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li><?php
                require_once 'recaptcha/recaptchalib-aw.php';

                // Get a key from http://recaptcha.net/api/getkey
                $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');
                $privatekey = Mage::getStoreConfig('blog/recaptcha/privatekey');
                $error = null;

                echo recaptcha_get_html($publickey, $error);
                            ?></li><?php
            }
                        ?>
                    </ul>
                </fieldset>
                <div class="button-set">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button form-button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>