@CHARSET "UTF-8";
.amfinder-vertical,

.amfinder-vertical .dropdown-title,

.amfinder-vertical .dropdown-element
{
	padding-bottom: 4px;
}

.amfinder-horizontal { display: block; }
.amfinder-horizontal .amfinder-title { display: none; }
.amfinder-horizontal .amfinder-title span { position: relative; }
.amfinder-horizontal .amfinder-toggle { padding: 10px; display: block; }
.amfinder-horizontal .amfinder-buttons { display: block; width: 100%; }
.amfinder-horizontal li { display: inline-block; min-width: 160px; margin-bottom: 20px; }
.amfinder-horizontal li.last { display: block; width: 100%; }
.amfinder-horizontal li div select { width: 100%; }
.amfinder-hide { display: none; }

@media only screen and (max-width: 770px) {
    .amfinder-horizontal li { display: block; width: 100%; margin-bottom: 20px; }
    .amfinder-horizontal .amfinder-toggle { border: 1px solid #cccccc; display: none; border-top: none; }
    .amfinder-horizontal .amfinder-title { display: block; color: #636363; font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif; font-size: 14px; font-style: normal; line-height: 1.4; text-transform: uppercase; background-color: #f4f4f4; border: 1px solid #cccccc; padding-bottom: 7px; padding-left: 24px; padding-right: 10px; padding-top: 10px; }
    .amfinder-horizontal .amfinder-title:hover { cursor: pointer; }
    .amfinder-horizontal .amfinder-title span:before { content: ''; position: absolute; width: 0; height: 0; display: block; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 4px solid #3399cc; border-right: none; left: -15px; top: 50%; margin-top: -5px; }
    .amfinder-horizontal.open .amfinder-title span:before { border-top: 4px solid #3399cc; border-bottom: none; border-left: 4px solid transparent; border-right: 4px solid transparent; }
    .amfinder-horizontal.open .amfinder-toggle { display: block; }
}