<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<tr>
    <td class="label">
        <label for="<?php echo $this->getElement()->getHtmlId()?>"><?php echo $this->getElement()->getLabel()?></label>
    </td>
    <td class="value">
        <input
            id="<?php echo $this->getElement()->getHtmlId()?>"
            name="<?php echo $this->getElement()->getName()?>"
            value="<?php echo $this->getElement()->getValue()?>"
            title="<?php echo $this->getElement()->getTitle()?>"
            onclick="<?php echo $this->getElement()->getData('onclick')?>"
            onchange="<?php echo $this->getElement()->getData('onchange')?>"
            readonly
            type="text"
            class="input-text"
            style="width:220px !important;vertical-align:top;"/>
        <button title="Click to browser media" type="button" class="scalable " onclick="Typo.MediabrowserUtility.openDialog('<?php echo Mage::getSingleton('adminhtml/url')->getUrl('adminhtml/cms_wysiwyg_images/index', array_merge(Mage::helper('typologancee')->checkSSL(), array(
                    'static_urls_allowed' => 1,
                    'target_element_id'   => $this->getElement()->getHtmlId(),
                ))); ?>')" style=""><span><span><span>...</span></span></span></button>
        <button title="Click to clear value" type="button" class="scalable " onclick="on_<?php echo $this->getElement()->getHtmlId() ?>_clear_click();" style=""><span><span><span>x</span></span></span></button>
        <?php //echo  $this->getChildHtml('browserBtn') ?>
        <?php //echo  $this->getChildHtml('clearBtn') ?>
        <?php if ($note = $this->getElement()->getData('note')):?>
        <p class="note" id="note_delay">
            <span><?php echo $note?></span>
        </p>
        <?php endif?>
    </td>
    <td class="scope-label"><?php echo !Mage::app()->isSingleStoreMode() ? Mage::helper('adminhtml')->__('[STORE VIEW]') : ''; ?></td>
</tr>
<script type="text/javascript">
    window.on_<?php echo $this->getElement()->getHtmlId()?>_clear_click = function(){
        var target = $('<?php echo $this->getElement()->getHtmlId()?>');
        if (target){
            target.value = '';
            if (fireEvent) fireEvent(target, 'change');
        }
    }
</script>
