<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$attributes = $this->getAttibuteOptions();
$id         = $this->getConfig('id');
$scroll     = $this->getConfig('scroll');
$title      = $this->getConfig('widget_title');

$column_count       = $this->getData('column_count');
$column_count_1600  = $this->getData('column_count_1600');
$column_count_1200  = $this->getData('column_count_1200');
$column_count_992   = $this->getData('column_count_992');
$column_count_768   = $this->getData('column_count_768');

if ($column_count_1600) {
    $grid_block = $this->helper('typowidget')->gridBlockWidget($column_count, $column_count_1600, $column_count_1200, $column_count_992, $column_count_768);
}
?>
<div class="widget-product-brands <?php echo $this->getConfig('classes') ?>" id="<?php echo $id ?>">
    <?php if ($title): ?>
        <div class="main-heading">
            <div class="heading-title">
                <h2><span><?php echo $this->__($title) ?></span></h2>
            </div>
        </div>
    <?php endif ?>
    <ul class="<?php echo $scroll==1 ? 'owl-carousel owl-theme ' : 'no-owl row' ?>">
        <?php foreach ($attributes as $attribute): ?>
            <li class="item <?php if ($scroll == 0) echo $grid_block; ?>">
                <?php if (isset($attribute['link'])): ?>
                    <a href="<?php echo $attribute['link'] ?>" title="<?php echo $attribute['label'] ?>">
                <?php endif ?>
                <?php if ($attribute['image']): ?>
                    <?php if ($scroll == 1): ?>
                        <img class="owl-lazy img-responsive" data-src="<?php echo $attribute['image'] ?>" alt="<?php echo $attribute['label'] ?>" src="<?php echo $attribute['image'] ?>" />
                    <?php else: ?>
                        <img src="<?php echo $attribute['image'] ?>" alt="<?php echo $attribute['label'] ?>" />
                    <?php endif ?>
                <?php else: ?>
                    <span><?php echo $attribute['label'] ?></span>
                <?php endif ?>
                <?php if (isset($attribute['link'])): ?>
                    </a>
                <?php endif ?>
            </li>
        <?php endforeach ?>
    </ul>
    <!-- Typo Widget -->
    <script type="text/javascript">
        new Typo.Widget('<?php echo $id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>,
            parallax: <?php echo $this->getConfig('parallax') ?>,
            kenburns: <?php echo $this->getConfig('kenburns') ?>
        });
    </script>
</div>
