<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$blocks     = $this->getBlocks();
$id         = $this->getConfig('id');
$scroll     = $this->getConfig('scroll');
$title      = $this->getConfig('widget_title');
?>
<div class="widget-block <?php echo $this->getConfig('classes') ?>" id="<?php echo $id ?>">
		<div class="block-static <?php echo $scroll==1 ? 'clearfix' : 'row' ?>">
		    <?php if ($title): ?>
		    <div class="block-title">
				<strong><span><?php echo $this->__($title) ?></span></strong>
			</div>
			<?php endif ?>
			 <div class="<?php echo $scroll==1 ? 'owl-carousel owl-theme ' : 'block-wrap' ?>">
				<?php foreach ($blocks as $block): ?>
					<div class="<?php echo $scroll==1 ? 'block-content clearfix' : $block['class']?>">
						<?php echo $block['content'] ?>
					</div>
				<?php endforeach ?>
			</div>
		</div>
    <!-- Typo Widget -->
    <script type="text/javascript">
        new Typo.Widget('<?php echo $id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>,
            parallax: <?php echo $this->getConfig('parallax') ?>,
            kenburns: <?php echo $this->getConfig('kenburns') ?>,
            countdown: <?php echo $this->getConfig('countdown') ?>,
            countdownConfig: null,
            countdownTemplate: '<div class="cd-sale day"><span class="num">%d</span><span class="unit">%td</span></div><div class="cd-sale hour"><span class="num">%h</span><span class="unit">%th</span></div><div class="cd-sale minute"><span class="num">%i</span><span class="unit">%ti</span></div><div class="cd-sale second"><span class="num">%s</span><span class="unit">%ts</span></div>',
        });
    </script>
</div>
