<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$blog = $this->getBlog();
$id         = $this->getConfig('id');
$scroll     = $this->getConfig('scroll');
$title      = $this->getConfig('widget_title');
$subtitle   = $this->getConfig('widget_subtitle');

$helper = Mage::helper('typowidget');
$date = Mage::getModel('core/date');
$showtitle  = $this->getConfig('showtitle');
$count              = $blog ? $blog->count() : 0;
$carousel           = $this->getData('scroll');
$row                = $this->getData('rowblog');
$column             = $carousel == 1 && $row == 1 ? $count : ($carousel == 1 && $row > 1 ? $row : $this->getData('column'));

$column_count       = $this->getData('column_count');
$column_count_1600  = $this->getData('column_count_1600');
$column_count_1200  = $this->getData('column_count_1200');
$column_count_992   = $this->getData('column_count_992');
$column_count_768   = $this->getData('column_count_768');

if ($column_count_1600) {
    $grid_block = $this->helper('typowidget')->gridBlockWidget($column_count, $column_count_1600, $column_count_1200, $column_count_992, $column_count_768);
}
?>
<div class="widget-blog blog-layout3 <?php echo $this->getConfig('classes') ?>" id="<?php echo $id ?>">
    <?php if ($title && $showtitle): ?>
        <h2 class="title-widget"><span><?php echo $this->__($title) ?></span></h2>
    <?php endif ?>
    <?php if ($subtitle): ?>
        <div class="subtitle-widget desc std"><span><?php echo $this->__($subtitle) ?></span></div>
    <?php endif ?>
    <?php $i = 0; foreach ($blog as $_item): ?>
        <?php if ($carousel == 1 && $row > 1 && $i == 0): ?>
            <div class="owl-carousel">
        <?php endif ?>
        <?php if ($i == 0 || ($row > 1 && $i % $row == 0)): ?>
        <div class="blog-cat">
        <ul class="blog-grid <?php if ($carousel == 0) echo 'row' ?> <?php echo ($carousel == 1 && $row == 1) ? 'owl-carousel owl-theme' : '' ?>">
    <?php endif ?>
        <?php $i++ ?>
        <li class="blog item <?php if ($carousel == 0) echo $grid_block; ?>">
            <?php
            $filepath = $helper->getImgBlog($_item->getShortContent());
            $namepath = $helper->getFileNamePath($filepath);
            $w = 580;
            $h = 580;
            $img = $helper->resizeImage($namepath[0], $w, $h, $namepath[1]);
            ?>
            <?php if ($img): ?>
                <?php if ($scroll): ?>
                    <a href="<?php echo $_item->getAddress(); ?>"><img class="img-responsive owl-lazy" data-src="<?php echo $img; ?>"
                                                                       alt="<?php echo $_item->getTitle(); ?>"
                                                                       src="<?php echo $this->getSkinUrl('images/blank-blog.png', Mage::helper('typologancee')->checkSSL()) ?>" width="<?php echo $w ?>" height="<?php echo $h ?>"/></a>
                <?php else: ?>
                    <a href="<?php echo $_item->getAddress(); ?>"><img class="img-responsive lazy" data-src="<?php echo $img; ?>"
                                                                       alt="<?php echo $_item->getTitle(); ?>"
                                                                       src="<?php echo $this->getSkinUrl('images/blank-blog.png', Mage::helper('typologancee')->checkSSL()) ?>" width="<?php echo $w ?>" height="<?php echo $h ?>"/></a>
                <?php endif; ?>
            <?php endif; ?>
            <div class="main-post">
                <div class="inner-main-post block-center">
                    <h3 class="title-post"><a href="<?php echo $_item->getAddress(); ?>"><?php echo $_item->getTitle(); ?></a></h3>
                    <span class="main-post-inner">
                                                <?php if($this->getConfig('showdate')): ?>
                                                    <span class="date-post"> <?php echo $date->date('m-d-Y', $_item->getCreatedTime()); ?></span>
                                                <?php endif; ?>
                        <?php if($this->getConfig('showauthor')): ?>
                            by <span class="user"> <?php echo substr($_item->getUser(), 0, 10); ?></span>
                        <?php endif; ?>

                        <?php if($this->getConfig('showcomment')): ?>
                            with <span class="comment-post"> <?php echo (int)$_item->getCommentCount() > 0 ? $_item->getCommentCount() : '0'; ?> <?php echo $this->__('Comments'); ?></span>
                        <?php endif; ?>
                    </span>
                    <?php if($this->getConfig('showintro')): ?>
                        <span class="text-post">
                        <?php echo $_item->getPostContent(); ?>
                    </span>
                    <?php endif; ?>
                    <?php if($this->getConfig('showreadmore')): ?>
                        <span class="readmore-post"><a href="<?php echo $_item->getAddress(); ?>"><?php echo $this->__('Read More'); ?></a> </span>
                    <?php endif; ?>
                </div>
            </div>
        </li>
        <?php if ($i == $count || $i == 0 || ($row > 1 && $i % $row == 0)): ?>
        </ul>
        </div>
    <?php endif ?>
        <?php if ($carousel == 1 && $row > 1 && $i == $count): ?>
            </div>
        <?php endif ?>
    <?php endforeach ?>
    <!-- Typo Widget -->
    <script type="text/javascript">
        new Typo.Widget('<?php echo $id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>,
            parallax: <?php echo $this->getConfig('parallax') ?>,
            kenburns: <?php echo $this->getConfig('kenburns') ?>
        });
    </script>
</div>
