<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
$blog = $this->getBlog();
$id         = $this->getConfig('id');
$scroll     = $this->getConfig('scroll');
$title      = $this->getConfig('widget_title');
$subtitle   = $this->getConfig('widget_subtitle');
$helper = Mage::helper('typowidget');
$date = Mage::getModel('core/date');
$showtitle  = $this->getConfig('showtitle');
$count              = $blog ? $blog->count() : 0;
$carousel           = $this->getData('scroll');
$row                = $this->getData('rowblog');
$column             = $carousel == 1 && $row == 1 ? $count : ($carousel == 1 && $row > 1 ? $row : $this->getData('column'));

$column_count       = $this->getData('column_count');
$column_count_1600  = $this->getData('column_count_1600');
$column_count_1200  = $this->getData('column_count_1200');
$column_count_992   = $this->getData('column_count_992');
$column_count_768   = $this->getData('column_count_768');

if ($column_count_1600) {
    $grid_block = $this->helper('typowidget')->gridBlockWidget($column_count, $column_count_1600, $column_count_1200, $column_count_992, $column_count_768);
}
?>
<div class="widget-blog blog-layout2 clearfix <?php echo $this->getConfig('classes') ?>" id="<?php echo $id ?>">
    <?php if ($title && $showtitle): ?>
        <div class="main-heading">
            <div class="heading-title">
                <h2><span><?php echo $this->__($title) ?></span></h2>  
            </div>
        </div>
    <?php endif ?>
    <?php if ($subtitle): ?>
        <div class="subtitle-widget desc std"><span><?php echo $this->__($subtitle) ?></span></div>
    <?php endif ?>
        <?php $i = 0; foreach ($blog as $_item): ?>
        <?php if ($carousel == 1 && $row > 1 && $i == 0): ?>
            <div class="owl-carousel">
        <?php endif ?>
         <?php if ($i == 0 || ($row > 1 && $i % $row == 0)): ?>
            <div class="blog-cat">
            <ul class="blog-grid <?php if ($carousel == 0) echo 'row' ?> <?php echo ($carousel == 1 && $row == 1) ? 'owl-carousel owl-theme' : '' ?>">
         <?php endif ?>
         <?php $i++ ?>
            <li class="blog item <?php if ($carousel == 0) echo $grid_block; ?>">
                <div class="main-post clearfix">
                    <h3 class="title-post"><a href="<?php echo $_item->getAddress(); ?>"><?php echo $_item->getTitle(); ?></a></h3>
                    <div class="main-post-inner">
                        <?php if($this->getConfig('showdate')): ?>
                        <span class="date-post"><?php echo $this->__('Post on') ?> <strong><?php echo $date->date('m-d-Y', $_item->getCreatedTime()); ?></strong></span>
                        <?php endif; ?>
                        <?php if($this->getConfig('showauthor')): ?>
                        <span class="user"><?php echo $this->__('by') ?> <strong><?php echo substr($_item->getUser(), 0, 10); ?></strong></span>
                        <?php endif; ?>
                        <?php if($this->getConfig('showcomment')): ?>
                        <span class="comment-post"><?php echo $this->__('with') ?> <?php echo (int)$_item->getCommentCount() > 0 ? $_item->getCommentCount() : '0'; ?> <strong><?php echo $this->__('Comments'); ?></strong></span>
                        <?php endif; ?>
                    </div>
                    <?php if($this->getConfig('showintro')): ?>
                    <div class="text-post">
                        <?php echo $_item->getPostContent(); ?>
                        <?php if($this->getConfig('showreadmore')): ?>
                        <div class="h5 readmore-post"><a href="<?php echo $_item->getAddress(); ?>"><?php echo $this->__('Continue'); ?> <i aria-hidden="true" class="arrow_right"></i></a> </div>
                        <?php endif; ?>
                    </div>
                    <?php endif; ?>
                </div>
                </li>
                <?php if ($i == $count || $i == 0 || ($row > 1 && $i % $row == 0)): ?>
                </ul>
                </div>
            <?php endif ?>
            <?php if ($carousel == 1 && $row > 1 && $i == $count): ?>
                </div>
            <?php endif ?>
        <?php endforeach ?>
    <!-- Typo Widget -->
    <script type="text/javascript">
        new Typo.Widget('<?php echo $id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>,
            parallax: <?php echo $this->getConfig('parallax') ?>,
            kenburns: <?php echo $this->getConfig('kenburns') ?>
        });
    </script>
</div>
