<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
/* @var $this TypoStores_Widget_Block_Widget */
$_id                = $this->getConfig('id');
$_title             = $this->getConfig('widget_title');
$t                  = microtime();
$pricePrefixId      = $_id;
?>
<?php if ($this->checkCollectionSize('collection', $this->getData('mode'))): ?>
<div class="widget-product-sidebar <?php echo $this->getConfig('classes') ?> hidden-xs" id="<?php echo $_id ?>">
    <?php if ($_title): ?>
    <div class="block main-heading">
        <div class="block-title">
            <strong><span><?php echo $this->__($_title) ?></span></strong>
        </div>
    </div>
    <?php endif ?>
    <?php echo $this->renderCollection('collection', $this->getData('mode'), 'typostores/widget/collection/collection_product_style_sidebar.phtml', $pricePrefixId) ?>

    <!-- Typo Widget -->
    <script type="text/javascript">
        new Typo.Widget('<?php echo $_id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>
        });
    </script>
</div>
<?php //Mage::log(microtime() - $t) ?>
<?php endif; ?>
