<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
/* @var $this TypoStores_Widget_Block_Widget */
$_id                = $this->getConfig('id');
$_title             = $this->getConfig('widget_title');
$pricePrefixId      = $_id;
?>
<?php if ($this->checkCollectionSize('collection', $this->getData('mode'))): ?>
<div class="block block-upsell">
    <div class="<?php echo $this->getConfig('classes') ?> category-products related-product upsell-product" id="<?php echo $_id ?>">
        <?php if ($_title): ?>
            <div class="main-heading">
                <div class="heading-title">
                    <h2><span><?php echo $this->__($_title) ?></span></h2>
                </div>
            </div>
        <?php endif; ?>
        <?php echo $this->renderCollection('collection', $this->getData('mode'), 'typostores/widget/collection/collection-upsell.phtml', $pricePrefixId) ?>
    </div>
</div>
<!-- Typo Widget -->
<script type="text/javascript">
    new Typo.Widget('<?php echo $_id ?>', {
        carousel: <?php echo $this->getConfig('carousel') ?>,
        carouselConfig: null,
        animation: <?php echo $this->getConfig('animation') ?>,
        parallax: <?php echo $this->getConfig('parallax') ?>,
        countdown: <?php echo $this->getConfig('countdown') ?>,
        countdownConfig: null,
            countdownTemplate: '<div class="cd-prosale day"><span class="num">%d</span><span class="unit">%td</span></div><div class="cd-prosale hour"><span class="num">%h</span><span class="unit">%th</span></div><div class="cd-prosale minute"><span class="num">%i</span><span class="unit">%ti</span></div><div class="cd-prosale second"><span class="num">%s</span><span class="unit">%ts</span></div>',
        kenburns: <?php echo $this->getConfig('kenburns') ?>
    });
</script>
<?php endif ?>
