<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
/* @var $this TypoStores_Widget_Block_Widget */
$_id                = $this->getConfig('id');
$_title             = $this->getConfig('widget_title');
$pricePrefixId      = $_id;

$theme = $this->helper('typologancee');
$relatedCheckbox = $theme->getCfg('product_page/related_products_checkbox');
?>
<?php if ($this->checkCollectionSize('collection', $this->getData('mode'))): ?>
<div class="block block-related">
    <div class="<?php echo $this->getConfig('classes') ?> category-products related-product" id="<?php echo $_id ?>">
        <?php if ($_title): ?>
            <div class="main-heading">
                <div class="heading-title">
                    <h2><span><?php echo $this->__($_title) ?></span></h2>
                </div>
            </div>
        <?php endif; ?>
        <?php echo $this->renderCollection('collection', $this->getData('mode'), 'typostores/widget/collection/related-collection.phtml', $pricePrefixId) ?>
        <?php if($relatedCheckbox):?>
        <p class="block-subtitle">
            <?php echo $this->__('Check items to add to the cart or') ?>&nbsp;
            <a href="#" onclick="selectAllRelated(this); return false;" style="font-weight: bold"><?php echo $this->__('select all') ?></a>
        </p>
        <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML = "<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML = "<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for (var i=0; i<checkboxes.length; i++){
            if (checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if ($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
</script>
<!-- Typo Widget -->
<script type="text/javascript">
    new Typo.Widget('<?php echo $_id ?>', {
        carousel: <?php echo $this->getConfig('carousel') ?>,
        carouselConfig: null,
        animation: <?php echo $this->getConfig('animation') ?>,
        parallax: <?php echo $this->getConfig('parallax') ?>,
        countdown: <?php echo $this->getConfig('countdown') ?>,
        countdownConfig: null,
        countdownTemplate: '<div class="cd-prosale day"><span class="num">%d</span><span class="unit">%td</span></div><div class="cd-prosale hour"><span class="num">%h</span><span class="unit">%th</span></div><div class="cd-prosale minute"><span class="num">%i</span><span class="unit">%ti</span></div><div class="cd-prosale second"><span class="num">%s</span><span class="unit">%ts</span></div>',
        kenburns: <?php echo $this->getConfig('kenburns') ?>
    });
</script>
<?php endif ?>
