<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<?php
/* @var $this TypoStores_Widget_Block_Widget */
$id         = $this->getConfig('id');
$title      = $this->getConfig('widget_title');
// $title      = $this->stripTags($title);
$tabs       = $this->getTabs();
$template   = 'typostores/widget/collection/collection.phtml';
$t          = microtime();
?>
<div class="widget-product-tab <?php echo $this->getConfig('classes') ?>" id="<?php echo $id ?>">
    <div class="tabs-collection">
        <?php if ($title): ?>
        <div class="main-heading">
            <div class="heading-title">
                <h2><span><?php echo $this->__($title) ?></span></h2>
            </div>
        </div>
        <?php endif ?>
        <div class="tabs-wrap">
            <div class="tab-mobile h3"><i class="icon-options-vertical icons"></i><span><?php echo $this->__('Collections') ?></span></div>
            <ul class="widget-tabs nav nav-tabs">
                <?php foreach ($tabs as $index => $tab): ?>
                    <li class="<?php echo $index==0 ? 'active' : '' ?>">
                        <a href="#<?php echo $id . '-' . $tab['id'] ?>"
                            data-value="<?php echo $tab['value'] ?>"
                            data-type="<?php echo $tab['type'] ?>"
                            data-limit="<?php echo $this->getLimit() ?>"
                            data-column="<?php echo $this->getConfig('column') ?>"
                            data-column_count="<?php echo $this->getConfig('column_count') ?>"
                            data-column_count_1600="<?php echo $this->getConfig('column_count_1600') ?>"
                            data-column_count_1200="<?php echo $this->getConfig('column_count_1200') ?>"
                            data-column_count_768="<?php echo $this->getConfig('column_count_768') ?>"
                            data-row="<?php echo $this->getConfig('row') ?>"
                            data-pricePrefixId="<?php echo $id . '-' . $tab['id'] ?>"
                            data-cid="<?php echo $this->getData('category_ids') ?>"
                            data-template="<?php echo $template ?>"
                            data-carousel="<?php echo $this->getConfig('scroll') ?>">
                            <?php echo $this->__($tab['label']) ?>
                        </a>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
    <div class="widget-tab-content tab-content">
        <?php foreach ($tabs as $index => $tab): ?>
            <div id="<?php echo $id . '-' . $tab['id'] ?>" class="tab-pane<?php echo $index==0 ? ' active' : '' ?>">
            <?php if ($index > 0): ?>
                </div>
                <?php continue ?>
            <?php endif ?>
                <?php $pricePrefixId = $id . '-' . $tab['id'] ?>
                <?php echo $this->renderCollection($tab['type'], $tab['value'], $template, $pricePrefixId) ?>
            </div>
        <?php endforeach ?>
    </div>
    <!-- Typo Widget -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.tab-mobile').on('click', function(event) {
                event.preventDefault();
                $(this).find('+ .widget-tabs').toggleClass('showing');
            });
            $(document).on('click', function(event) {
                if (!$(event.target).closest('.tab-mobile').length) {
                    $('.widget-tabs').removeClass('showing');
                }
            });
            $('.widget-tabs >li>a').on('click', function(event) {
                $(this).parents('.widget-tabs').removeClass('showing');
            });
        });
        new Typo.Widget('<?php echo $id ?>', {
            carousel: <?php echo $this->getConfig('carousel') ?>,
            carouselConfig: null,
            animation: <?php echo $this->getConfig('animation') ?>,
            collectionUrl: '<?php echo $this->getUrl('typowidget/collection/get', Mage::helper('typologancee')->checkSSL()) ?>',
            collectionCallback: function(){},
            spinnerClass: 'spinner',
            spinnerImg: '<?php echo $this->getSkinUrl('images/loader.gif', Mage::helper('typologancee')->checkSSL()) ?>',
            parallax: <?php echo $this->getConfig('parallax') ?>,
            countdown: <?php echo $this->getConfig('countdown') ?>,
            countdownConfig: null,
            countdownTemplate: '<div class="cd-prosale day"><span class="num">%d</span><span class="unit">%td</span></div><div class="cd-prosale hour"><span class="num">%h</span><span class="unit">%th</span></div><div class="cd-prosale minute"><span class="num">%i</span><span class="unit">%ti</span></div><div class="cd-prosale second"><span class="num">%s</span><span class="unit">%ts</span></div>',
            kenburns: <?php echo $this->getConfig('kenburns') ?>
        });
    </script>
</div>
<?php //Mage::log(microtime() - $t) ?>
