<?php
/**
 * ┌┬┐┬ ┬┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐ ┌─┐┌─┐┌┬┐
 *  │ └┬┘├─┘│ │└─┐ │ │ │├┬┘├┤ └─┐ │  │ ││││
 *  ┴  ┴ ┴  └─┘└─┘ ┴ └─┘┴└─└─┘└─┘o└─┘└─┘┴ ┴
 *
 * @copyright    Copyright (C) 2015 typostores.com. All Rights Reserved.
 *
 */
?>
<!-- confirm dialog templates -->
<div id="confirm_dialog" class="white-popup mfp-hide">
    <p class="content"></p>
    <div class="button-set">
        <button  type="button" class="button btn_ok">
            <span><span class="btn_text"><?php echo $this->__('Ok');?></span></span>
        </button>
        <button  type="button" class="button btn_cancel">
            <span><span class="btn_text"><?php echo $this->__('Cancel');?></span></span>
        </button>
    </div>
</div>
<!-- END : confirm dialog templates -->
<?php if(Mage::getStoreConfigFlag('typostores_onestepcheckout/compatibility/is_load_jquery')) :?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl("typostores/onestepcheckout/jquery/jquery.min.js") ;?>"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
<?php endif;?>
<?php if(Mage::getStoreConfigFlag('typostores_onestepcheckout/compatibility/is_load_jqueryui')) :?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl("typostores/onestepcheckout/jquery/jquery-ui.js") ;?>"></script>
<?php endif;?>
<?php
    //
    //'onestepcheckout/jquery/jquery-ui.js'
//typostores_onestepcheckout/compatibility/is_load_jquery
//typostores_onestepcheckout/compatibility/is_load_jqueryui
    $jsScripts = array(
        //'onestepcheckout/jquery/jquery-ui.js',
        'typostores/onestepcheckout/jquery/handlebars.js',
        'typostores/onestepcheckout/jquery/jquery.tmpl.min.js',
        'typostores/onestepcheckout/jquery/jquery.metadata.js',
        'typostores/onestepcheckout/mage/translate.js',
        'typostores/onestepcheckout/jquery/jquery.validate.js',
        'typostores/onestepcheckout/mage/validation.js',
        'typostores/onestepcheckout/mage/validation/validation.js',
        'typostores/onestepcheckout/mage/validation/cc-type.js',
        'typostores/onestepcheckout/jquery/spin.min.js',
        'typostores/onestepcheckout/jquery/magnific-popup/jquery.magnific-popup.min.js',
        'typostores/onestepcheckout/jquery/jquery.blockUI.js',
        'typostores/onestepcheckout/util.js',
        'typostores/onestepcheckout/opcheckout.js'

    );
    foreach ($jsScripts as $script):
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl($script) ;?>"></script>
 <?php endforeach;?>
<?php echo $this->helper('typostores_onestepcheckout/js')->getTranslatorScript() ?>
<script type="text/javascript">
    //<![CDATA[


   window.addEventListener('load', function () {
        (function ($, window) {

            $("#checkoutSteps").onestepcheckout(
            {
                autoDetectLocation : '<?php echo Mage::getStoreConfigFlag('typostores_onestepcheckout/general/autodetectlocation');?>',
                autoDetectUrl : '<?php echo Mage::helper('typostores_onestepcheckout')->getGeoIpUrl();?>',
                submitUrl: '<?php echo Mage::helper('typostores_onestepcheckout')->getSubmitUrl();?>',
                saveStepUrl: '<?php echo Mage::helper('typostores_onestepcheckout')->getSaveStepUrl();?>',

                review: {
                    saveUrl: '<?php echo $this->getUrl('onestepcheckout/index/savePost', array('_secure' => true, 'form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>',
                    successUrl: '<?php echo $this->getUrl('checkout/onepage/success', array('_secure' => true)) ?>',
                    updateCarUrl: '<?php echo $this->getUrl('onestepcheckout/index/updateCart', array('_secure' => true)) ?>',
                    clearCartItemUrl : '<?php echo $this->getUrl('onestepcheckout/index/clearCartItem', array('_secure' => true)) ?>',
                    corfirmRemoveCartItemMsg : '<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?');?>'
                },
                coupon: {
                    applyCouponUrl: '<?php echo $this->getUrl('onestepcheckout/index/applyCoupon', array('_secure' => true)) ?>',
                },
                termErrorMsg: '<?php echo $this->__('Please accept terms and conditions')?>',
                billing : {
                    checkExistsUrl : '<?php echo $this->getUrl('onestepcheckout/index/checkExistsEmail', array('_secure' => true)) ?>',
                    checkExistsMsg: '<?php echo $this->__('There is already a customer registered using this email address. Please login using this email address or enter a different email address to register your account.');?>',
                    'alwaysUseShippingAsBilling' : '<?php echo Mage::getStoreConfig('typostores_onestepcheckout/shippingaddress/alwaysusesameasbilling');?>'
                },
                login : {
                    loginUrl : '<?php echo $this->getUrl('onestepcheckout/index/login', array('_secure' => true)) ?>'
                },
                confirmCheckEmail : {
                    login_btn_text: '<?php echo $this->__("Login Now");?>',
                    cancel_btn_text: '<?php echo $this->__("Change your email");?>',
                },
                checkoutProcess:{
                    shipping_method : {
                        loading_payment : '<?php echo Mage::getStoreConfigFlag('typostores_onestepcheckout/checkout_process/shipping_method_is_loading_payment');?>'

                    },
                    'payment' : {
                        loading_shipping_method : '<?php echo Mage::getStoreConfigFlag('typostores_onestepcheckout/checkout_process/shipping_method_is_loading_payment');?>',

                    }
                }

            }
            );
        })(jQuery, window);
    }, false);

    //for billing address
    regionUpdate = function () {
        (function ($) {
            head.js(
                "<?php echo $this->getSkinUrl('typostores/onestepcheckout/region-updater.js') ?>",
                function () {
                    $('#billing\\:country_id').regionUpdater({
                        defaultRegion: "<?php echo $this->getBillingAddress()->getRegionId() ?>",
                        optionalRegionAllowed: <?php echo (Mage::getStoreConfig('general/region/display_all')? 'true' : 'false'); ?>,

                        countriesWithOptionalZip: <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>,
                        regionListId: '#billing\\:region_id',
                        regionInputId: '#billing\\:region',
                        postcodeId: '#billing\\:postcode',
                        regionJson: <?php echo Mage::helper('directory')->getRegionJson() ?>,

                        countriesWithOptionalZip: <?php  echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>,
                        clearError: function() {
                            var selectorArr = ['#billing\\:region_id', '#billing\\:region', '#billing\\:postcode'];
                            for (var i = 0; i < selectorArr.length; i++) {
                                $(selectorArr[i]).removeClass('validation-failed').next("div.validation-advice").remove();
                            }
                        }

                    });
                    $('#shipping\\:country_id').regionUpdater({

                        optionalRegionAllowed: <?php echo (Mage::getStoreConfig('general/region/display_all')? 'true' : 'false'); ?>,
                        regionListId: '#shipping\\:region_id',
                        regionInputId: '#shipping\\:region',
                        postcodeId: '#shipping\\:postcode',
                        regionJson: <?php echo Mage::helper('directory')->getRegionJson() ?>,
                        defaultRegion: "<?php echo $this->getShippingAddress()->getRegionId() ?>",
                        countriesWithOptionalZip: <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>,
                        clearError: function() {
                            var selectorArr = ['#shipping\\:region_id', '#shipping\\:region', '#shipping\\:postcode'];
                            for (var i = 0; i < selectorArr.length; i++) {
                                $(selectorArr[i]).removeClass('validation-failed').next("div.validation-advice").remove();
                            }
                        }
                    });
                });

        })(jQuery);

    }

    window.addEventListener('load', regionUpdate, false);


    //]]>
 </script>
