<?php
    $iscat = $this->helper('catalogcategorysearch')->isCategoryPage();
    $isres = $this->helper('catalogcategorysearch')->isSearchResultsPage();
    $issel = $this->getCurrentlySelectedCategoryId();
?>
<div class="form-search form-cat-search">
    <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
        <?php $categorySearchHelper = $this->helper('catalogcategorysearch'); ?>
        <select class="cat-search" id="<?php echo $categorySearchHelper->getCategoryParamName() ?>" name="<?php echo $categorySearchHelper->getCategoryParamName() ?>" data-width="120">
            <option value=""><?php echo $this->__('All Categories') ?></option>
            <?php foreach ($this->getSearchableCategories() as $mainCategory): ?>
                <option value="<?php echo $mainCategory->getEntityId()?>" <?php if(($iscat || $isres) && $mainCategory->getEntityId()==$issel) {echo 'selected';} ?>><?php echo $mainCategory->getName() ?></option>
                <?php if ($categorySearchHelper->showSubCategories()) : ?>
                    <?php foreach ($this->getSearchableSubCategories($mainCategory) as $category) : ?>
                        <option value="<?php echo $category->getEntityId()?>" <?php if(($iscat || $isres) && $category->getEntityId()==$issel) {echo 'selected';} ?>><?php echo $categorySearchHelper->getIndentationText() . $category->getName()?></option>
                    <?php endforeach;?>
                <?php endif ?>
            <?php endforeach;?>
        </select>
        <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" class="input-text" placeholder="<?php echo $this->__('Search') ?>..." />
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button-search">
            <span><i aria-hidden="true" class="icon_search"></i></span>
        </button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
    </form>
</div>

<script type="text/javascript">
//<![CDATA[
<?php //if ($this->helper('catalogcategorysearch')->isCategoryPage() || $this->helper('catalogcategorysearch')->isSearchResultsPage()) : ?>
    // Event.observe(window, 'load', function(){
    //     $$('select#<?php echo $this->helper('catalogcategorysearch')->getCategoryParamName() ?> option').each(function(o) {
    //         if (o.value == '<?php echo $this->getCurrentlySelectedCategoryId() ?>') {
    //             o.selected = true;
    //             throw $break;
    //         }
    //     });
    //     escapedQueryText = '<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>';
    //     if (escapedQueryText !== '') {
    //         $('search').value = escapedQueryText;
    //     }
    // });
<?php //endif; ?>
    var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
    searchForm.initAutocomplete('<?php echo $this->helper("catalogsearch")->getSuggestUrl() ?>', 'search_autocomplete');
//]]>
    jQuery(document).ready(function($) {
        $('.cat-search').selectpicker();
    });
</script>
